@keyframes color {
  0% {
    background: #33CCCC; }
  20% {
    background: #33CC36; }
  40% {
    background: #B8CC33; }
  60% {
    background: #FCCA00; }
  80% {
    background: #33CC36; }
  100% {
    background: #33CCCC; } }
.animation-backgrounds-1 section.section.bg-animation {
  background: #33CCCC;
  /* Fallback */
  animation: color 9s infinite linear;
  text-align: center;
  padding: 2em; }
.animation-backgrounds-1 .btn {
  background-color: rgba(255, 255, 255, 0) !important;
  color: #ffffff !important;
  border-color: #ffffff !important;
  border-width: 2px !important;
  border-radius: 33px !important; }
  .animation-backgrounds-1 .btn:hover {
    background-color: #ffffff !important;
    color: #32c028 !important;
    border-color: #ffffff !important; }

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
.animation-backgrounds-2 section.section.bg-animation {
  background-size: 300% 300%;
  background-image: linear-gradient(-45deg, #3bade3 0%, #576fe6 25%, #9844b7 51%, #ff357f 100%);
  animation: AnimateBG 20s ease infinite; }
.animation-backgrounds-2 .btn {
  background-color: rgba(255, 255, 255, 0) !important;
  color: #ffffff !important;
  border-color: #ffffff !important;
  font-size: 16px !important;
  padding: 0.9em 2em !important; }
  .animation-backgrounds-2 .btn:hover {
    background-color: #ffffff !important;
    color: #006aff !important; }

.animation-backgrounds-3 {
  /* Animate Background*/
  /* ============= Animation background ========= */ }
@keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1; }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0; } }
  .animation-backgrounds-3 .container-fluid.animation {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background: #FFF; }
  .animation-backgrounds-3 .background {
    background: linear-gradient(132deg, #FC415A, #591BC5, #212335);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0px; }
  .animation-backgrounds-3 .cube {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #D7D4E4;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 12s ease-in forwards infinite; }
  .animation-backgrounds-3 .cube:nth-child(2n) {
    border-color: #FFF; }
  .animation-backgrounds-3 .cube:nth-child(2) {
    animation-delay: 2s;
    left: 25vw;
    top: 40vh; }
  .animation-backgrounds-3 .cube:nth-child(3) {
    animation-delay: 4s;
    left: 75vw;
    top: 50vh; }
  .animation-backgrounds-3 .cube:nth-child(4) {
    animation-delay: 6s;
    left: 90vw;
    top: 10vh; }
  .animation-backgrounds-3 .cube:nth-child(5) {
    animation-delay: 8s;
    left: 10vw;
    top: 85vh; }
  .animation-backgrounds-3 .cube:nth-child(6) {
    animation-delay: 10s;
    left: 50vw;
    top: 10vh; }
  .animation-backgrounds-3 .btn {
    background-color: #b500da !important;
    color: #ffffff !important;
    font-size: 18px !important;
    padding: 0.9em 2em !important;
    border-color: #b500da !important; }
    .animation-backgrounds-3 .btn:hover {
      background-color: rgba(255, 0, 0, 0) !important;
      color: #ffffff !important;
      border-color: #ffffff !important; }

.animation-backgrounds-4 {
  margin: 0;
  overflow: hidden; }
  .animation-backgrounds-4 .background {
    width: 100vw;
    height: 100vh;
    background: #3E1E68; }
  .animation-backgrounds-4 .background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation-name: move;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }
    .animation-backgrounds-4 .background span:nth-child(1) {
      color: #E45A84;
      top: 83%;
      left: 34%;
      animation-duration: 10.5s;
      animation-delay: -10.3s;
      transform-origin: -4vw -21vh;
      box-shadow: 40vmin 0 7.4050508148vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(2) {
      color: #FFACAC;
      top: 5%;
      left: 2%;
      animation-duration: 12.1s;
      animation-delay: -14.3s;
      transform-origin: -10vw -5vh;
      box-shadow: 40vmin 0 7.950134217vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(3) {
      color: #E45A84;
      top: 66%;
      left: 14%;
      animation-duration: 15.9s;
      animation-delay: -9.3s;
      transform-origin: -20vw 14vh;
      box-shadow: -40vmin 0 6.22014463vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(4) {
      color: #583C87;
      top: 100%;
      left: 83%;
      animation-duration: 13s;
      animation-delay: -13s;
      transform-origin: -20vw -3vh;
      box-shadow: 40vmin 0 11.4033978452vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(5) {
      color: #FFACAC;
      top: 84%;
      left: 94%;
      animation-duration: 14.3s;
      animation-delay: -11.7s;
      transform-origin: 18vw 7vh;
      box-shadow: -40vmin 0 8.7732146936vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(6) {
      color: #583C87;
      top: 72%;
      left: 45%;
      animation-duration: 10.2s;
      animation-delay: -2.1s;
      transform-origin: 3vw -22vh;
      box-shadow: -40vmin 0 12.4042242642vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(7) {
      color: #E45A84;
      top: 5%;
      left: 37%;
      animation-duration: 15.8s;
      animation-delay: -3.9s;
      transform-origin: 5vw -1vh;
      box-shadow: 40vmin 0 9.5267085567vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(8) {
      color: #583C87;
      top: 61%;
      left: 58%;
      animation-duration: 13.4s;
      animation-delay: -3.8s;
      transform-origin: -10vw -15vh;
      box-shadow: -40vmin 0 13.5822961623vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(9) {
      color: #E45A84;
      top: 88%;
      left: 31%;
      animation-duration: 10.8s;
      animation-delay: -2.4s;
      transform-origin: -11vw -3vh;
      box-shadow: 40vmin 0 12.0455204053vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(10) {
      color: #E45A84;
      top: 62%;
      left: 1%;
      animation-duration: 13.9s;
      animation-delay: -11.6s;
      transform-origin: -18vw -4vh;
      box-shadow: -40vmin 0 13.3302302066vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(11) {
      color: #E45A84;
      top: 86%;
      left: 77%;
      animation-duration: 10.9s;
      animation-delay: -10.4s;
      transform-origin: 9vw -6vh;
      box-shadow: 40vmin 0 7.3679558175vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(12) {
      color: #583C87;
      top: 62%;
      left: 13%;
      animation-duration: 13.7s;
      animation-delay: -8.7s;
      transform-origin: -21vw 5vh;
      box-shadow: 40vmin 0 11.0365501258vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(13) {
      color: #E45A84;
      top: 70%;
      left: 29%;
      animation-duration: 11.4s;
      animation-delay: -4.7s;
      transform-origin: 11vw 10vh;
      box-shadow: 40vmin 0 12.3296610386vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(14) {
      color: #FFACAC;
      top: 79%;
      left: 44%;
      animation-duration: 12.5s;
      animation-delay: -6.7s;
      transform-origin: -13vw 10vh;
      box-shadow: -40vmin 0 5.854082251vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(15) {
      color: #FFACAC;
      top: 7%;
      left: 36%;
      animation-duration: 14.7s;
      animation-delay: -3.6s;
      transform-origin: 22vw 24vh;
      box-shadow: 40vmin 0 5.0920850646vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(16) {
      color: #583C87;
      top: 10%;
      left: 49%;
      animation-duration: 14.6s;
      animation-delay: -9.7s;
      transform-origin: -11vw -24vh;
      box-shadow: 40vmin 0 9.8192487968vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(17) {
      color: #E45A84;
      top: 33%;
      left: 37%;
      animation-duration: 11.5s;
      animation-delay: -11.4s;
      transform-origin: -11vw -7vh;
      box-shadow: -40vmin 0 14.5206977925vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(18) {
      color: #583C87;
      top: 23%;
      left: 15%;
      animation-duration: 13s;
      animation-delay: -6.3s;
      transform-origin: -14vw -17vh;
      box-shadow: -40vmin 0 5.0585128504vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(19) {
      color: #583C87;
      top: 94%;
      left: 73%;
      animation-duration: 10.7s;
      animation-delay: -3.7s;
      transform-origin: -7vw 18vh;
      box-shadow: 40vmin 0 6.5777684999vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(20) {
      color: #583C87;
      top: 38%;
      left: 50%;
      animation-duration: 12s;
      animation-delay: -10.5s;
      transform-origin: 12vw -14vh;
      box-shadow: 40vmin 0 10.1617268035vmin currentColor; }
@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg); } }
  .animation-backgrounds-4 .btn {
    color: #ffffff !important;
    border-color: #ffffff !important;
    border-radius: 33px !important;
    font-size: 18px !important;
    padding: 0.9em 2em !important;
    background-color: transparent !important; }
    .animation-backgrounds-4 .btn:hover {
      background-color: #ffffff !important;
      color: #950063 !important; }

.animation-backgrounds-5 .context {
  width: 100%;
  position: absolute;
  top: 50vh; }
.animation-backgrounds-5 .area {
  width: 100%;
  height: 100vh; }
.animation-backgrounds-5 .circles {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }
.animation-backgrounds-5 .circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px; }
.animation-backgrounds-5 .circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s; }
.animation-backgrounds-5 .circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s; }
.animation-backgrounds-5 .circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s; }
.animation-backgrounds-5 .circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s; }
.animation-backgrounds-5 .circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s; }
.animation-backgrounds-5 .circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s; }
.animation-backgrounds-5 .circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s; }
.animation-backgrounds-5 .circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s; }
.animation-backgrounds-5 .circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s; }
.animation-backgrounds-5 .circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s; }
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0; }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%; } }
.animation-backgrounds-5 .btn {
  background-color: rgba(255, 255, 255, 0) !important;
  color: #ffffff !important;
  border-color: #ffffff !important;
  border-width: 4px !important;
  font-size: 16px !important;
  padding: 0.9em 2em !important; }

.animation-backgrounds-6 .bg-animation {
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
  z-index: 3; }
.animation-backgrounds-6 .stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
  z-index: -1; }
.animation-backgrounds-6 .star {
  --star-color: #ffffff;
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite; }
  @media screen and (max-width: 750px) {
    .animation-backgrounds-6 .star {
      animation: fall var(--fall-duration) var(--fall-delay) linear infinite; } }
  .animation-backgrounds-6 .star:nth-child(1) {
    --star-tail-length: 5.28em;
    --top-offset: 44.56vh;
    --fall-duration: 11.985s;
    --fall-delay: 6.831s; }
  .animation-backgrounds-6 .star:nth-child(2) {
    --star-tail-length: 5.54em;
    --top-offset: 3.54vh;
    --fall-duration: 8.568s;
    --fall-delay: 9.187s; }
  .animation-backgrounds-6 .star:nth-child(3) {
    --star-tail-length: 5.92em;
    --top-offset: 15.28vh;
    --fall-duration: 8.17s;
    --fall-delay: 1.391s; }
  .animation-backgrounds-6 .star:nth-child(4) {
    --star-tail-length: 6.05em;
    --top-offset: 17.95vh;
    --fall-duration: 11.622s;
    --fall-delay: 8.645s; }
  .animation-backgrounds-6 .star:nth-child(5) {
    --star-tail-length: 5.25em;
    --top-offset: 87.32vh;
    --fall-duration: 9.368s;
    --fall-delay: 3.108s; }
  .animation-backgrounds-6 .star:nth-child(6) {
    --star-tail-length: 6.19em;
    --top-offset: 54.23vh;
    --fall-duration: 7.187s;
    --fall-delay: 7.913s; }
  .animation-backgrounds-6 .star:nth-child(7) {
    --star-tail-length: 7.05em;
    --top-offset: 87.76vh;
    --fall-duration: 11.085s;
    --fall-delay: 4.059s; }
  .animation-backgrounds-6 .star:nth-child(8) {
    --star-tail-length: 5.37em;
    --top-offset: 41.54vh;
    --fall-duration: 10.371s;
    --fall-delay: 7s; }
  .animation-backgrounds-6 .star:nth-child(9) {
    --star-tail-length: 7.43em;
    --top-offset: 64.63vh;
    --fall-duration: 9.653s;
    --fall-delay: 0.707s; }
  .animation-backgrounds-6 .star:nth-child(10) {
    --star-tail-length: 5.34em;
    --top-offset: 94.21vh;
    --fall-duration: 10.212s;
    --fall-delay: 0.038s; }
  .animation-backgrounds-6 .star:nth-child(11) {
    --star-tail-length: 5.89em;
    --top-offset: 15.91vh;
    --fall-duration: 9.702s;
    --fall-delay: 8.271s; }
  .animation-backgrounds-6 .star:nth-child(12) {
    --star-tail-length: 5.58em;
    --top-offset: 25.99vh;
    --fall-duration: 10.49s;
    --fall-delay: 7.539s; }
  .animation-backgrounds-6 .star:nth-child(13) {
    --star-tail-length: 7.41em;
    --top-offset: 69.76vh;
    --fall-duration: 8.051s;
    --fall-delay: 5.703s; }
  .animation-backgrounds-6 .star:nth-child(14) {
    --star-tail-length: 6.1em;
    --top-offset: 32.46vh;
    --fall-duration: 8.856s;
    --fall-delay: 4.119s; }
  .animation-backgrounds-6 .star:nth-child(15) {
    --star-tail-length: 6.01em;
    --top-offset: 4.09vh;
    --fall-duration: 9.647s;
    --fall-delay: 9.656s; }
  .animation-backgrounds-6 .star:nth-child(16) {
    --star-tail-length: 5.61em;
    --top-offset: 90.08vh;
    --fall-duration: 7.081s;
    --fall-delay: 4.235s; }
  .animation-backgrounds-6 .star:nth-child(17) {
    --star-tail-length: 5.84em;
    --top-offset: 12.83vh;
    --fall-duration: 11.964s;
    --fall-delay: 1.301s; }
  .animation-backgrounds-6 .star:nth-child(18) {
    --star-tail-length: 5.69em;
    --top-offset: 11.15vh;
    --fall-duration: 10.438s;
    --fall-delay: 7.619s; }
  .animation-backgrounds-6 .star:nth-child(19) {
    --star-tail-length: 6.09em;
    --top-offset: 14.58vh;
    --fall-duration: 6.073s;
    --fall-delay: 1.684s; }
  .animation-backgrounds-6 .star:nth-child(20) {
    --star-tail-length: 5.55em;
    --top-offset: 78.39vh;
    --fall-duration: 9.099s;
    --fall-delay: 1.073s; }
  .animation-backgrounds-6 .star:nth-child(21) {
    --star-tail-length: 6.84em;
    --top-offset: 86.6vh;
    --fall-duration: 7.222s;
    --fall-delay: 1.154s; }
  .animation-backgrounds-6 .star:nth-child(22) {
    --star-tail-length: 5.15em;
    --top-offset: 98.97vh;
    --fall-duration: 6.406s;
    --fall-delay: 8.59s; }
  .animation-backgrounds-6 .star:nth-child(23) {
    --star-tail-length: 6.56em;
    --top-offset: 27.23vh;
    --fall-duration: 7.177s;
    --fall-delay: 7.59s; }
  .animation-backgrounds-6 .star:nth-child(24) {
    --star-tail-length: 7.14em;
    --top-offset: 26.34vh;
    --fall-duration: 9.636s;
    --fall-delay: 3.711s; }
  .animation-backgrounds-6 .star:nth-child(25) {
    --star-tail-length: 6.21em;
    --top-offset: 58.39vh;
    --fall-duration: 10.276s;
    --fall-delay: 9.359s; }
  .animation-backgrounds-6 .star:nth-child(26) {
    --star-tail-length: 5.53em;
    --top-offset: 77.91vh;
    --fall-duration: 9.808s;
    --fall-delay: 4.277s; }
  .animation-backgrounds-6 .star:nth-child(27) {
    --star-tail-length: 5.63em;
    --top-offset: 50.73vh;
    --fall-duration: 8.417s;
    --fall-delay: 7.072s; }
  .animation-backgrounds-6 .star:nth-child(28) {
    --star-tail-length: 7.04em;
    --top-offset: 84.28vh;
    --fall-duration: 9.218s;
    --fall-delay: 9.919s; }
  .animation-backgrounds-6 .star:nth-child(29) {
    --star-tail-length: 6.14em;
    --top-offset: 25.89vh;
    --fall-duration: 9.894s;
    --fall-delay: 4.852s; }
  .animation-backgrounds-6 .star:nth-child(30) {
    --star-tail-length: 6.49em;
    --top-offset: 38.19vh;
    --fall-duration: 11.741s;
    --fall-delay: 9.207s; }
  .animation-backgrounds-6 .star:nth-child(31) {
    --star-tail-length: 5.94em;
    --top-offset: 77.02vh;
    --fall-duration: 11.931s;
    --fall-delay: 8.37s; }
  .animation-backgrounds-6 .star:nth-child(32) {
    --star-tail-length: 6.68em;
    --top-offset: 92.83vh;
    --fall-duration: 6.744s;
    --fall-delay: 3.789s; }
  .animation-backgrounds-6 .star:nth-child(33) {
    --star-tail-length: 5.07em;
    --top-offset: 48.51vh;
    --fall-duration: 10.506s;
    --fall-delay: 9.529s; }
  .animation-backgrounds-6 .star:nth-child(34) {
    --star-tail-length: 5.81em;
    --top-offset: 18.3vh;
    --fall-duration: 10.69s;
    --fall-delay: 9.325s; }
  .animation-backgrounds-6 .star:nth-child(35) {
    --star-tail-length: 6.57em;
    --top-offset: 79.57vh;
    --fall-duration: 9.564s;
    --fall-delay: 7.631s; }
  .animation-backgrounds-6 .star:nth-child(36) {
    --star-tail-length: 6.62em;
    --top-offset: 83.88vh;
    --fall-duration: 7.1s;
    --fall-delay: 1.411s; }
  .animation-backgrounds-6 .star:nth-child(37) {
    --star-tail-length: 6.11em;
    --top-offset: 27.12vh;
    --fall-duration: 9.436s;
    --fall-delay: 4.173s; }
  .animation-backgrounds-6 .star:nth-child(38) {
    --star-tail-length: 7.43em;
    --top-offset: 78.86vh;
    --fall-duration: 6.622s;
    --fall-delay: 4.643s; }
  .animation-backgrounds-6 .star:nth-child(39) {
    --star-tail-length: 6.42em;
    --top-offset: 76.99vh;
    --fall-duration: 8.968s;
    --fall-delay: 4.331s; }
  .animation-backgrounds-6 .star:nth-child(40) {
    --star-tail-length: 5.19em;
    --top-offset: 32.16vh;
    --fall-duration: 11.935s;
    --fall-delay: 7.332s; }
  .animation-backgrounds-6 .star:nth-child(41) {
    --star-tail-length: 5.7em;
    --top-offset: 93.21vh;
    --fall-duration: 8.274s;
    --fall-delay: 3.045s; }
  .animation-backgrounds-6 .star:nth-child(42) {
    --star-tail-length: 5.48em;
    --top-offset: 35.78vh;
    --fall-duration: 8.513s;
    --fall-delay: 8.24s; }
  .animation-backgrounds-6 .star:nth-child(43) {
    --star-tail-length: 7.18em;
    --top-offset: 21.98vh;
    --fall-duration: 8.316s;
    --fall-delay: 3.563s; }
  .animation-backgrounds-6 .star:nth-child(44) {
    --star-tail-length: 6.26em;
    --top-offset: 53.61vh;
    --fall-duration: 9.074s;
    --fall-delay: 8.833s; }
  .animation-backgrounds-6 .star:nth-child(45) {
    --star-tail-length: 5.46em;
    --top-offset: 28.17vh;
    --fall-duration: 8.151s;
    --fall-delay: 8.515s; }
  .animation-backgrounds-6 .star:nth-child(46) {
    --star-tail-length: 5.7em;
    --top-offset: 47.39vh;
    --fall-duration: 11.63s;
    --fall-delay: 5.892s; }
  .animation-backgrounds-6 .star:nth-child(47) {
    --star-tail-length: 6.75em;
    --top-offset: 29.78vh;
    --fall-duration: 10.479s;
    --fall-delay: 5.814s; }
  .animation-backgrounds-6 .star:nth-child(48) {
    --star-tail-length: 5.63em;
    --top-offset: 95.63vh;
    --fall-duration: 6.187s;
    --fall-delay: 9.86s; }
  .animation-backgrounds-6 .star:nth-child(49) {
    --star-tail-length: 7.34em;
    --top-offset: 55.94vh;
    --fall-duration: 7.292s;
    --fall-delay: 2.185s; }
  .animation-backgrounds-6 .star:nth-child(50) {
    --star-tail-length: 6.29em;
    --top-offset: 75.61vh;
    --fall-duration: 8.007s;
    --fall-delay: 4.838s; }
  .animation-backgrounds-6 .star::before, .animation-backgrounds-6 .star::after {
    position: absolute;
    content: '';
    top: 0;
    left: calc(var(--star-width) / -2);
    width: var(--star-width);
    height: 100%;
    background: linear-gradient(45deg, transparent, currentColor, transparent);
    border-radius: inherit;
    animation: blink 2s linear infinite; }
  .animation-backgrounds-6 .star::before {
    transform: rotate(45deg); }
  .animation-backgrounds-6 .star::after {
    transform: rotate(-45deg); }
@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0); } }
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1; }
  70%, 80% {
    width: 0;
    opacity: 0.4; }
  100% {
    width: 0;
    opacity: 0; } }
@keyframes blink {
  50% {
    opacity: 0.6; } }
.animation-backgrounds-6 .btn {
  background-color: transparent !important;
  color: #ffffff !important;
  font-size: 16px !important;
  padding: 0.9em 2em !important;
  border-width: 2px !important;
  border-radius: 33px !important;
  border-color: #ffffff !important; }
  .animation-backgrounds-6 .btn:hover {
    background-color: #27437f !important;
    color: #ffffff !important;
    border-color: #ffffff !important; }

.animation-backgrounds-7 .wrapper {
  animation: scroll 70s linear infinite;
  background: url("../../img/animations/BACKGROUND.jpg"), #111111;
  z-index: 0;
  background-size: cover; }
@keyframes scroll {
  100% {
    background-position: 0px -3000px; } }
@media (prefers-reduced-motion) {
  .animation-backgrounds-7 .wrapper {
    animation: scroll 200s linear infinite; } }
@media (min-width: 670px) {
  .animation-backgrounds-7 .title {
    font-size: 5rem; } }
.animation-backgrounds-7 .btn {
  background-color: #bba32e !important;
  border-color: #11025a !important;
  border-width: 3px !important;
  border-radius: 33px !important;
  font-size: 18px !important;
  padding: 0.9em 2em !important; }
  .animation-backgrounds-7 .btn:hover {
    background-color: #11025a !important;
    color: #ffffff !important;
    border-color: #bba32e !important; }

.animation-backgrounds-8 {
  margin: 0;
  overflow: hidden; }
  .animation-backgrounds-8 .background {
    width: 100vw;
    height: 100vh;
    background: #3E1E68; }
  .animation-backgrounds-8 .background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation-name: move;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }
    .animation-backgrounds-8 .background span:nth-child(1) {
      color: #583C87;
      top: 76%;
      left: 42%;
      animation-duration: 10.6s;
      animation-delay: -0.5s;
      transform-origin: -1vw -5vh;
      box-shadow: 40vmin 0 9.2026077149vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(2) {
      color: #583C87;
      top: 21%;
      left: 92%;
      animation-duration: 14.2s;
      animation-delay: -11.2s;
      transform-origin: 3vw -21vh;
      box-shadow: 40vmin 0 12.0712977598vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(3) {
      color: #E45A84;
      top: 56%;
      left: 7%;
      animation-duration: 14.9s;
      animation-delay: -7.9s;
      transform-origin: -12vw 21vh;
      box-shadow: -40vmin 0 11.1839401708vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(4) {
      color: #583C87;
      top: 89%;
      left: 43%;
      animation-duration: 12.3s;
      animation-delay: -7.4s;
      transform-origin: -2vw -20vh;
      box-shadow: -40vmin 0 5.2369385791vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(5) {
      color: #FFACAC;
      top: 8%;
      left: 33%;
      animation-duration: 11s;
      animation-delay: -1s;
      transform-origin: -17vw -1vh;
      box-shadow: 40vmin 0 7.911198427vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(6) {
      color: #E45A84;
      top: 2%;
      left: 28%;
      animation-duration: 12.9s;
      animation-delay: -6.1s;
      transform-origin: 1vw -23vh;
      box-shadow: 40vmin 0 7.545319119vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(7) {
      color: #583C87;
      top: 19%;
      left: 21%;
      animation-duration: 10.1s;
      animation-delay: -10.7s;
      transform-origin: 18vw 1vh;
      box-shadow: 40vmin 0 11.8221146138vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(8) {
      color: #FFACAC;
      top: 61%;
      left: 2%;
      animation-duration: 11.8s;
      animation-delay: -4.3s;
      transform-origin: -23vw -20vh;
      box-shadow: 40vmin 0 8.4941918608vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(9) {
      color: #FFACAC;
      top: 21%;
      left: 99%;
      animation-duration: 12.2s;
      animation-delay: -5.7s;
      transform-origin: -24vw -23vh;
      box-shadow: -40vmin 0 13.9810833761vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(10) {
      color: #FFACAC;
      top: 8%;
      left: 18%;
      animation-duration: 11.9s;
      animation-delay: -8.3s;
      transform-origin: 2vw -9vh;
      box-shadow: -40vmin 0 11.5638038108vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(11) {
      color: #E45A84;
      top: 24%;
      left: 91%;
      animation-duration: 10.4s;
      animation-delay: -3.4s;
      transform-origin: 19vw 24vh;
      box-shadow: -40vmin 0 9.0317892612vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(12) {
      color: #E45A84;
      top: 72%;
      left: 40%;
      animation-duration: 15.6s;
      animation-delay: -0.9s;
      transform-origin: -8vw 8vh;
      box-shadow: -40vmin 0 14.8509122702vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(13) {
      color: #583C87;
      top: 78%;
      left: 69%;
      animation-duration: 10.1s;
      animation-delay: -4.9s;
      transform-origin: -5vw -10vh;
      box-shadow: 40vmin 0 6.6689560204vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(14) {
      color: #583C87;
      top: 53%;
      left: 89%;
      animation-duration: 10.3s;
      animation-delay: -5.1s;
      transform-origin: -23vw -22vh;
      box-shadow: -40vmin 0 10.488492482vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(15) {
      color: #E45A84;
      top: 91%;
      left: 11%;
      animation-duration: 13.6s;
      animation-delay: -12.9s;
      transform-origin: -8vw -7vh;
      box-shadow: 40vmin 0 14.0150214817vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(16) {
      color: #E45A84;
      top: 82%;
      left: 40%;
      animation-duration: 10.4s;
      animation-delay: -2.9s;
      transform-origin: -15vw 23vh;
      box-shadow: -40vmin 0 11.1348888959vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(17) {
      color: #583C87;
      top: 73%;
      left: 15%;
      animation-duration: 13.9s;
      animation-delay: -6.9s;
      transform-origin: -4vw -10vh;
      box-shadow: -40vmin 0 9.8225669941vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(18) {
      color: #583C87;
      top: 24%;
      left: 73%;
      animation-duration: 15.8s;
      animation-delay: -9.6s;
      transform-origin: 2vw 9vh;
      box-shadow: -40vmin 0 9.7207076338vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(19) {
      color: #583C87;
      top: 36%;
      left: 42%;
      animation-duration: 10.6s;
      animation-delay: -7s;
      transform-origin: -21vw 12vh;
      box-shadow: 40vmin 0 5.4486705034vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(20) {
      color: #FFACAC;
      top: 6%;
      left: 89%;
      animation-duration: 13.6s;
      animation-delay: -0.5s;
      transform-origin: 10vw 20vh;
      box-shadow: 40vmin 0 9.4979265757vmin currentColor; }
@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg); } }
  .animation-backgrounds-8 .btn {
    background-color: #ff00ae !important;
    color: #ffffff !important;
    border-radius: 33px !important;
    font-size: 18px !important;
    padding: 0.9em 2em !important; }
    .animation-backgrounds-8 .btn:hover {
      background-color: #7100b3 !important;
      color: #ffffff !important; }

/*# sourceMappingURL=animation-backgrounds.css.map */
