@keyframes color {
  0% {
    background: #33CCCC; }
  20% {
    background: #33CC36; }
  40% {
    background: #B8CC33; }
  60% {
    background: #FCCA00; }
  80% {
    background: #33CC36; }
  100% {
    background: #33CCCC; } }
.animation-backgrounds-1 section.section.bg-animation {
  background: #33CCCC;
  /* Fallback */
  animation: color 9s infinite linear;
  text-align: center;
  padding: 2em; }
.animation-backgrounds-1 .btn {
  background-color: rgba(255, 255, 255, 0) !important;
  color: #ffffff !important;
  border-color: #ffffff !important;
  border-width: 2px !important;
  border-radius: 33px !important; }
  .animation-backgrounds-1 .btn:hover {
    background-color: #ffffff !important;
    color: #32c028 !important;
    border-color: #ffffff !important; }

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
.animation-backgrounds-2 section.section.bg-animation {
  background-size: 300% 300%;
  background-image: linear-gradient(-45deg, #3bade3 0%, #576fe6 25%, #9844b7 51%, #ff357f 100%);
  animation: AnimateBG 20s ease infinite; }
.animation-backgrounds-2 .btn {
  background-color: rgba(255, 255, 255, 0) !important;
  color: #ffffff !important;
  border-color: #ffffff !important;
  font-size: 16px !important;
  padding: 0.9em 2em !important; }
  .animation-backgrounds-2 .btn:hover {
    background-color: #ffffff !important;
    color: #006aff !important; }

.animation-backgrounds-3 {
  /* Animate Background*/
  /* ============= Animation background ========= */ }
@keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1; }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0; } }
  .animation-backgrounds-3 .container-fluid.animation {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background: #FFF; }
  .animation-backgrounds-3 .background {
    background: linear-gradient(132deg, #FC415A, #591BC5, #212335);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0px; }
  .animation-backgrounds-3 .cube {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #D7D4E4;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 12s ease-in forwards infinite; }
  .animation-backgrounds-3 .cube:nth-child(2n) {
    border-color: #FFF; }
  .animation-backgrounds-3 .cube:nth-child(2) {
    animation-delay: 2s;
    left: 25vw;
    top: 40vh; }
  .animation-backgrounds-3 .cube:nth-child(3) {
    animation-delay: 4s;
    left: 75vw;
    top: 50vh; }
  .animation-backgrounds-3 .cube:nth-child(4) {
    animation-delay: 6s;
    left: 90vw;
    top: 10vh; }
  .animation-backgrounds-3 .cube:nth-child(5) {
    animation-delay: 8s;
    left: 10vw;
    top: 85vh; }
  .animation-backgrounds-3 .cube:nth-child(6) {
    animation-delay: 10s;
    left: 50vw;
    top: 10vh; }
  .animation-backgrounds-3 .btn {
    background-color: #b500da !important;
    color: #ffffff !important;
    font-size: 18px !important;
    padding: 0.9em 2em !important;
    border-color: #b500da !important; }
    .animation-backgrounds-3 .btn:hover {
      background-color: rgba(255, 0, 0, 0) !important;
      color: #ffffff !important;
      border-color: #ffffff !important; }

.animation-backgrounds-4 {
  margin: 0;
  overflow: hidden; }
  .animation-backgrounds-4 .background {
    width: 100vw;
    height: 100vh;
    background: #3E1E68; }
  .animation-backgrounds-4 .background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation-name: move;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }
    .animation-backgrounds-4 .background span:nth-child(1) {
      color: #583C87;
      top: 70%;
      left: 18%;
      animation-duration: 13.6s;
      animation-delay: -3.6s;
      transform-origin: 1vw -23vh;
      box-shadow: 40vmin 0 6.6283791526vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(2) {
      color: #FFACAC;
      top: 38%;
      left: 7%;
      animation-duration: 13.6s;
      animation-delay: -2.7s;
      transform-origin: -10vw 20vh;
      box-shadow: -40vmin 0 7.2209057977vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(3) {
      color: #E45A84;
      top: 9%;
      left: 58%;
      animation-duration: 14.8s;
      animation-delay: -10.6s;
      transform-origin: -15vw -5vh;
      box-shadow: 40vmin 0 12.1572742947vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(4) {
      color: #FFACAC;
      top: 91%;
      left: 28%;
      animation-duration: 10.3s;
      animation-delay: -11.5s;
      transform-origin: -16vw -11vh;
      box-shadow: -40vmin 0 12.145402777vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(5) {
      color: #E45A84;
      top: 24%;
      left: 38%;
      animation-duration: 11.7s;
      animation-delay: -0.6s;
      transform-origin: -16vw 10vh;
      box-shadow: 40vmin 0 9.9112321417vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(6) {
      color: #E45A84;
      top: 90%;
      left: 36%;
      animation-duration: 14.2s;
      animation-delay: -8.8s;
      transform-origin: -14vw -13vh;
      box-shadow: -40vmin 0 5.0354655069vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(7) {
      color: #FFACAC;
      top: 95%;
      left: 83%;
      animation-duration: 10.4s;
      animation-delay: -11.3s;
      transform-origin: 4vw -18vh;
      box-shadow: 40vmin 0 6.2087093244vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(8) {
      color: #FFACAC;
      top: 34%;
      left: 49%;
      animation-duration: 13.5s;
      animation-delay: -12.8s;
      transform-origin: -15vw 13vh;
      box-shadow: -40vmin 0 9.5841467865vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(9) {
      color: #583C87;
      top: 67%;
      left: 80%;
      animation-duration: 10.2s;
      animation-delay: -14.1s;
      transform-origin: 15vw 16vh;
      box-shadow: 40vmin 0 13.266610788vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(10) {
      color: #E45A84;
      top: 28%;
      left: 93%;
      animation-duration: 10.6s;
      animation-delay: -6.6s;
      transform-origin: 25vw 18vh;
      box-shadow: 40vmin 0 14.403324793vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(11) {
      color: #583C87;
      top: 19%;
      left: 21%;
      animation-duration: 12.1s;
      animation-delay: -13s;
      transform-origin: -10vw -10vh;
      box-shadow: 40vmin 0 11.6521673832vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(12) {
      color: #E45A84;
      top: 60%;
      left: 13%;
      animation-duration: 15.3s;
      animation-delay: -0.5s;
      transform-origin: -17vw -9vh;
      box-shadow: -40vmin 0 10.1365952564vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(13) {
      color: #E45A84;
      top: 44%;
      left: 45%;
      animation-duration: 13.1s;
      animation-delay: -10.7s;
      transform-origin: -19vw 19vh;
      box-shadow: -40vmin 0 8.8184565655vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(14) {
      color: #FFACAC;
      top: 79%;
      left: 66%;
      animation-duration: 14.1s;
      animation-delay: -12.5s;
      transform-origin: 17vw 1vh;
      box-shadow: 40vmin 0 12.6878470843vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(15) {
      color: #E45A84;
      top: 18%;
      left: 35%;
      animation-duration: 10.1s;
      animation-delay: -12.6s;
      transform-origin: 16vw 0vh;
      box-shadow: -40vmin 0 14.4421363643vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(16) {
      color: #FFACAC;
      top: 42%;
      left: 30%;
      animation-duration: 11.8s;
      animation-delay: -15.8s;
      transform-origin: -7vw 3vh;
      box-shadow: 40vmin 0 10.1550929954vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(17) {
      color: #E45A84;
      top: 17%;
      left: 50%;
      animation-duration: 14.3s;
      animation-delay: -3.5s;
      transform-origin: 23vw -21vh;
      box-shadow: -40vmin 0 12.3889839911vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(18) {
      color: #583C87;
      top: 7%;
      left: 1%;
      animation-duration: 13.5s;
      animation-delay: -7.4s;
      transform-origin: -21vw -17vh;
      box-shadow: -40vmin 0 6.8570328323vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(19) {
      color: #583C87;
      top: 55%;
      left: 50%;
      animation-duration: 14.2s;
      animation-delay: -1.4s;
      transform-origin: -13vw 24vh;
      box-shadow: -40vmin 0 10.4106057253vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(20) {
      color: #E45A84;
      top: 88%;
      left: 69%;
      animation-duration: 11.6s;
      animation-delay: -15.6s;
      transform-origin: 18vw -4vh;
      box-shadow: 40vmin 0 6.0972943905vmin currentColor; }
@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg); } }
  .animation-backgrounds-4 .btn {
    color: #ffffff !important;
    border-color: #ffffff !important;
    border-radius: 33px !important;
    font-size: 18px !important;
    padding: 0.9em 2em !important;
    background-color: transparent !important; }
    .animation-backgrounds-4 .btn:hover {
      background-color: #ffffff !important;
      color: #950063 !important; }

.animation-backgrounds-5 .context {
  width: 100%;
  position: absolute;
  top: 50vh; }
.animation-backgrounds-5 .area {
  width: 100%;
  height: 100vh; }
.animation-backgrounds-5 .circles {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }
.animation-backgrounds-5 .circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px; }
.animation-backgrounds-5 .circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s; }
.animation-backgrounds-5 .circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s; }
.animation-backgrounds-5 .circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s; }
.animation-backgrounds-5 .circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s; }
.animation-backgrounds-5 .circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s; }
.animation-backgrounds-5 .circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s; }
.animation-backgrounds-5 .circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s; }
.animation-backgrounds-5 .circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s; }
.animation-backgrounds-5 .circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s; }
.animation-backgrounds-5 .circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s; }
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0; }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%; } }
.animation-backgrounds-5 .btn {
  background-color: rgba(255, 255, 255, 0) !important;
  color: #ffffff !important;
  border-color: #ffffff !important;
  border-width: 4px !important;
  font-size: 16px !important;
  padding: 0.9em 2em !important; }

.animation-backgrounds-6 .bg-animation {
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
  z-index: 3; }
.animation-backgrounds-6 .stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
  z-index: -1; }
.animation-backgrounds-6 .star {
  --star-color: #ffffff;
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite; }
  @media screen and (max-width: 750px) {
    .animation-backgrounds-6 .star {
      animation: fall var(--fall-duration) var(--fall-delay) linear infinite; } }
  .animation-backgrounds-6 .star:nth-child(1) {
    --star-tail-length: 7.15em;
    --top-offset: 33.63vh;
    --fall-duration: 9.742s;
    --fall-delay: 7.059s; }
  .animation-backgrounds-6 .star:nth-child(2) {
    --star-tail-length: 7.02em;
    --top-offset: 35.06vh;
    --fall-duration: 8.535s;
    --fall-delay: 0.072s; }
  .animation-backgrounds-6 .star:nth-child(3) {
    --star-tail-length: 5em;
    --top-offset: 33.76vh;
    --fall-duration: 9.907s;
    --fall-delay: 3.086s; }
  .animation-backgrounds-6 .star:nth-child(4) {
    --star-tail-length: 5.02em;
    --top-offset: 17.24vh;
    --fall-duration: 6.982s;
    --fall-delay: 2.463s; }
  .animation-backgrounds-6 .star:nth-child(5) {
    --star-tail-length: 6.99em;
    --top-offset: 45.79vh;
    --fall-duration: 9.703s;
    --fall-delay: 8.262s; }
  .animation-backgrounds-6 .star:nth-child(6) {
    --star-tail-length: 6.21em;
    --top-offset: 99.7vh;
    --fall-duration: 9.784s;
    --fall-delay: 7.063s; }
  .animation-backgrounds-6 .star:nth-child(7) {
    --star-tail-length: 5.28em;
    --top-offset: 16.32vh;
    --fall-duration: 9.632s;
    --fall-delay: 6.045s; }
  .animation-backgrounds-6 .star:nth-child(8) {
    --star-tail-length: 5.55em;
    --top-offset: 2.73vh;
    --fall-duration: 9.017s;
    --fall-delay: 8.923s; }
  .animation-backgrounds-6 .star:nth-child(9) {
    --star-tail-length: 7.15em;
    --top-offset: 38.15vh;
    --fall-duration: 6.774s;
    --fall-delay: 7.651s; }
  .animation-backgrounds-6 .star:nth-child(10) {
    --star-tail-length: 5.86em;
    --top-offset: 22.66vh;
    --fall-duration: 11.126s;
    --fall-delay: 2.307s; }
  .animation-backgrounds-6 .star:nth-child(11) {
    --star-tail-length: 7.28em;
    --top-offset: 99.41vh;
    --fall-duration: 10.69s;
    --fall-delay: 2.947s; }
  .animation-backgrounds-6 .star:nth-child(12) {
    --star-tail-length: 5.73em;
    --top-offset: 63.12vh;
    --fall-duration: 9.42s;
    --fall-delay: 9.373s; }
  .animation-backgrounds-6 .star:nth-child(13) {
    --star-tail-length: 5.14em;
    --top-offset: 46.79vh;
    --fall-duration: 11.601s;
    --fall-delay: 8.951s; }
  .animation-backgrounds-6 .star:nth-child(14) {
    --star-tail-length: 7.48em;
    --top-offset: 41.06vh;
    --fall-duration: 10.62s;
    --fall-delay: 0.257s; }
  .animation-backgrounds-6 .star:nth-child(15) {
    --star-tail-length: 6em;
    --top-offset: 38.9vh;
    --fall-duration: 11.25s;
    --fall-delay: 4.796s; }
  .animation-backgrounds-6 .star:nth-child(16) {
    --star-tail-length: 5.39em;
    --top-offset: 75.79vh;
    --fall-duration: 6.904s;
    --fall-delay: 8.677s; }
  .animation-backgrounds-6 .star:nth-child(17) {
    --star-tail-length: 5.56em;
    --top-offset: 48.73vh;
    --fall-duration: 11.996s;
    --fall-delay: 8.303s; }
  .animation-backgrounds-6 .star:nth-child(18) {
    --star-tail-length: 6.59em;
    --top-offset: 93.12vh;
    --fall-duration: 9.602s;
    --fall-delay: 2.091s; }
  .animation-backgrounds-6 .star:nth-child(19) {
    --star-tail-length: 6.36em;
    --top-offset: 69.05vh;
    --fall-duration: 11.532s;
    --fall-delay: 6.306s; }
  .animation-backgrounds-6 .star:nth-child(20) {
    --star-tail-length: 5.11em;
    --top-offset: 92.46vh;
    --fall-duration: 10.619s;
    --fall-delay: 1.594s; }
  .animation-backgrounds-6 .star:nth-child(21) {
    --star-tail-length: 5.48em;
    --top-offset: 32.1vh;
    --fall-duration: 11.934s;
    --fall-delay: 4.028s; }
  .animation-backgrounds-6 .star:nth-child(22) {
    --star-tail-length: 5.71em;
    --top-offset: 56.99vh;
    --fall-duration: 8.67s;
    --fall-delay: 9.87s; }
  .animation-backgrounds-6 .star:nth-child(23) {
    --star-tail-length: 7.42em;
    --top-offset: 16.2vh;
    --fall-duration: 7.344s;
    --fall-delay: 1.659s; }
  .animation-backgrounds-6 .star:nth-child(24) {
    --star-tail-length: 6.88em;
    --top-offset: 38.1vh;
    --fall-duration: 8.088s;
    --fall-delay: 4.91s; }
  .animation-backgrounds-6 .star:nth-child(25) {
    --star-tail-length: 6.06em;
    --top-offset: 62.03vh;
    --fall-duration: 9.491s;
    --fall-delay: 5.368s; }
  .animation-backgrounds-6 .star:nth-child(26) {
    --star-tail-length: 6.31em;
    --top-offset: 63.69vh;
    --fall-duration: 8.73s;
    --fall-delay: 5.557s; }
  .animation-backgrounds-6 .star:nth-child(27) {
    --star-tail-length: 6.96em;
    --top-offset: 82.07vh;
    --fall-duration: 10.287s;
    --fall-delay: 0.056s; }
  .animation-backgrounds-6 .star:nth-child(28) {
    --star-tail-length: 6.71em;
    --top-offset: 71.5vh;
    --fall-duration: 6.424s;
    --fall-delay: 2.969s; }
  .animation-backgrounds-6 .star:nth-child(29) {
    --star-tail-length: 6.14em;
    --top-offset: 2.84vh;
    --fall-duration: 11.979s;
    --fall-delay: 1.943s; }
  .animation-backgrounds-6 .star:nth-child(30) {
    --star-tail-length: 6.78em;
    --top-offset: 25.69vh;
    --fall-duration: 10.217s;
    --fall-delay: 2.172s; }
  .animation-backgrounds-6 .star:nth-child(31) {
    --star-tail-length: 6.9em;
    --top-offset: 83.12vh;
    --fall-duration: 7.306s;
    --fall-delay: 1.957s; }
  .animation-backgrounds-6 .star:nth-child(32) {
    --star-tail-length: 5.96em;
    --top-offset: 31.8vh;
    --fall-duration: 7.038s;
    --fall-delay: 2.871s; }
  .animation-backgrounds-6 .star:nth-child(33) {
    --star-tail-length: 6.94em;
    --top-offset: 89.78vh;
    --fall-duration: 7.016s;
    --fall-delay: 5.87s; }
  .animation-backgrounds-6 .star:nth-child(34) {
    --star-tail-length: 6.35em;
    --top-offset: 68.39vh;
    --fall-duration: 10.43s;
    --fall-delay: 9.858s; }
  .animation-backgrounds-6 .star:nth-child(35) {
    --star-tail-length: 6.43em;
    --top-offset: 31.08vh;
    --fall-duration: 8.551s;
    --fall-delay: 2.112s; }
  .animation-backgrounds-6 .star:nth-child(36) {
    --star-tail-length: 5.42em;
    --top-offset: 21.71vh;
    --fall-duration: 11.864s;
    --fall-delay: 8.702s; }
  .animation-backgrounds-6 .star:nth-child(37) {
    --star-tail-length: 6.43em;
    --top-offset: 19.35vh;
    --fall-duration: 9.296s;
    --fall-delay: 3.543s; }
  .animation-backgrounds-6 .star:nth-child(38) {
    --star-tail-length: 7.03em;
    --top-offset: 23.17vh;
    --fall-duration: 10.202s;
    --fall-delay: 6.969s; }
  .animation-backgrounds-6 .star:nth-child(39) {
    --star-tail-length: 5.93em;
    --top-offset: 28.66vh;
    --fall-duration: 7.71s;
    --fall-delay: 7.747s; }
  .animation-backgrounds-6 .star:nth-child(40) {
    --star-tail-length: 5.72em;
    --top-offset: 70.84vh;
    --fall-duration: 8.145s;
    --fall-delay: 7.087s; }
  .animation-backgrounds-6 .star:nth-child(41) {
    --star-tail-length: 7.36em;
    --top-offset: 67.06vh;
    --fall-duration: 10.779s;
    --fall-delay: 7.954s; }
  .animation-backgrounds-6 .star:nth-child(42) {
    --star-tail-length: 5.64em;
    --top-offset: 50.74vh;
    --fall-duration: 11.577s;
    --fall-delay: 5.935s; }
  .animation-backgrounds-6 .star:nth-child(43) {
    --star-tail-length: 5.15em;
    --top-offset: 27.78vh;
    --fall-duration: 7.529s;
    --fall-delay: 6.823s; }
  .animation-backgrounds-6 .star:nth-child(44) {
    --star-tail-length: 6.54em;
    --top-offset: 19.28vh;
    --fall-duration: 7.821s;
    --fall-delay: 5.095s; }
  .animation-backgrounds-6 .star:nth-child(45) {
    --star-tail-length: 6.48em;
    --top-offset: 13.76vh;
    --fall-duration: 6.72s;
    --fall-delay: 2.761s; }
  .animation-backgrounds-6 .star:nth-child(46) {
    --star-tail-length: 6.09em;
    --top-offset: 95.21vh;
    --fall-duration: 8.249s;
    --fall-delay: 4.977s; }
  .animation-backgrounds-6 .star:nth-child(47) {
    --star-tail-length: 5.16em;
    --top-offset: 3.41vh;
    --fall-duration: 9.907s;
    --fall-delay: 1.991s; }
  .animation-backgrounds-6 .star:nth-child(48) {
    --star-tail-length: 6.03em;
    --top-offset: 20.59vh;
    --fall-duration: 8.801s;
    --fall-delay: 5.964s; }
  .animation-backgrounds-6 .star:nth-child(49) {
    --star-tail-length: 7.24em;
    --top-offset: 32.65vh;
    --fall-duration: 8.107s;
    --fall-delay: 3.427s; }
  .animation-backgrounds-6 .star:nth-child(50) {
    --star-tail-length: 5.96em;
    --top-offset: 76.32vh;
    --fall-duration: 6.584s;
    --fall-delay: 8.647s; }
  .animation-backgrounds-6 .star::before, .animation-backgrounds-6 .star::after {
    position: absolute;
    content: '';
    top: 0;
    left: calc(var(--star-width) / -2);
    width: var(--star-width);
    height: 100%;
    background: linear-gradient(45deg, transparent, currentColor, transparent);
    border-radius: inherit;
    animation: blink 2s linear infinite; }
  .animation-backgrounds-6 .star::before {
    transform: rotate(45deg); }
  .animation-backgrounds-6 .star::after {
    transform: rotate(-45deg); }
@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0); } }
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1; }
  70%, 80% {
    width: 0;
    opacity: 0.4; }
  100% {
    width: 0;
    opacity: 0; } }
@keyframes blink {
  50% {
    opacity: 0.6; } }
.animation-backgrounds-6 .btn {
  background-color: transparent !important;
  color: #ffffff !important;
  font-size: 16px !important;
  padding: 0.9em 2em !important;
  border-width: 2px !important;
  border-radius: 33px !important;
  border-color: #ffffff !important; }
  .animation-backgrounds-6 .btn:hover {
    background-color: #27437f !important;
    color: #ffffff !important;
    border-color: #ffffff !important; }

.animation-backgrounds-7 .wrapper {
  animation: scroll 70s linear infinite;
  background: url("../../img/animations/BACKGROUND.jpg"), #111111;
  z-index: 0;
  background-size: cover; }
@keyframes scroll {
  100% {
    background-position: 0px -3000px; } }
@media (prefers-reduced-motion) {
  .animation-backgrounds-7 .wrapper {
    animation: scroll 200s linear infinite; } }
@media (min-width: 670px) {
  .animation-backgrounds-7 .title {
    font-size: 5rem; } }
.animation-backgrounds-7 .btn {
  background-color: #bba32e !important;
  border-color: #11025a !important;
  border-width: 3px !important;
  border-radius: 33px !important;
  font-size: 18px !important;
  padding: 0.9em 2em !important; }
  .animation-backgrounds-7 .btn:hover {
    background-color: #11025a !important;
    color: #ffffff !important;
    border-color: #bba32e !important; }

.animation-backgrounds-8 {
  margin: 0;
  overflow: hidden; }
  .animation-backgrounds-8 .background {
    width: 100vw;
    height: 100vh;
    background: #3E1E68; }
  .animation-backgrounds-8 .background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation-name: move;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }
    .animation-backgrounds-8 .background span:nth-child(1) {
      color: #E45A84;
      top: 38%;
      left: 17%;
      animation-duration: 15.8s;
      animation-delay: -13.4s;
      transform-origin: -1vw 5vh;
      box-shadow: 40vmin 0 10.842832753vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(2) {
      color: #583C87;
      top: 20%;
      left: 6%;
      animation-duration: 15.8s;
      animation-delay: -9.4s;
      transform-origin: -7vw -8vh;
      box-shadow: -40vmin 0 13.4026052687vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(3) {
      color: #FFACAC;
      top: 52%;
      left: 61%;
      animation-duration: 11.5s;
      animation-delay: -4.1s;
      transform-origin: 16vw -7vh;
      box-shadow: -40vmin 0 9.8804385645vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(4) {
      color: #583C87;
      top: 95%;
      left: 9%;
      animation-duration: 11.3s;
      animation-delay: -0.2s;
      transform-origin: -21vw -24vh;
      box-shadow: -40vmin 0 11.9682296526vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(5) {
      color: #E45A84;
      top: 98%;
      left: 60%;
      animation-duration: 14.2s;
      animation-delay: -6.7s;
      transform-origin: -17vw 13vh;
      box-shadow: 40vmin 0 8.6211037445vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(6) {
      color: #FFACAC;
      top: 85%;
      left: 78%;
      animation-duration: 12.2s;
      animation-delay: -1.2s;
      transform-origin: 20vw 15vh;
      box-shadow: 40vmin 0 14.817578184vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(7) {
      color: #E45A84;
      top: 55%;
      left: 22%;
      animation-duration: 11.1s;
      animation-delay: -13.9s;
      transform-origin: 20vw 25vh;
      box-shadow: 40vmin 0 8.1150599977vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(8) {
      color: #E45A84;
      top: 72%;
      left: 87%;
      animation-duration: 13.4s;
      animation-delay: -8.7s;
      transform-origin: 14vw -1vh;
      box-shadow: 40vmin 0 13.8335105242vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(9) {
      color: #583C87;
      top: 84%;
      left: 4%;
      animation-duration: 11.2s;
      animation-delay: -7.1s;
      transform-origin: 1vw 3vh;
      box-shadow: 40vmin 0 8.1625719716vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(10) {
      color: #FFACAC;
      top: 37%;
      left: 19%;
      animation-duration: 12.6s;
      animation-delay: -0.7s;
      transform-origin: 21vw -20vh;
      box-shadow: -40vmin 0 10.8355221398vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(11) {
      color: #583C87;
      top: 70%;
      left: 78%;
      animation-duration: 11.8s;
      animation-delay: -4.5s;
      transform-origin: -15vw 19vh;
      box-shadow: 40vmin 0 11.0394232203vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(12) {
      color: #583C87;
      top: 20%;
      left: 79%;
      animation-duration: 14.1s;
      animation-delay: -10.7s;
      transform-origin: 0vw 0vh;
      box-shadow: 40vmin 0 6.3839869007vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(13) {
      color: #FFACAC;
      top: 78%;
      left: 10%;
      animation-duration: 14.9s;
      animation-delay: -1.5s;
      transform-origin: 16vw 17vh;
      box-shadow: 40vmin 0 7.6027822887vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(14) {
      color: #E45A84;
      top: 10%;
      left: 26%;
      animation-duration: 14s;
      animation-delay: -13.5s;
      transform-origin: 19vw 6vh;
      box-shadow: 40vmin 0 6.033714427vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(15) {
      color: #583C87;
      top: 5%;
      left: 89%;
      animation-duration: 10.8s;
      animation-delay: -7s;
      transform-origin: 24vw 23vh;
      box-shadow: -40vmin 0 11.1420940295vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(16) {
      color: #E45A84;
      top: 93%;
      left: 53%;
      animation-duration: 12.4s;
      animation-delay: -8.6s;
      transform-origin: -16vw 3vh;
      box-shadow: -40vmin 0 8.4808091197vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(17) {
      color: #583C87;
      top: 70%;
      left: 92%;
      animation-duration: 14.6s;
      animation-delay: -8.3s;
      transform-origin: 8vw -5vh;
      box-shadow: -40vmin 0 9.4145491957vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(18) {
      color: #FFACAC;
      top: 26%;
      left: 94%;
      animation-duration: 11s;
      animation-delay: -12.5s;
      transform-origin: -3vw -14vh;
      box-shadow: -40vmin 0 9.8080456493vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(19) {
      color: #E45A84;
      top: 39%;
      left: 77%;
      animation-duration: 16s;
      animation-delay: -14.8s;
      transform-origin: -4vw -8vh;
      box-shadow: 40vmin 0 12.5108278557vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(20) {
      color: #583C87;
      top: 97%;
      left: 48%;
      animation-duration: 14.2s;
      animation-delay: -15.1s;
      transform-origin: 15vw 18vh;
      box-shadow: 40vmin 0 6.3736103844vmin currentColor; }
@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg); } }
  .animation-backgrounds-8 .btn {
    background-color: #ff00ae !important;
    color: #ffffff !important;
    border-radius: 33px !important;
    font-size: 18px !important;
    padding: 0.9em 2em !important; }
    .animation-backgrounds-8 .btn:hover {
      background-color: #7100b3 !important;
      color: #ffffff !important; }

/*# sourceMappingURL=animation-backgrounds.css.map */
