@keyframes color {
  0% {
    background: #33CCCC; }
  20% {
    background: #33CC36; }
  40% {
    background: #B8CC33; }
  60% {
    background: #FCCA00; }
  80% {
    background: #33CC36; }
  100% {
    background: #33CCCC; } }
.animation-backgrounds-1 section.section.bg-animation {
  background: #33CCCC;
  /* Fallback */
  animation: color 9s infinite linear;
  text-align: center;
  padding: 2em; }
.animation-backgrounds-1 .btn {
  background-color: rgba(255, 255, 255, 0) !important;
  color: #ffffff !important;
  border-color: #ffffff !important;
  border-width: 2px !important;
  border-radius: 33px !important; }
  .animation-backgrounds-1 .btn:hover {
    background-color: #ffffff !important;
    color: #32c028 !important;
    border-color: #ffffff !important; }

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
.animation-backgrounds-2 section.section.bg-animation {
  background-size: 300% 300%;
  background-image: linear-gradient(-45deg, #3bade3 0%, #576fe6 25%, #9844b7 51%, #ff357f 100%);
  animation: AnimateBG 20s ease infinite; }
.animation-backgrounds-2 .btn {
  background-color: rgba(255, 255, 255, 0) !important;
  color: #ffffff !important;
  border-color: #ffffff !important;
  font-size: 16px !important;
  padding: 0.9em 2em !important; }
  .animation-backgrounds-2 .btn:hover {
    background-color: #ffffff !important;
    color: #006aff !important; }

.animation-backgrounds-3 {
  /* Animate Background*/
  /* ============= Animation background ========= */ }
@keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1; }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0; } }
  .animation-backgrounds-3 .container-fluid.animation {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background: #FFF; }
  .animation-backgrounds-3 .background {
    background: linear-gradient(132deg, #FC415A, #591BC5, #212335);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0px; }
  .animation-backgrounds-3 .cube {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #D7D4E4;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 12s ease-in forwards infinite; }
  .animation-backgrounds-3 .cube:nth-child(2n) {
    border-color: #FFF; }
  .animation-backgrounds-3 .cube:nth-child(2) {
    animation-delay: 2s;
    left: 25vw;
    top: 40vh; }
  .animation-backgrounds-3 .cube:nth-child(3) {
    animation-delay: 4s;
    left: 75vw;
    top: 50vh; }
  .animation-backgrounds-3 .cube:nth-child(4) {
    animation-delay: 6s;
    left: 90vw;
    top: 10vh; }
  .animation-backgrounds-3 .cube:nth-child(5) {
    animation-delay: 8s;
    left: 10vw;
    top: 85vh; }
  .animation-backgrounds-3 .cube:nth-child(6) {
    animation-delay: 10s;
    left: 50vw;
    top: 10vh; }
  .animation-backgrounds-3 .btn {
    background-color: #b500da !important;
    color: #ffffff !important;
    font-size: 18px !important;
    padding: 0.9em 2em !important;
    border-color: #b500da !important; }
    .animation-backgrounds-3 .btn:hover {
      background-color: rgba(255, 0, 0, 0) !important;
      color: #ffffff !important;
      border-color: #ffffff !important; }

.animation-backgrounds-4 {
  margin: 0;
  overflow: hidden; }
  .animation-backgrounds-4 .background {
    width: 100vw;
    height: 100vh;
    background: #3E1E68; }
  .animation-backgrounds-4 .background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation-name: move;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }
    .animation-backgrounds-4 .background span:nth-child(1) {
      color: #583C87;
      top: 99%;
      left: 18%;
      animation-duration: 10.7s;
      animation-delay: -8s;
      transform-origin: -4vw 0vh;
      box-shadow: -40vmin 0 9.3019792814vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(2) {
      color: #E45A84;
      top: 37%;
      left: 58%;
      animation-duration: 14.3s;
      animation-delay: -3.1s;
      transform-origin: -5vw -10vh;
      box-shadow: 40vmin 0 7.1119803676vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(3) {
      color: #583C87;
      top: 29%;
      left: 63%;
      animation-duration: 14.1s;
      animation-delay: -9.1s;
      transform-origin: 4vw -19vh;
      box-shadow: -40vmin 0 10.1421015935vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(4) {
      color: #E45A84;
      top: 15%;
      left: 32%;
      animation-duration: 11.9s;
      animation-delay: -10.7s;
      transform-origin: 8vw 11vh;
      box-shadow: -40vmin 0 7.8097620095vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(5) {
      color: #E45A84;
      top: 64%;
      left: 85%;
      animation-duration: 12.8s;
      animation-delay: -7.5s;
      transform-origin: 10vw -13vh;
      box-shadow: -40vmin 0 5.7965486984vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(6) {
      color: #FFACAC;
      top: 56%;
      left: 41%;
      animation-duration: 12.4s;
      animation-delay: -12.6s;
      transform-origin: -18vw -18vh;
      box-shadow: -40vmin 0 5.3177194952vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(7) {
      color: #FFACAC;
      top: 94%;
      left: 24%;
      animation-duration: 10.2s;
      animation-delay: -12.3s;
      transform-origin: 19vw -18vh;
      box-shadow: -40vmin 0 12.3582239781vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(8) {
      color: #FFACAC;
      top: 73%;
      left: 42%;
      animation-duration: 13.4s;
      animation-delay: -7.3s;
      transform-origin: 22vw 23vh;
      box-shadow: 40vmin 0 8.5554419978vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(9) {
      color: #FFACAC;
      top: 44%;
      left: 89%;
      animation-duration: 12.4s;
      animation-delay: -15.1s;
      transform-origin: 19vw 10vh;
      box-shadow: -40vmin 0 6.9383149489vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(10) {
      color: #E45A84;
      top: 25%;
      left: 12%;
      animation-duration: 10.6s;
      animation-delay: -4.6s;
      transform-origin: 1vw -6vh;
      box-shadow: 40vmin 0 14.0139504146vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(11) {
      color: #E45A84;
      top: 83%;
      left: 53%;
      animation-duration: 11.1s;
      animation-delay: -8.6s;
      transform-origin: 5vw -12vh;
      box-shadow: 40vmin 0 5.639036209vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(12) {
      color: #E45A84;
      top: 39%;
      left: 12%;
      animation-duration: 12.7s;
      animation-delay: -8.4s;
      transform-origin: 23vw 7vh;
      box-shadow: 40vmin 0 9.4457907014vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(13) {
      color: #E45A84;
      top: 51%;
      left: 43%;
      animation-duration: 15.2s;
      animation-delay: -7.7s;
      transform-origin: -9vw 13vh;
      box-shadow: -40vmin 0 10.0301882099vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(14) {
      color: #583C87;
      top: 8%;
      left: 13%;
      animation-duration: 12.2s;
      animation-delay: -10.4s;
      transform-origin: 16vw 5vh;
      box-shadow: -40vmin 0 7.1904321858vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(15) {
      color: #FFACAC;
      top: 87%;
      left: 9%;
      animation-duration: 15.4s;
      animation-delay: -12.7s;
      transform-origin: 19vw -5vh;
      box-shadow: -40vmin 0 8.8132895708vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(16) {
      color: #FFACAC;
      top: 48%;
      left: 1%;
      animation-duration: 15.1s;
      animation-delay: -16s;
      transform-origin: 1vw 15vh;
      box-shadow: 40vmin 0 13.3254185348vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(17) {
      color: #E45A84;
      top: 53%;
      left: 91%;
      animation-duration: 13.6s;
      animation-delay: -5.3s;
      transform-origin: -16vw 1vh;
      box-shadow: 40vmin 0 14.6984554934vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(18) {
      color: #E45A84;
      top: 14%;
      left: 20%;
      animation-duration: 12.8s;
      animation-delay: -7s;
      transform-origin: 7vw 14vh;
      box-shadow: -40vmin 0 6.1683366829vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(19) {
      color: #583C87;
      top: 3%;
      left: 98%;
      animation-duration: 11.3s;
      animation-delay: -1.9s;
      transform-origin: 25vw -24vh;
      box-shadow: 40vmin 0 12.1998392539vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(20) {
      color: #583C87;
      top: 82%;
      left: 57%;
      animation-duration: 13.2s;
      animation-delay: -6.7s;
      transform-origin: 17vw 14vh;
      box-shadow: 40vmin 0 5.0128399298vmin currentColor; }
@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg); } }
  .animation-backgrounds-4 .btn {
    color: #ffffff !important;
    border-color: #ffffff !important;
    border-radius: 33px !important;
    font-size: 18px !important;
    padding: 0.9em 2em !important;
    background-color: transparent !important; }
    .animation-backgrounds-4 .btn:hover {
      background-color: #ffffff !important;
      color: #950063 !important; }

.animation-backgrounds-5 .context {
  width: 100%;
  position: absolute;
  top: 50vh; }
.animation-backgrounds-5 .area {
  width: 100%;
  height: 100vh; }
.animation-backgrounds-5 .circles {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }
.animation-backgrounds-5 .circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px; }
.animation-backgrounds-5 .circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s; }
.animation-backgrounds-5 .circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s; }
.animation-backgrounds-5 .circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s; }
.animation-backgrounds-5 .circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s; }
.animation-backgrounds-5 .circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s; }
.animation-backgrounds-5 .circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s; }
.animation-backgrounds-5 .circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s; }
.animation-backgrounds-5 .circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s; }
.animation-backgrounds-5 .circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s; }
.animation-backgrounds-5 .circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s; }
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0; }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%; } }
.animation-backgrounds-5 .btn {
  background-color: rgba(255, 255, 255, 0) !important;
  color: #ffffff !important;
  border-color: #ffffff !important;
  border-width: 4px !important;
  font-size: 16px !important;
  padding: 0.9em 2em !important; }

.animation-backgrounds-6 .bg-animation {
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
  z-index: 3; }
.animation-backgrounds-6 .stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
  z-index: -1; }
.animation-backgrounds-6 .star {
  --star-color: #ffffff;
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite; }
  @media screen and (max-width: 750px) {
    .animation-backgrounds-6 .star {
      animation: fall var(--fall-duration) var(--fall-delay) linear infinite; } }
  .animation-backgrounds-6 .star:nth-child(1) {
    --star-tail-length: 7.32em;
    --top-offset: 76.57vh;
    --fall-duration: 8.506s;
    --fall-delay: 0.593s; }
  .animation-backgrounds-6 .star:nth-child(2) {
    --star-tail-length: 6.79em;
    --top-offset: 79.72vh;
    --fall-duration: 10.795s;
    --fall-delay: 0.659s; }
  .animation-backgrounds-6 .star:nth-child(3) {
    --star-tail-length: 7.09em;
    --top-offset: 98.9vh;
    --fall-duration: 9.385s;
    --fall-delay: 0.876s; }
  .animation-backgrounds-6 .star:nth-child(4) {
    --star-tail-length: 6.81em;
    --top-offset: 92.22vh;
    --fall-duration: 10.106s;
    --fall-delay: 4.858s; }
  .animation-backgrounds-6 .star:nth-child(5) {
    --star-tail-length: 6.94em;
    --top-offset: 62.41vh;
    --fall-duration: 10.362s;
    --fall-delay: 4.707s; }
  .animation-backgrounds-6 .star:nth-child(6) {
    --star-tail-length: 5.46em;
    --top-offset: 76.69vh;
    --fall-duration: 9.741s;
    --fall-delay: 2.389s; }
  .animation-backgrounds-6 .star:nth-child(7) {
    --star-tail-length: 5.92em;
    --top-offset: 81.64vh;
    --fall-duration: 8.713s;
    --fall-delay: 3.338s; }
  .animation-backgrounds-6 .star:nth-child(8) {
    --star-tail-length: 7.08em;
    --top-offset: 98.55vh;
    --fall-duration: 10.969s;
    --fall-delay: 4.691s; }
  .animation-backgrounds-6 .star:nth-child(9) {
    --star-tail-length: 5.96em;
    --top-offset: 23.78vh;
    --fall-duration: 6.419s;
    --fall-delay: 0.35s; }
  .animation-backgrounds-6 .star:nth-child(10) {
    --star-tail-length: 6.03em;
    --top-offset: 45.03vh;
    --fall-duration: 7.517s;
    --fall-delay: 4.545s; }
  .animation-backgrounds-6 .star:nth-child(11) {
    --star-tail-length: 7.06em;
    --top-offset: 89.63vh;
    --fall-duration: 8.84s;
    --fall-delay: 7.79s; }
  .animation-backgrounds-6 .star:nth-child(12) {
    --star-tail-length: 6.06em;
    --top-offset: 62.39vh;
    --fall-duration: 10.858s;
    --fall-delay: 2.732s; }
  .animation-backgrounds-6 .star:nth-child(13) {
    --star-tail-length: 6.53em;
    --top-offset: 56.46vh;
    --fall-duration: 9.093s;
    --fall-delay: 1.325s; }
  .animation-backgrounds-6 .star:nth-child(14) {
    --star-tail-length: 5.57em;
    --top-offset: 77.95vh;
    --fall-duration: 11.266s;
    --fall-delay: 8.239s; }
  .animation-backgrounds-6 .star:nth-child(15) {
    --star-tail-length: 6.98em;
    --top-offset: 2.82vh;
    --fall-duration: 6.738s;
    --fall-delay: 8.865s; }
  .animation-backgrounds-6 .star:nth-child(16) {
    --star-tail-length: 6.89em;
    --top-offset: 55.59vh;
    --fall-duration: 8.436s;
    --fall-delay: 1.546s; }
  .animation-backgrounds-6 .star:nth-child(17) {
    --star-tail-length: 5.47em;
    --top-offset: 13.63vh;
    --fall-duration: 7.681s;
    --fall-delay: 3.392s; }
  .animation-backgrounds-6 .star:nth-child(18) {
    --star-tail-length: 5.06em;
    --top-offset: 70.15vh;
    --fall-duration: 7.777s;
    --fall-delay: 7.209s; }
  .animation-backgrounds-6 .star:nth-child(19) {
    --star-tail-length: 5.25em;
    --top-offset: 5.37vh;
    --fall-duration: 7.562s;
    --fall-delay: 7.719s; }
  .animation-backgrounds-6 .star:nth-child(20) {
    --star-tail-length: 6.7em;
    --top-offset: 23.01vh;
    --fall-duration: 11.173s;
    --fall-delay: 1.981s; }
  .animation-backgrounds-6 .star:nth-child(21) {
    --star-tail-length: 7.31em;
    --top-offset: 23.7vh;
    --fall-duration: 8.254s;
    --fall-delay: 0.514s; }
  .animation-backgrounds-6 .star:nth-child(22) {
    --star-tail-length: 5.83em;
    --top-offset: 68.01vh;
    --fall-duration: 9.884s;
    --fall-delay: 7.48s; }
  .animation-backgrounds-6 .star:nth-child(23) {
    --star-tail-length: 7.28em;
    --top-offset: 79.05vh;
    --fall-duration: 10.041s;
    --fall-delay: 9.191s; }
  .animation-backgrounds-6 .star:nth-child(24) {
    --star-tail-length: 6.18em;
    --top-offset: 49.5vh;
    --fall-duration: 6.243s;
    --fall-delay: 1.601s; }
  .animation-backgrounds-6 .star:nth-child(25) {
    --star-tail-length: 7.39em;
    --top-offset: 34.91vh;
    --fall-duration: 7.622s;
    --fall-delay: 8.187s; }
  .animation-backgrounds-6 .star:nth-child(26) {
    --star-tail-length: 6.44em;
    --top-offset: 82.97vh;
    --fall-duration: 6.021s;
    --fall-delay: 7.818s; }
  .animation-backgrounds-6 .star:nth-child(27) {
    --star-tail-length: 5.76em;
    --top-offset: 83.42vh;
    --fall-duration: 6.177s;
    --fall-delay: 9.592s; }
  .animation-backgrounds-6 .star:nth-child(28) {
    --star-tail-length: 5.16em;
    --top-offset: 42.61vh;
    --fall-duration: 11.439s;
    --fall-delay: 2.33s; }
  .animation-backgrounds-6 .star:nth-child(29) {
    --star-tail-length: 6.38em;
    --top-offset: 37.19vh;
    --fall-duration: 10.607s;
    --fall-delay: 9.797s; }
  .animation-backgrounds-6 .star:nth-child(30) {
    --star-tail-length: 5.52em;
    --top-offset: 75.94vh;
    --fall-duration: 10.425s;
    --fall-delay: 6.619s; }
  .animation-backgrounds-6 .star:nth-child(31) {
    --star-tail-length: 7.39em;
    --top-offset: 3.32vh;
    --fall-duration: 8.064s;
    --fall-delay: 2.065s; }
  .animation-backgrounds-6 .star:nth-child(32) {
    --star-tail-length: 6.44em;
    --top-offset: 50.3vh;
    --fall-duration: 6.588s;
    --fall-delay: 5.821s; }
  .animation-backgrounds-6 .star:nth-child(33) {
    --star-tail-length: 6.46em;
    --top-offset: 88.74vh;
    --fall-duration: 6.68s;
    --fall-delay: 3.757s; }
  .animation-backgrounds-6 .star:nth-child(34) {
    --star-tail-length: 5.85em;
    --top-offset: 78.54vh;
    --fall-duration: 8.909s;
    --fall-delay: 4.14s; }
  .animation-backgrounds-6 .star:nth-child(35) {
    --star-tail-length: 5.47em;
    --top-offset: 22.42vh;
    --fall-duration: 10.943s;
    --fall-delay: 8.403s; }
  .animation-backgrounds-6 .star:nth-child(36) {
    --star-tail-length: 5.2em;
    --top-offset: 79.65vh;
    --fall-duration: 11.573s;
    --fall-delay: 9.914s; }
  .animation-backgrounds-6 .star:nth-child(37) {
    --star-tail-length: 5.3em;
    --top-offset: 92.52vh;
    --fall-duration: 9.865s;
    --fall-delay: 4.016s; }
  .animation-backgrounds-6 .star:nth-child(38) {
    --star-tail-length: 5.73em;
    --top-offset: 76.29vh;
    --fall-duration: 11.048s;
    --fall-delay: 5.538s; }
  .animation-backgrounds-6 .star:nth-child(39) {
    --star-tail-length: 7.22em;
    --top-offset: 98.11vh;
    --fall-duration: 9.034s;
    --fall-delay: 6.419s; }
  .animation-backgrounds-6 .star:nth-child(40) {
    --star-tail-length: 6.91em;
    --top-offset: 9.03vh;
    --fall-duration: 9.023s;
    --fall-delay: 5.962s; }
  .animation-backgrounds-6 .star:nth-child(41) {
    --star-tail-length: 5.22em;
    --top-offset: 38.43vh;
    --fall-duration: 11.767s;
    --fall-delay: 3.913s; }
  .animation-backgrounds-6 .star:nth-child(42) {
    --star-tail-length: 6.36em;
    --top-offset: 6.14vh;
    --fall-duration: 6.562s;
    --fall-delay: 8.482s; }
  .animation-backgrounds-6 .star:nth-child(43) {
    --star-tail-length: 7.45em;
    --top-offset: 0.59vh;
    --fall-duration: 6.994s;
    --fall-delay: 4.558s; }
  .animation-backgrounds-6 .star:nth-child(44) {
    --star-tail-length: 7.28em;
    --top-offset: 43.67vh;
    --fall-duration: 7.621s;
    --fall-delay: 2.472s; }
  .animation-backgrounds-6 .star:nth-child(45) {
    --star-tail-length: 5.85em;
    --top-offset: 29.09vh;
    --fall-duration: 11.118s;
    --fall-delay: 5.319s; }
  .animation-backgrounds-6 .star:nth-child(46) {
    --star-tail-length: 5.47em;
    --top-offset: 93.82vh;
    --fall-duration: 7.144s;
    --fall-delay: 2.195s; }
  .animation-backgrounds-6 .star:nth-child(47) {
    --star-tail-length: 6.12em;
    --top-offset: 94.68vh;
    --fall-duration: 7.273s;
    --fall-delay: 7.144s; }
  .animation-backgrounds-6 .star:nth-child(48) {
    --star-tail-length: 7.39em;
    --top-offset: 97.97vh;
    --fall-duration: 10.087s;
    --fall-delay: 6.99s; }
  .animation-backgrounds-6 .star:nth-child(49) {
    --star-tail-length: 5.99em;
    --top-offset: 64.26vh;
    --fall-duration: 11.087s;
    --fall-delay: 2.763s; }
  .animation-backgrounds-6 .star:nth-child(50) {
    --star-tail-length: 6.45em;
    --top-offset: 30.31vh;
    --fall-duration: 11.409s;
    --fall-delay: 7.934s; }
  .animation-backgrounds-6 .star::before, .animation-backgrounds-6 .star::after {
    position: absolute;
    content: '';
    top: 0;
    left: calc(var(--star-width) / -2);
    width: var(--star-width);
    height: 100%;
    background: linear-gradient(45deg, transparent, currentColor, transparent);
    border-radius: inherit;
    animation: blink 2s linear infinite; }
  .animation-backgrounds-6 .star::before {
    transform: rotate(45deg); }
  .animation-backgrounds-6 .star::after {
    transform: rotate(-45deg); }
@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0); } }
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1; }
  70%, 80% {
    width: 0;
    opacity: 0.4; }
  100% {
    width: 0;
    opacity: 0; } }
@keyframes blink {
  50% {
    opacity: 0.6; } }
.animation-backgrounds-6 .btn {
  background-color: transparent !important;
  color: #ffffff !important;
  font-size: 16px !important;
  padding: 0.9em 2em !important;
  border-width: 2px !important;
  border-radius: 33px !important;
  border-color: #ffffff !important; }
  .animation-backgrounds-6 .btn:hover {
    background-color: #27437f !important;
    color: #ffffff !important;
    border-color: #ffffff !important; }

.animation-backgrounds-7 .wrapper {
  animation: scroll 70s linear infinite;
  background: url("../../img/animations/BACKGROUND.jpg"), #111111;
  z-index: 0;
  background-size: cover; }
@keyframes scroll {
  100% {
    background-position: 0px -3000px; } }
@media (prefers-reduced-motion) {
  .animation-backgrounds-7 .wrapper {
    animation: scroll 200s linear infinite; } }
@media (min-width: 670px) {
  .animation-backgrounds-7 .title {
    font-size: 5rem; } }
.animation-backgrounds-7 .btn {
  background-color: #bba32e !important;
  border-color: #11025a !important;
  border-width: 3px !important;
  border-radius: 33px !important;
  font-size: 18px !important;
  padding: 0.9em 2em !important; }
  .animation-backgrounds-7 .btn:hover {
    background-color: #11025a !important;
    color: #ffffff !important;
    border-color: #bba32e !important; }

.animation-backgrounds-8 {
  margin: 0;
  overflow: hidden; }
  .animation-backgrounds-8 .background {
    width: 100vw;
    height: 100vh;
    background: #3E1E68; }
  .animation-backgrounds-8 .background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation-name: move;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }
    .animation-backgrounds-8 .background span:nth-child(1) {
      color: #FFACAC;
      top: 38%;
      left: 13%;
      animation-duration: 15.2s;
      animation-delay: -15.7s;
      transform-origin: 23vw 12vh;
      box-shadow: 40vmin 0 14.6421382253vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(2) {
      color: #E45A84;
      top: 88%;
      left: 32%;
      animation-duration: 15.5s;
      animation-delay: -3.8s;
      transform-origin: 23vw 25vh;
      box-shadow: 40vmin 0 10.5841929001vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(3) {
      color: #FFACAC;
      top: 10%;
      left: 45%;
      animation-duration: 10.3s;
      animation-delay: -15.5s;
      transform-origin: -11vw -4vh;
      box-shadow: 40vmin 0 10.4280404337vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(4) {
      color: #FFACAC;
      top: 83%;
      left: 56%;
      animation-duration: 13.5s;
      animation-delay: -1.8s;
      transform-origin: -3vw 24vh;
      box-shadow: -40vmin 0 7.0013828936vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(5) {
      color: #583C87;
      top: 79%;
      left: 85%;
      animation-duration: 10.7s;
      animation-delay: -8.6s;
      transform-origin: 6vw -6vh;
      box-shadow: -40vmin 0 14.6021585071vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(6) {
      color: #E45A84;
      top: 92%;
      left: 76%;
      animation-duration: 14.8s;
      animation-delay: -11.8s;
      transform-origin: 15vw 4vh;
      box-shadow: -40vmin 0 5.5212945101vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(7) {
      color: #583C87;
      top: 6%;
      left: 75%;
      animation-duration: 10.7s;
      animation-delay: -11.9s;
      transform-origin: 1vw -9vh;
      box-shadow: -40vmin 0 12.6666970295vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(8) {
      color: #FFACAC;
      top: 24%;
      left: 69%;
      animation-duration: 10.4s;
      animation-delay: -10.1s;
      transform-origin: 7vw -14vh;
      box-shadow: 40vmin 0 9.585235441vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(9) {
      color: #583C87;
      top: 29%;
      left: 3%;
      animation-duration: 11.3s;
      animation-delay: -12.8s;
      transform-origin: 18vw 19vh;
      box-shadow: -40vmin 0 5.5105081829vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(10) {
      color: #E45A84;
      top: 62%;
      left: 47%;
      animation-duration: 11.3s;
      animation-delay: -7.5s;
      transform-origin: 1vw 2vh;
      box-shadow: 40vmin 0 14.551088204vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(11) {
      color: #E45A84;
      top: 41%;
      left: 85%;
      animation-duration: 14.3s;
      animation-delay: -5.3s;
      transform-origin: -8vw -2vh;
      box-shadow: 40vmin 0 9.9023825682vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(12) {
      color: #583C87;
      top: 33%;
      left: 45%;
      animation-duration: 14.6s;
      animation-delay: -5.4s;
      transform-origin: -10vw -1vh;
      box-shadow: -40vmin 0 13.1391417655vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(13) {
      color: #583C87;
      top: 20%;
      left: 5%;
      animation-duration: 15.2s;
      animation-delay: -14.8s;
      transform-origin: 11vw 11vh;
      box-shadow: -40vmin 0 11.9096858086vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(14) {
      color: #583C87;
      top: 79%;
      left: 72%;
      animation-duration: 15.4s;
      animation-delay: -5.1s;
      transform-origin: 25vw 19vh;
      box-shadow: -40vmin 0 5.9078782464vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(15) {
      color: #FFACAC;
      top: 91%;
      left: 4%;
      animation-duration: 12.1s;
      animation-delay: -11.1s;
      transform-origin: -24vw -22vh;
      box-shadow: -40vmin 0 13.8822627741vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(16) {
      color: #E45A84;
      top: 69%;
      left: 91%;
      animation-duration: 11.8s;
      animation-delay: -10.3s;
      transform-origin: 12vw -9vh;
      box-shadow: 40vmin 0 7.9447287036vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(17) {
      color: #E45A84;
      top: 34%;
      left: 66%;
      animation-duration: 16s;
      animation-delay: -11s;
      transform-origin: -18vw 23vh;
      box-shadow: 40vmin 0 14.8006647186vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(18) {
      color: #E45A84;
      top: 74%;
      left: 67%;
      animation-duration: 14.6s;
      animation-delay: -14.4s;
      transform-origin: -14vw -2vh;
      box-shadow: 40vmin 0 5.7296474859vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(19) {
      color: #FFACAC;
      top: 4%;
      left: 84%;
      animation-duration: 13.7s;
      animation-delay: -7.4s;
      transform-origin: 9vw 18vh;
      box-shadow: 40vmin 0 5.2629338387vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(20) {
      color: #583C87;
      top: 79%;
      left: 86%;
      animation-duration: 15.9s;
      animation-delay: -6.2s;
      transform-origin: -2vw 11vh;
      box-shadow: 40vmin 0 14.194102819vmin currentColor; }
@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg); } }
  .animation-backgrounds-8 .btn {
    background-color: #ff00ae !important;
    color: #ffffff !important;
    border-radius: 33px !important;
    font-size: 18px !important;
    padding: 0.9em 2em !important; }
    .animation-backgrounds-8 .btn:hover {
      background-color: #7100b3 !important;
      color: #ffffff !important; }

/*# sourceMappingURL=animation-backgrounds.css.map */
