@keyframes color {
  0% {
    background: #33CCCC; }
  20% {
    background: #33CC36; }
  40% {
    background: #B8CC33; }
  60% {
    background: #FCCA00; }
  80% {
    background: #33CC36; }
  100% {
    background: #33CCCC; } }
.animation-backgrounds-1 section.section.bg-animation {
  background: #33CCCC;
  /* Fallback */
  animation: color 9s infinite linear;
  text-align: center;
  padding: 2em; }
.animation-backgrounds-1 .btn {
  background-color: rgba(255, 255, 255, 0) !important;
  color: #ffffff !important;
  border-color: #ffffff !important;
  border-width: 2px !important;
  border-radius: 33px !important; }
  .animation-backgrounds-1 .btn:hover {
    background-color: #ffffff !important;
    color: #32c028 !important;
    border-color: #ffffff !important; }

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
.animation-backgrounds-2 section.section.bg-animation {
  background-size: 300% 300%;
  background-image: linear-gradient(-45deg, #3bade3 0%, #576fe6 25%, #9844b7 51%, #ff357f 100%);
  animation: AnimateBG 20s ease infinite; }
.animation-backgrounds-2 .btn {
  background-color: rgba(255, 255, 255, 0) !important;
  color: #ffffff !important;
  border-color: #ffffff !important;
  font-size: 16px !important;
  padding: 0.9em 2em !important; }
  .animation-backgrounds-2 .btn:hover {
    background-color: #ffffff !important;
    color: #006aff !important; }

.animation-backgrounds-3 {
  /* Animate Background*/
  /* ============= Animation background ========= */ }
@keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1; }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0; } }
  .animation-backgrounds-3 .container-fluid.animation {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background: #FFF; }
  .animation-backgrounds-3 .background {
    background: linear-gradient(132deg, #FC415A, #591BC5, #212335);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0px; }
  .animation-backgrounds-3 .cube {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #D7D4E4;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 12s ease-in forwards infinite; }
  .animation-backgrounds-3 .cube:nth-child(2n) {
    border-color: #FFF; }
  .animation-backgrounds-3 .cube:nth-child(2) {
    animation-delay: 2s;
    left: 25vw;
    top: 40vh; }
  .animation-backgrounds-3 .cube:nth-child(3) {
    animation-delay: 4s;
    left: 75vw;
    top: 50vh; }
  .animation-backgrounds-3 .cube:nth-child(4) {
    animation-delay: 6s;
    left: 90vw;
    top: 10vh; }
  .animation-backgrounds-3 .cube:nth-child(5) {
    animation-delay: 8s;
    left: 10vw;
    top: 85vh; }
  .animation-backgrounds-3 .cube:nth-child(6) {
    animation-delay: 10s;
    left: 50vw;
    top: 10vh; }
  .animation-backgrounds-3 .btn {
    background-color: #b500da !important;
    color: #ffffff !important;
    font-size: 18px !important;
    padding: 0.9em 2em !important;
    border-color: #b500da !important; }
    .animation-backgrounds-3 .btn:hover {
      background-color: rgba(255, 0, 0, 0) !important;
      color: #ffffff !important;
      border-color: #ffffff !important; }

.animation-backgrounds-4 {
  margin: 0;
  overflow: hidden; }
  .animation-backgrounds-4 .background {
    width: 100vw;
    height: 100vh;
    background: #3E1E68; }
  .animation-backgrounds-4 .background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation-name: move;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }
    .animation-backgrounds-4 .background span:nth-child(1) {
      color: #FFACAC;
      top: 65%;
      left: 56%;
      animation-duration: 15.1s;
      animation-delay: -6.1s;
      transform-origin: 24vw 15vh;
      box-shadow: -40vmin 0 12.1150977131vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(2) {
      color: #E45A84;
      top: 45%;
      left: 80%;
      animation-duration: 15.7s;
      animation-delay: -3s;
      transform-origin: 7vw 15vh;
      box-shadow: 40vmin 0 9.0306165658vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(3) {
      color: #E45A84;
      top: 95%;
      left: 94%;
      animation-duration: 11.2s;
      animation-delay: -7.2s;
      transform-origin: -24vw -14vh;
      box-shadow: 40vmin 0 12.6723406868vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(4) {
      color: #583C87;
      top: 89%;
      left: 65%;
      animation-duration: 12.4s;
      animation-delay: -13.2s;
      transform-origin: 10vw -17vh;
      box-shadow: -40vmin 0 5.7973595098vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(5) {
      color: #FFACAC;
      top: 25%;
      left: 33%;
      animation-duration: 13.8s;
      animation-delay: -14s;
      transform-origin: -5vw 7vh;
      box-shadow: 40vmin 0 11.1979953838vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(6) {
      color: #E45A84;
      top: 60%;
      left: 1%;
      animation-duration: 11.6s;
      animation-delay: -12.2s;
      transform-origin: -16vw -7vh;
      box-shadow: -40vmin 0 13.9112556676vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(7) {
      color: #E45A84;
      top: 66%;
      left: 82%;
      animation-duration: 12.4s;
      animation-delay: -4.8s;
      transform-origin: 0vw -11vh;
      box-shadow: 40vmin 0 6.4504483732vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(8) {
      color: #FFACAC;
      top: 68%;
      left: 70%;
      animation-duration: 12.2s;
      animation-delay: -12.9s;
      transform-origin: -17vw 2vh;
      box-shadow: -40vmin 0 12.3826030888vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(9) {
      color: #FFACAC;
      top: 42%;
      left: 93%;
      animation-duration: 14.1s;
      animation-delay: -5.6s;
      transform-origin: -9vw -11vh;
      box-shadow: -40vmin 0 8.8827795722vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(10) {
      color: #583C87;
      top: 72%;
      left: 83%;
      animation-duration: 12.8s;
      animation-delay: -9.8s;
      transform-origin: 22vw -21vh;
      box-shadow: 40vmin 0 7.7009117384vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(11) {
      color: #E45A84;
      top: 32%;
      left: 31%;
      animation-duration: 12.1s;
      animation-delay: -13.4s;
      transform-origin: 16vw -17vh;
      box-shadow: 40vmin 0 9.9944123484vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(12) {
      color: #583C87;
      top: 35%;
      left: 31%;
      animation-duration: 10.1s;
      animation-delay: -2.4s;
      transform-origin: -9vw -9vh;
      box-shadow: 40vmin 0 5.2005826355vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(13) {
      color: #583C87;
      top: 94%;
      left: 10%;
      animation-duration: 10.1s;
      animation-delay: -0.2s;
      transform-origin: -5vw 24vh;
      box-shadow: 40vmin 0 5.7199535068vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(14) {
      color: #583C87;
      top: 100%;
      left: 37%;
      animation-duration: 10.7s;
      animation-delay: -3s;
      transform-origin: -7vw -5vh;
      box-shadow: 40vmin 0 7.9722089559vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(15) {
      color: #E45A84;
      top: 44%;
      left: 37%;
      animation-duration: 14.2s;
      animation-delay: -3.4s;
      transform-origin: -13vw 24vh;
      box-shadow: 40vmin 0 9.0807926173vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(16) {
      color: #583C87;
      top: 97%;
      left: 2%;
      animation-duration: 14s;
      animation-delay: -9.1s;
      transform-origin: 7vw 10vh;
      box-shadow: 40vmin 0 8.5858529135vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(17) {
      color: #E45A84;
      top: 38%;
      left: 26%;
      animation-duration: 13.9s;
      animation-delay: -14.1s;
      transform-origin: 25vw 10vh;
      box-shadow: -40vmin 0 11.7253287101vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(18) {
      color: #583C87;
      top: 13%;
      left: 62%;
      animation-duration: 14.9s;
      animation-delay: -8.4s;
      transform-origin: 10vw 1vh;
      box-shadow: 40vmin 0 6.5925253566vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(19) {
      color: #583C87;
      top: 46%;
      left: 84%;
      animation-duration: 10.5s;
      animation-delay: -7.2s;
      transform-origin: -8vw 23vh;
      box-shadow: 40vmin 0 11.5248390162vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(20) {
      color: #583C87;
      top: 67%;
      left: 65%;
      animation-duration: 12.5s;
      animation-delay: -0.2s;
      transform-origin: -16vw 0vh;
      box-shadow: -40vmin 0 10.1831594076vmin currentColor; }
@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg); } }
  .animation-backgrounds-4 .btn {
    color: #ffffff !important;
    border-color: #ffffff !important;
    border-radius: 33px !important;
    font-size: 18px !important;
    padding: 0.9em 2em !important;
    background-color: transparent !important; }
    .animation-backgrounds-4 .btn:hover {
      background-color: #ffffff !important;
      color: #950063 !important; }

.animation-backgrounds-5 .context {
  width: 100%;
  position: absolute;
  top: 50vh; }
.animation-backgrounds-5 .area {
  width: 100%;
  height: 100vh; }
.animation-backgrounds-5 .circles {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }
.animation-backgrounds-5 .circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px; }
.animation-backgrounds-5 .circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s; }
.animation-backgrounds-5 .circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s; }
.animation-backgrounds-5 .circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s; }
.animation-backgrounds-5 .circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s; }
.animation-backgrounds-5 .circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s; }
.animation-backgrounds-5 .circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s; }
.animation-backgrounds-5 .circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s; }
.animation-backgrounds-5 .circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s; }
.animation-backgrounds-5 .circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s; }
.animation-backgrounds-5 .circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s; }
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0; }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%; } }
.animation-backgrounds-5 .btn {
  background-color: rgba(255, 255, 255, 0) !important;
  color: #ffffff !important;
  border-color: #ffffff !important;
  border-width: 4px !important;
  font-size: 16px !important;
  padding: 0.9em 2em !important; }

.animation-backgrounds-6 .bg-animation {
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
  z-index: 3; }
.animation-backgrounds-6 .stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
  z-index: -1; }
.animation-backgrounds-6 .star {
  --star-color: #ffffff;
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite; }
  @media screen and (max-width: 750px) {
    .animation-backgrounds-6 .star {
      animation: fall var(--fall-duration) var(--fall-delay) linear infinite; } }
  .animation-backgrounds-6 .star:nth-child(1) {
    --star-tail-length: 6.43em;
    --top-offset: 68.38vh;
    --fall-duration: 8.27s;
    --fall-delay: 6.205s; }
  .animation-backgrounds-6 .star:nth-child(2) {
    --star-tail-length: 7.01em;
    --top-offset: 35.39vh;
    --fall-duration: 6.608s;
    --fall-delay: 6.64s; }
  .animation-backgrounds-6 .star:nth-child(3) {
    --star-tail-length: 6.92em;
    --top-offset: 77.22vh;
    --fall-duration: 7.268s;
    --fall-delay: 3.002s; }
  .animation-backgrounds-6 .star:nth-child(4) {
    --star-tail-length: 6.63em;
    --top-offset: 0.01vh;
    --fall-duration: 11.945s;
    --fall-delay: 3.077s; }
  .animation-backgrounds-6 .star:nth-child(5) {
    --star-tail-length: 5.08em;
    --top-offset: 65.35vh;
    --fall-duration: 8.89s;
    --fall-delay: 3.956s; }
  .animation-backgrounds-6 .star:nth-child(6) {
    --star-tail-length: 7em;
    --top-offset: 20.18vh;
    --fall-duration: 10.611s;
    --fall-delay: 9.75s; }
  .animation-backgrounds-6 .star:nth-child(7) {
    --star-tail-length: 6.59em;
    --top-offset: 25.85vh;
    --fall-duration: 7.937s;
    --fall-delay: 0.176s; }
  .animation-backgrounds-6 .star:nth-child(8) {
    --star-tail-length: 5.04em;
    --top-offset: 94.3vh;
    --fall-duration: 11.188s;
    --fall-delay: 8.809s; }
  .animation-backgrounds-6 .star:nth-child(9) {
    --star-tail-length: 6.12em;
    --top-offset: 57.92vh;
    --fall-duration: 8.748s;
    --fall-delay: 1.928s; }
  .animation-backgrounds-6 .star:nth-child(10) {
    --star-tail-length: 6.04em;
    --top-offset: 10.58vh;
    --fall-duration: 10.577s;
    --fall-delay: 1.575s; }
  .animation-backgrounds-6 .star:nth-child(11) {
    --star-tail-length: 7.1em;
    --top-offset: 76.67vh;
    --fall-duration: 9.79s;
    --fall-delay: 2.039s; }
  .animation-backgrounds-6 .star:nth-child(12) {
    --star-tail-length: 5.07em;
    --top-offset: 80.16vh;
    --fall-duration: 10.699s;
    --fall-delay: 3.86s; }
  .animation-backgrounds-6 .star:nth-child(13) {
    --star-tail-length: 5.87em;
    --top-offset: 79.86vh;
    --fall-duration: 9.366s;
    --fall-delay: 4.648s; }
  .animation-backgrounds-6 .star:nth-child(14) {
    --star-tail-length: 6.03em;
    --top-offset: 64.1vh;
    --fall-duration: 11.152s;
    --fall-delay: 1.756s; }
  .animation-backgrounds-6 .star:nth-child(15) {
    --star-tail-length: 7.41em;
    --top-offset: 53.01vh;
    --fall-duration: 8.983s;
    --fall-delay: 0.496s; }
  .animation-backgrounds-6 .star:nth-child(16) {
    --star-tail-length: 7.36em;
    --top-offset: 37.48vh;
    --fall-duration: 6.269s;
    --fall-delay: 2.017s; }
  .animation-backgrounds-6 .star:nth-child(17) {
    --star-tail-length: 6.71em;
    --top-offset: 87.66vh;
    --fall-duration: 11.857s;
    --fall-delay: 7.872s; }
  .animation-backgrounds-6 .star:nth-child(18) {
    --star-tail-length: 6.7em;
    --top-offset: 95.41vh;
    --fall-duration: 6.517s;
    --fall-delay: 0.069s; }
  .animation-backgrounds-6 .star:nth-child(19) {
    --star-tail-length: 6.73em;
    --top-offset: 1.27vh;
    --fall-duration: 9.192s;
    --fall-delay: 4.496s; }
  .animation-backgrounds-6 .star:nth-child(20) {
    --star-tail-length: 5.03em;
    --top-offset: 13.52vh;
    --fall-duration: 8.507s;
    --fall-delay: 6.01s; }
  .animation-backgrounds-6 .star:nth-child(21) {
    --star-tail-length: 5.85em;
    --top-offset: 3.29vh;
    --fall-duration: 9.476s;
    --fall-delay: 6.337s; }
  .animation-backgrounds-6 .star:nth-child(22) {
    --star-tail-length: 6.68em;
    --top-offset: 25.24vh;
    --fall-duration: 6.562s;
    --fall-delay: 2.053s; }
  .animation-backgrounds-6 .star:nth-child(23) {
    --star-tail-length: 5.46em;
    --top-offset: 58.84vh;
    --fall-duration: 9.719s;
    --fall-delay: 2.985s; }
  .animation-backgrounds-6 .star:nth-child(24) {
    --star-tail-length: 6.76em;
    --top-offset: 90.61vh;
    --fall-duration: 11.347s;
    --fall-delay: 9.809s; }
  .animation-backgrounds-6 .star:nth-child(25) {
    --star-tail-length: 7.22em;
    --top-offset: 84.71vh;
    --fall-duration: 7.796s;
    --fall-delay: 9.202s; }
  .animation-backgrounds-6 .star:nth-child(26) {
    --star-tail-length: 6.86em;
    --top-offset: 51.81vh;
    --fall-duration: 9.246s;
    --fall-delay: 1.068s; }
  .animation-backgrounds-6 .star:nth-child(27) {
    --star-tail-length: 6.47em;
    --top-offset: 2.47vh;
    --fall-duration: 10.868s;
    --fall-delay: 0.313s; }
  .animation-backgrounds-6 .star:nth-child(28) {
    --star-tail-length: 5.51em;
    --top-offset: 52.84vh;
    --fall-duration: 11.578s;
    --fall-delay: 2.058s; }
  .animation-backgrounds-6 .star:nth-child(29) {
    --star-tail-length: 6.38em;
    --top-offset: 43.17vh;
    --fall-duration: 7.656s;
    --fall-delay: 0.681s; }
  .animation-backgrounds-6 .star:nth-child(30) {
    --star-tail-length: 5.21em;
    --top-offset: 38.57vh;
    --fall-duration: 7.301s;
    --fall-delay: 7.966s; }
  .animation-backgrounds-6 .star:nth-child(31) {
    --star-tail-length: 7.49em;
    --top-offset: 30.51vh;
    --fall-duration: 9.081s;
    --fall-delay: 8.801s; }
  .animation-backgrounds-6 .star:nth-child(32) {
    --star-tail-length: 5.16em;
    --top-offset: 7.34vh;
    --fall-duration: 6.557s;
    --fall-delay: 3.579s; }
  .animation-backgrounds-6 .star:nth-child(33) {
    --star-tail-length: 6.45em;
    --top-offset: 50.8vh;
    --fall-duration: 11.135s;
    --fall-delay: 5.715s; }
  .animation-backgrounds-6 .star:nth-child(34) {
    --star-tail-length: 6.95em;
    --top-offset: 73.53vh;
    --fall-duration: 8.309s;
    --fall-delay: 1.162s; }
  .animation-backgrounds-6 .star:nth-child(35) {
    --star-tail-length: 5.42em;
    --top-offset: 20.66vh;
    --fall-duration: 9.87s;
    --fall-delay: 4.713s; }
  .animation-backgrounds-6 .star:nth-child(36) {
    --star-tail-length: 7.33em;
    --top-offset: 99.98vh;
    --fall-duration: 6.098s;
    --fall-delay: 7.393s; }
  .animation-backgrounds-6 .star:nth-child(37) {
    --star-tail-length: 6.52em;
    --top-offset: 41.75vh;
    --fall-duration: 8.835s;
    --fall-delay: 3.195s; }
  .animation-backgrounds-6 .star:nth-child(38) {
    --star-tail-length: 6.71em;
    --top-offset: 86.58vh;
    --fall-duration: 8.011s;
    --fall-delay: 2.576s; }
  .animation-backgrounds-6 .star:nth-child(39) {
    --star-tail-length: 5.85em;
    --top-offset: 77.97vh;
    --fall-duration: 7.689s;
    --fall-delay: 0.35s; }
  .animation-backgrounds-6 .star:nth-child(40) {
    --star-tail-length: 7.25em;
    --top-offset: 3.36vh;
    --fall-duration: 6.408s;
    --fall-delay: 4.2s; }
  .animation-backgrounds-6 .star:nth-child(41) {
    --star-tail-length: 6.73em;
    --top-offset: 42.53vh;
    --fall-duration: 8.261s;
    --fall-delay: 9.843s; }
  .animation-backgrounds-6 .star:nth-child(42) {
    --star-tail-length: 7.17em;
    --top-offset: 69.25vh;
    --fall-duration: 11.725s;
    --fall-delay: 9.379s; }
  .animation-backgrounds-6 .star:nth-child(43) {
    --star-tail-length: 5.78em;
    --top-offset: 18.2vh;
    --fall-duration: 7.928s;
    --fall-delay: 2.497s; }
  .animation-backgrounds-6 .star:nth-child(44) {
    --star-tail-length: 7.13em;
    --top-offset: 85.35vh;
    --fall-duration: 8.385s;
    --fall-delay: 7.243s; }
  .animation-backgrounds-6 .star:nth-child(45) {
    --star-tail-length: 7.37em;
    --top-offset: 95.33vh;
    --fall-duration: 6.038s;
    --fall-delay: 1.209s; }
  .animation-backgrounds-6 .star:nth-child(46) {
    --star-tail-length: 7.2em;
    --top-offset: 93.21vh;
    --fall-duration: 11.344s;
    --fall-delay: 5.345s; }
  .animation-backgrounds-6 .star:nth-child(47) {
    --star-tail-length: 7.25em;
    --top-offset: 19.96vh;
    --fall-duration: 7.961s;
    --fall-delay: 3.529s; }
  .animation-backgrounds-6 .star:nth-child(48) {
    --star-tail-length: 5.45em;
    --top-offset: 0.16vh;
    --fall-duration: 11.659s;
    --fall-delay: 3.709s; }
  .animation-backgrounds-6 .star:nth-child(49) {
    --star-tail-length: 6.51em;
    --top-offset: 80.26vh;
    --fall-duration: 8.9s;
    --fall-delay: 1.674s; }
  .animation-backgrounds-6 .star:nth-child(50) {
    --star-tail-length: 7.27em;
    --top-offset: 2.49vh;
    --fall-duration: 7.588s;
    --fall-delay: 2.21s; }
  .animation-backgrounds-6 .star::before, .animation-backgrounds-6 .star::after {
    position: absolute;
    content: '';
    top: 0;
    left: calc(var(--star-width) / -2);
    width: var(--star-width);
    height: 100%;
    background: linear-gradient(45deg, transparent, currentColor, transparent);
    border-radius: inherit;
    animation: blink 2s linear infinite; }
  .animation-backgrounds-6 .star::before {
    transform: rotate(45deg); }
  .animation-backgrounds-6 .star::after {
    transform: rotate(-45deg); }
@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0); } }
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1; }
  70%, 80% {
    width: 0;
    opacity: 0.4; }
  100% {
    width: 0;
    opacity: 0; } }
@keyframes blink {
  50% {
    opacity: 0.6; } }
.animation-backgrounds-6 .btn {
  background-color: transparent !important;
  color: #ffffff !important;
  font-size: 16px !important;
  padding: 0.9em 2em !important;
  border-width: 2px !important;
  border-radius: 33px !important;
  border-color: #ffffff !important; }
  .animation-backgrounds-6 .btn:hover {
    background-color: #27437f !important;
    color: #ffffff !important;
    border-color: #ffffff !important; }

.animation-backgrounds-7 .wrapper {
  animation: scroll 70s linear infinite;
  background: url("../../img/animations/BACKGROUND.jpg"), #111111;
  z-index: 0;
  background-size: cover; }
@keyframes scroll {
  100% {
    background-position: 0px -3000px; } }
@media (prefers-reduced-motion) {
  .animation-backgrounds-7 .wrapper {
    animation: scroll 200s linear infinite; } }
@media (min-width: 670px) {
  .animation-backgrounds-7 .title {
    font-size: 5rem; } }
.animation-backgrounds-7 .btn {
  background-color: #bba32e !important;
  border-color: #11025a !important;
  border-width: 3px !important;
  border-radius: 33px !important;
  font-size: 18px !important;
  padding: 0.9em 2em !important; }
  .animation-backgrounds-7 .btn:hover {
    background-color: #11025a !important;
    color: #ffffff !important;
    border-color: #bba32e !important; }

.animation-backgrounds-8 {
  margin: 0;
  overflow: hidden; }
  .animation-backgrounds-8 .background {
    width: 100vw;
    height: 100vh;
    background: #3E1E68; }
  .animation-backgrounds-8 .background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation-name: move;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }
    .animation-backgrounds-8 .background span:nth-child(1) {
      color: #583C87;
      top: 38%;
      left: 66%;
      animation-duration: 13.4s;
      animation-delay: -13.3s;
      transform-origin: 25vw -23vh;
      box-shadow: -40vmin 0 5.3553486023vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(2) {
      color: #E45A84;
      top: 57%;
      left: 91%;
      animation-duration: 14.3s;
      animation-delay: -13.5s;
      transform-origin: 25vw 19vh;
      box-shadow: 40vmin 0 10.7736527385vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(3) {
      color: #583C87;
      top: 67%;
      left: 15%;
      animation-duration: 10.9s;
      animation-delay: -6.5s;
      transform-origin: 2vw 11vh;
      box-shadow: -40vmin 0 5.895649811vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(4) {
      color: #FFACAC;
      top: 56%;
      left: 75%;
      animation-duration: 15.8s;
      animation-delay: -10.5s;
      transform-origin: 13vw -9vh;
      box-shadow: 40vmin 0 12.0213389473vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(5) {
      color: #E45A84;
      top: 93%;
      left: 96%;
      animation-duration: 10.9s;
      animation-delay: -1.7s;
      transform-origin: 25vw 0vh;
      box-shadow: -40vmin 0 14.3306985602vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(6) {
      color: #E45A84;
      top: 78%;
      left: 39%;
      animation-duration: 13.4s;
      animation-delay: -8.6s;
      transform-origin: 22vw 2vh;
      box-shadow: -40vmin 0 7.2337475065vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(7) {
      color: #FFACAC;
      top: 92%;
      left: 33%;
      animation-duration: 12.3s;
      animation-delay: -15.5s;
      transform-origin: 15vw -19vh;
      box-shadow: -40vmin 0 6.0091791013vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(8) {
      color: #583C87;
      top: 57%;
      left: 100%;
      animation-duration: 15.3s;
      animation-delay: -16s;
      transform-origin: -10vw -13vh;
      box-shadow: -40vmin 0 11.970309632vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(9) {
      color: #E45A84;
      top: 27%;
      left: 51%;
      animation-duration: 14.8s;
      animation-delay: -12.9s;
      transform-origin: -7vw -16vh;
      box-shadow: 40vmin 0 5.3051084471vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(10) {
      color: #FFACAC;
      top: 71%;
      left: 80%;
      animation-duration: 15.1s;
      animation-delay: -0.1s;
      transform-origin: 6vw 11vh;
      box-shadow: -40vmin 0 7.5369083239vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(11) {
      color: #583C87;
      top: 18%;
      left: 38%;
      animation-duration: 11.3s;
      animation-delay: -4s;
      transform-origin: 6vw -4vh;
      box-shadow: 40vmin 0 11.6064709769vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(12) {
      color: #FFACAC;
      top: 8%;
      left: 37%;
      animation-duration: 12.7s;
      animation-delay: -8.6s;
      transform-origin: 6vw -16vh;
      box-shadow: 40vmin 0 12.8412220278vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(13) {
      color: #583C87;
      top: 14%;
      left: 11%;
      animation-duration: 11s;
      animation-delay: -13.6s;
      transform-origin: -9vw 12vh;
      box-shadow: 40vmin 0 12.0230442816vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(14) {
      color: #E45A84;
      top: 30%;
      left: 54%;
      animation-duration: 13.6s;
      animation-delay: -5.8s;
      transform-origin: 8vw -24vh;
      box-shadow: -40vmin 0 11.6319600637vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(15) {
      color: #583C87;
      top: 97%;
      left: 8%;
      animation-duration: 15s;
      animation-delay: -8.4s;
      transform-origin: -10vw -22vh;
      box-shadow: -40vmin 0 11.3363425398vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(16) {
      color: #E45A84;
      top: 11%;
      left: 61%;
      animation-duration: 11.2s;
      animation-delay: -10.6s;
      transform-origin: 19vw -18vh;
      box-shadow: -40vmin 0 8.9526243192vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(17) {
      color: #FFACAC;
      top: 34%;
      left: 85%;
      animation-duration: 13.6s;
      animation-delay: -6.9s;
      transform-origin: -13vw 25vh;
      box-shadow: 40vmin 0 12.4770634381vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(18) {
      color: #583C87;
      top: 72%;
      left: 39%;
      animation-duration: 14s;
      animation-delay: -14.4s;
      transform-origin: 2vw -16vh;
      box-shadow: 40vmin 0 12.8701059562vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(19) {
      color: #FFACAC;
      top: 7%;
      left: 50%;
      animation-duration: 11.4s;
      animation-delay: -3.5s;
      transform-origin: -17vw 18vh;
      box-shadow: -40vmin 0 6.5975737258vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(20) {
      color: #583C87;
      top: 81%;
      left: 98%;
      animation-duration: 12.9s;
      animation-delay: -8s;
      transform-origin: 22vw 15vh;
      box-shadow: 40vmin 0 5.1928415704vmin currentColor; }
@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg); } }
  .animation-backgrounds-8 .btn {
    background-color: #ff00ae !important;
    color: #ffffff !important;
    border-radius: 33px !important;
    font-size: 18px !important;
    padding: 0.9em 2em !important; }
    .animation-backgrounds-8 .btn:hover {
      background-color: #7100b3 !important;
      color: #ffffff !important; }

.mw-vhmbgr--navigation .module-menu ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0; }

.mw-vhmbgr-active-popup ul {
  margin-bottom: 0; }
  .mw-vhmbgr-active-popup ul li {
    text-align: center;
    margin-bottom: 10px; }
    .mw-vhmbgr-active-popup ul li a {
      text-decoration: none; }

@media screen and (min-width: 1200px) {
  /*liveetit css ( works only in live edit )*/
  .mw-header-sticky-nav {
    background-color: var(--headerBg) !important; }

  .mw-live-edit .mw-header-sticky-nav {
    padding: 20px;
    top: 50px; }
  .mw-live-edit .mw-nav-menu-transparent-with-image {
    top: 55px; }
    .mw-live-edit .mw-nav-menu-transparent-with-image .header-background {
      transition: all 0.5s ease;
      background: transparent; }

  .navigation-holder.not-transparent {
    transition: all 0.5s ease; }

  .mw-nav-menu-not-transparent {
    opacity: 1;
    background-color: var(--headerBg); }

  .mw-header-sticky-nav {
    transition: all 0.5s ease;
    position: sticky !important;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 20; }

  .mw-nav-menu-transparent-with-image {
    transition: all 0.5s ease;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 20;
    background: transparent; }
    .mw-nav-menu-transparent-with-image .header-background {
      transition: all 0.5s ease;
      background: transparent; }

  .navigation-holder.not-transparent.scrolled {
    background-color: var(--headerBg);
    box-shadow: 0px 0px 4px -2px grey;
    border-bottom: none;
    transition: all 0.5s ease; }
    .navigation-holder.not-transparent.scrolled .module-menu ul li a {
      color: var(--menuColor) !important; }
    .navigation-holder.not-transparent.scrolled .navbar .logo-text {
      color: var(--menuColor) !important; }
    .navigation-holder.not-transparent.scrolled .header-background {
      transition: all 0.5s ease;
      background-color: var(--headerBg); } }
.price-lists-7 .card {
  border: none;
  padding: 10px; }
.price-lists-7 .card::after {
  position: absolute;
  z-index: -1;
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); }
.price-lists-7 .card:hover {
  transform: scale(1.02, 1.02);
  -webkit-transform: scale(1.02, 1.02);
  backface-visibility: hidden;
  will-change: transform;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; }
.price-lists-7 .card:hover::after {
  opacity: 1; }
.price-lists-7 .card-title {
  font-size: 36px; }

.discount-label {
  position: absolute;
  top: 0;
  border: 1px solid #ed1c24;
  display: inline-block;
  text-align: center;
  z-index: 1; }

.discount-percentage {
  padding: 0.3rem 0.8rem;
  display: block;
  font-weight: 500;
  font-size: 1.6rem;
  background: #fff;
  color: black; }

.discount-label-text {
  padding: 0.3rem 0.8rem;
  background: #ed1c24;
  display: block;
  color: #fff;
  font-size: .7rem;
  font-weight: 500; }

.guesthouse-header .fx-deactivate, .guesthouse-header .fx-deactivate span {
  font-size: 48px; }
  @media screen and (max-width: 991px) {
    .guesthouse-header .fx-deactivate, .guesthouse-header .fx-deactivate span {
      font-size: 2rem; } }
  @media screen and (max-width: 600px) {
    .guesthouse-header .fx-deactivate, .guesthouse-header .fx-deactivate span {
      font-size: 1.5rem !important; } }
  @media screen and (max-width: 400px) {
    .guesthouse-header .fx-deactivate, .guesthouse-header .fx-deactivate span {
      font-size: 1rem !important; } }
.guesthouse-header .fx-deactivate-p, .guesthouse-header .fx-deactivate-p span {
  font-size: 24px; }
  @media screen and (max-width: 991px) {
    .guesthouse-header .fx-deactivate-p, .guesthouse-header .fx-deactivate-p span {
      font-size: 1.5rem; } }
  @media screen and (max-width: 600px) {
    .guesthouse-header .fx-deactivate-p, .guesthouse-header .fx-deactivate-p span {
      font-size: 1.2rem !important; } }
  @media screen and (max-width: 400px) {
    .guesthouse-header .fx-deactivate-p, .guesthouse-header .fx-deactivate-p span {
      font-size: 1rem !important; } }

@media screen and (max-width: 700px) {
  #to-top {
    display: none !important; } }

@media screen and (min-width: 1360px) {
  .shop-inner-gallery .shop-inner-gallery-thumbnails {
    position: sticky;
    top: 60px;
    align-self: flex-start; } }
.video-background-skin {
  background-color: black !important; }

.navbar-light .navbar-toggler {
  border-radius: 0 !important;
  padding: 11px 15px; }

.header-menu-toggle-button {
  font-size: 1.5rem !important; }

@media screen and (max-width: 991px) {
  .header-section-title, .header-section-title span {
    font-size: 3rem; } }
@media screen and (max-width: 600px) {
  .header-section-title, .header-section-title span {
    font-size: 2.5rem !important; } }
@media screen and (max-width: 400px) {
  .header-section-title, .header-section-title span {
    font-size: 2rem !important; } }

[data-overlay] .background-image-holder:after {
  background-image: unset; }

.mw-big-dropdown.dropdown-menu > li > a:hover {
  background-color: var(--primaryColor) !important; }

.nav-link {
  color: var(--primaryColor) !important; }

.mw-big-dropdown.dropdown-menu > li > a:hover {
  color: var(--links) !important; }

.new-skin-shop .shop-inner-gallery .shop-inner-gallery-thumbnails {
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap; }
  .new-skin-shop .shop-inner-gallery .shop-inner-gallery-thumbnails a {
    padding: 70px;
    margin-right: 17px !important;
    max-width: 150px; }
    @media screen and (min-width: 1001px) {
      .new-skin-shop .shop-inner-gallery .shop-inner-gallery-thumbnails a {
        height: 90px;
        padding: 45px; } }
    @media screen and (max-width: 1000px) {
      .new-skin-shop .shop-inner-gallery .shop-inner-gallery-thumbnails a {
        height: 80px;
        padding: 40px; } }
    @media screen and (max-width: 468px) {
      .new-skin-shop .shop-inner-gallery .shop-inner-gallery-thumbnails a {
        height: 60px;
        padding: 30px; } }

.section-content-73 .box-into-image {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px 25px;
  top: 90px;
  right: -55px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; }
.section-content-73 .box-into-image i {
  background-color: #F75C4E;
  padding: 10px;
  border-radius: 50%;
  color: #ffffff;
  font-size: 30px; }
.section-content-73 .content-73-image {
  width: 100%;
  height: auto;
  border-radius: 40px; }
.section-content-73 .content-73-h1 {
  font-size: 55px;
  font-weight: bold; }
.section-content-73 .content-73-p {
  font-weight: 300;
  color: #575455;
  font-size: 16px; }
.section-content-73 .content-73-btn {
  background-color: #1F7CFF !important;
  color: #ffffff !important;
  border-color: #1f7cff !important;
  border-radius: 10px !important;
  font-size: 18px !important;
  padding: 0.9em 2em !important; }

.footer-skin-29 h1, .footer-skin-29 h2, .footer-skin-29 h3, .footer-skin-29 h4, .footer-skin-29 h5, .footer-skin-29 h6, .footer-skin-29 p, .footer-skin-29 a {
  color: #ffffff; }
.footer-skin-29 .content-73-btn {
  background-color: #ffffff !important;
  color: #1F7CFF !important;
  border-color: #ffffff !important;
  border-radius: 10px !important;
  font-size: 18px !important;
  padding: 0.9em 2em !important; }
.footer-skin-29 .content-73-btn-2 {
  background-color: #1F7CFF !important;
  color: #ffffff !important;
  border-color: #ffffff !important;
  border-radius: 10px !important;
  font-size: 18px !important;
  padding: 0.9em 2em !important; }
.footer-skin-29 .absolute-container {
  background-color: #1F7CFF !important;
  top: -35%;
  left: 25%;
  border-radius: 10px; }
  .footer-skin-29 .absolute-container h1 {
    color: #ffffff; }
.footer-skin-29 .footer-gray-text {
  color: #C6C6C6; }
.footer-skin-29 .content-73-image {
  height: auto;
  width: auto; }

.container .container {
  width: auto; }

.cloneable {
  padding: 15px; }

.mw-layout-parallax .mw-layout-background-block .mw-layout-background-node {
  background-position: center bottom;
  background-attachment: fixed !important; }

.img-as-background img {
  width: 100%;
  height: 100%; }

.slider_v2-default.swiper .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background: white; }
.slider_v2-default.swiper .swiper-pagination-horizontal {
  bottom: 15px; }
.slider_v2-default.swiper .mw-slider-v2-buttons-slide {
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  position: absolute; }
  @media screen and (min-width: 1200px) {
    .slider_v2-default.swiper .mw-slider-v2-buttons-slide {
      width: 60px; } }
  .slider_v2-default.swiper .mw-slider-v2-buttons-slide:after {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #f5f5f5;
    border-radius: 50%;
    opacity: 70%; }
    @media screen and (max-width: 500px) {
      .slider_v2-default.swiper .mw-slider-v2-buttons-slide:after {
        background-color: unset !important;
        filter: invert(1); } }
    @media screen and (min-width: 1200px) {
      .slider_v2-default.swiper .mw-slider-v2-buttons-slide:after {
        width: 60px;
        height: 60px; } }
  .slider_v2-default.swiper .mw-slider-v2-buttons-slide:hover:after {
    opacity: 85%; }
.slider_v2-default.swiper .mw-slider-v2-button-prev {
  left: 10px; }
  @media screen and (min-width: 1200px) {
    .slider_v2-default.swiper .mw-slider-v2-button-prev {
      left: 50px; } }
  .slider_v2-default.swiper .mw-slider-v2-button-prev:after {
    content: url('data:image/svg+xml,<svg fill="" xmlns="http://www.w3.org/2000/svg" height="40" viewBox="0 -960 960 960" width="40"><path d="M560.41-253.847 333.847-480.41 560.41-707.23l35.794 35.794L405.435-480.41l190.769 190.769-35.794 35.794Z"/></svg>'); }
.slider_v2-default.swiper .mw-slider-v2-button-next {
  right: 10px; }
  @media screen and (min-width: 1200px) {
    .slider_v2-default.swiper .mw-slider-v2-button-next {
      right: 50px; } }
  .slider_v2-default.swiper .mw-slider-v2-button-next:after {
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="40" viewBox="0 -960 960 960" width="40"><path d="M530.565-480.41 339.796-671.436l35.794-35.794 226.563 226.82L375.59-253.847l-35.794-35.794L530.565-480.41Z"/></svg>');
    padding-left: 5px; }

.header-background {
  background-color: var(--headerBg);
  min-height: 70px;
  padding: 10px; }
  .header-background .nav-link {
    color: var(--navLinkFontColor);
    font-size: var(--navLinkFontSize);
    font-family: var(--navLinkFontFamily); }
    .header-background .nav-link:hover {
      color: var(--navLinkHoverColor); }
    .header-background .nav-link.active {
      color: var(--navLinkActiveColor); }

.footer-background {
  position: relative;
  background-color: var(--footerBg);
  padding-top: 3.5rem;
  padding-bottom: 2.5rem; }
  .footer-background p, .footer-background small {
    color: var(--footerTextColor); }
  .footer-background a {
    color: var(--footerLinkColor) !important; }
    .footer-background a:hover {
      color: var(--footerHoverLinkColor) !important; }

.badge.badge-number, #btn-header-layout-btn {
  padding: 7px 11px !important; }

a {
  color: var(--links) !important;
  line-height: var(--lineHeight);
  letter-spacing: var(--letterSpacing); }

.btn:not(.btn-link) {
  border-radius: var(--btnBorderRadius);
  border-color: var(--btnBorderColor);
  border-width: var(--btnBorderSize);
  border-style: var(--btnBorderStyle);
  color: var(--btnText) !important;
  background-color: var(--btnBackground); }
  .btn:not(.btn-link) a:not(.btn-outline, .btn-outline-secondary, .btn-outline-primary), .btn:not(.btn-link).a:not(.btn-outline, .btn-outline-secondary, .btn-outline-primary) {
    color: var(--btnText) !important; }
  .btn:not(.btn-link):hover, .btn:not(.btn-link):focus, .btn:not(.btn-link).active, .btn:not(.btn-link):active {
    background-color: var(--btnBackgroundHover);
    color: var(--btnTextHoverColor);
    outline: 0 none !important;
    box-shadow: none !important;
    border-color: color-mix(in srgb, var(--formControlBackground) 50%, transparent) !important; }

.btn:not(.btn-link, .btn-sm) {
  padding-block: var(--btnPaddingBlock);
  padding-inline: var(--btnPaddingInline); }

.btn-sm {
  padding: 5px 15px; }

.btn-secondary {
  color: var(--btnSecondaryText) !important;
  background-color: var(--btnSecondaryBackground) !important; }
  .btn-secondary:hover, .btn-secondary:focus, .btn-secondary.active, .btn-secondary:active {
    background-color: var(--btnSecondaryBackgroundHover) !important;
    color: var(--btnSecondaryTextHoverColor) !important; }

.btn.btn-outline, .btn.btn-outline-primary, .btn.btn-outline-secondary {
  color: var(--btnOutlineText) !important;
  background-color: var(--btnOutlineBackground) !important; }
  .btn.btn-outline:hover, .btn.btn-outline:focus, .btn.btn-outline.active, .btn.btn-outline:active, .btn.btn-outline-primary:hover, .btn.btn-outline-primary:focus, .btn.btn-outline-primary.active, .btn.btn-outline-primary:active, .btn.btn-outline-secondary:hover, .btn.btn-outline-secondary:focus, .btn.btn-outline-secondary.active, .btn.btn-outline-secondary:active {
    background-color: var(--btnOutlineBackgroundHover) !important;
    color: var(--btnOutlineTextHoverColor) !important; }
  .btn.btn-outline a, .btn.btn-outline.a, .btn.btn-outline-primary a, .btn.btn-outline-primary.a, .btn.btn-outline-secondary a, .btn.btn-outline-secondary.a {
    color: var(--btnOutlineText) !important; }

.form-label {
  color: var(--formLabelColor);
  font-size: var(--formLabelFontSize); }

input.form-control, textarea.form-control, select.form-control, select.form-select {
  border-radius: var(--formControlBorderRadius);
  border-color: var(--formControlBorderColor);
  border-width: var(--formControlBorderSize);
  border-style: var(--formControlBorderStyle);
  background-color: var(--formControlBackground);
  padding-block: var(--formControlPaddingBlock);
  padding-inline: var(--formControlPaddingInline);
  color: var(--formControlTextColor); }
  input.form-control:hover, input.form-control:focus, input.form-control.active, input.form-control:active, textarea.form-control:hover, textarea.form-control:focus, textarea.form-control.active, textarea.form-control:active, select.form-control:hover, select.form-control:focus, select.form-control.active, select.form-control:active, select.form-select:hover, select.form-select:focus, select.form-select.active, select.form-select:active {
    color: var(--formControlTextHoverColor);
    background-color: var(--formControlBackground); }
  input.form-control::placeholder, textarea.form-control::placeholder, select.form-control::placeholder, select.form-select::placeholder {
    color: var(--formControlPlaceholderColor); }

.testimonials-background-variable {
  background-color: var(--testimonialBackgroundVariable); }

.testimonialBorderVariable {
  border-color: var(--testimonialBorderVariable) !important; }

p {
  font-size: var(--paragraphSize);
  color: var(--paragraphColor);
  line-height: var(--lineHeight);
  letter-spacing: var(--letterSpacing); }

.mw-layout-dark-background h1, .mw-layout-dark-background h2, .mw-layout-dark-background h3, .mw-layout-dark-background h4, .mw-layout-dark-background h5, .mw-layout-dark-background h6, .mw-layout-dark-background p {
  color: var(--textOnDarkBackground); }

h1 {
  color: var(--headingColor);
  text-transform: var(--textTransform);
  font-weight: var(--fontWeight);
  letter-spacing: var(--letterSpacing);
  line-height: var(--lineHeight); }
  @media screen and (min-width: 615px) {
    h1 {
      font-size: var(--headingOne); } }

h2 {
  color: var(--headingColor);
  text-transform: var(--textTransform);
  font-weight: var(--fontWeight);
  letter-spacing: var(--letterSpacing);
  line-height: var(--lineHeight); }
  @media screen and (min-width: 615px) {
    h2 {
      font-size: var(--headingTwo); } }

h3 {
  color: var(--headingColor);
  text-transform: var(--textTransform);
  font-weight: var(--fontWeight);
  letter-spacing: var(--letterSpacing);
  line-height: var(--lineHeight); }
  @media screen and (min-width: 615px) {
    h3 {
      font-size: var(--headingThree); } }

h4 {
  color: var(--headingColor);
  text-transform: var(--textTransform);
  font-weight: var(--fontWeight);
  letter-spacing: var(--letterSpacing);
  line-height: var(--lineHeight); }
  @media screen and (min-width: 615px) {
    h4 {
      font-size: var(--headingFour); } }

h5 {
  color: var(--headingColor);
  text-transform: var(--textTransform);
  font-weight: var(--fontWeight);
  letter-spacing: var(--letterSpacing);
  line-height: var(--lineHeight); }
  @media screen and (min-width: 615px) {
    h5 {
      font-size: var(--headingFive); } }

h6 {
  color: var(--headingColor);
  text-transform: var(--textTransform);
  font-weight: var(--fontWeight);
  letter-spacing: var(--letterSpacing);
  line-height: var(--lineHeight); }
  @media screen and (min-width: 615px) {
    h6 {
      font-size: var(--headingSix); } }

.mw-scale-hover-effect {
  transform: scale(1);
  transition: all 0.3s ease-in-out; }

.mw-scale-hover-effect:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out; }

.mw_form .alert-danger {
  width: 50%;
  margin: 20px auto; }
  .mw_form .alert-danger ul {
    margin-bottom: 0; }

.layouts-grids-background {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.mw-layout-product-outOfStock {
  opacity: .5; }

.mw-layout-product-stock {
  opacity: 1; }

.page-item.active .page-link {
  background-color: var(--primaryColor) !important;
  border-color: var(--primaryColor) !important;
  color: var(--btnTextColor) !important; }
.page-item .page-link {
  font-weight: normal !important;
  border-radius: 50% !important;
  width: 40px !important;
  height: 40px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important; }

.form-check-input:checked {
  background-color: #000 !important;
  border-color: #000 !important; }

.mw-breadcrumb-current {
  color: var(--primaryColor); }

/*# sourceMappingURL=styles-for-template.css.map */
