@import "animation-backgrounds";
@import "header-menus";

@media screen and (min-width: 1200px) {

    /*liveetit css ( works only in live edit )*/

    .mw-header-sticky-nav {
        background-color: var(--headerBg) !important;

    }

    .mw-live-edit {

        .mw-header-sticky-nav {
            padding: 20px;
            top: 50px;
        }
        .mw-nav-menu-transparent-with-image {
            top: 55px;

            .header-background {
                transition: all 0.5s ease;
                background: transparent;

            }
        }
    }

    //END liveedit

    .navigation-holder.not-transparent {
        transition: all 0.5s ease;
    }

    .mw-nav-menu-not-transparent {
        opacity: 1;
        //background-color: #FFFFFF !important;
        background-color: var(--headerBg);
    }

    .mw-header-sticky-nav {
        transition: all 0.5s ease;
        position: sticky !important;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 20;
    }

    .mw-nav-menu-transparent-with-image {
        transition: all 0.5s ease;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 20;
        background: transparent;

        .header-background {
            transition: all 0.5s ease;
            background: transparent;

        }
    }

    .navigation-holder.not-transparent.scrolled {
        background-color: var(--headerBg);
        box-shadow: 0px 0px 4px -2px grey;
        border-bottom: none;
        transition: all 0.5s ease;


        .module-menu ul li a {
            color: var(--menuColor) !important;
        }

        .navbar .logo-text {
            color: var(--menuColor) !important;
        }

        .header-background {
            transition: all 0.5s ease;
            background-color: var(--headerBg);
        }
    }
}



.price-lists-7 {
    .card {
        border:none;
        padding: 10px;
    }

    .card::after {
        position: absolute;
        z-index: -1;
        opacity: 0;
        -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    .card:hover {


        transform: scale(1.02, 1.02);
        -webkit-transform: scale(1.02, 1.02);
        backface-visibility: hidden;
        will-change: transform;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .card:hover::after {
        opacity: 1;
    }

    .card-title{
        font-size: 36px;
    }

}

.discount-label {
    position: absolute;
    top: 0;
    border: 1px solid #ed1c24;
    display: inline-block;
    text-align: center;
    z-index: 1;
}


.discount-percentage {
    padding: 0.3rem 0.8rem;
    display: block;
    font-weight: 500;
    font-size: 1.6rem;
    background: #fff;
    color: black;
}

.discount-label-text {
    padding: 0.3rem 0.8rem;
    background: #ed1c24;
    display: block;
    color: #fff;
    font-size: .7rem;
    font-weight: 500;
}



.guesthouse-header {
    .fx-deactivate, .fx-deactivate span {
        font-size: 48px;

        @media screen and (max-width: 991px) {
            font-size: 2rem;
        }

        @media screen and (max-width: 600px) {
            font-size: 1.5rem!important;
        }

        @media screen and (max-width: 400px) {
            font-size: 1rem!important;

        }
    }

    .fx-deactivate-p, .fx-deactivate-p span {
        font-size: 24px;

        @media screen and (max-width: 991px) {
            font-size: 1.5rem;
        }

        @media screen and (max-width: 600px) {
            font-size: 1.2rem!important;
        }

        @media screen and (max-width: 400px) {
            font-size: 1rem!important;

        }
    }


}


#to-top {
    @media screen and (max-width: 700px) {
        display: none!important;
    }
}


@media screen and (min-width: 1360px) {

    .shop-inner-gallery .shop-inner-gallery-thumbnails {
        position: sticky;
        top: 60px;
        align-self: flex-start;
    }
}


.video-background-skin {
    background-color: black!important;
}

.navbar-light .navbar-toggler {
    border-radius: 0!important;
    padding: 11px 15px;
}

.header-menu-toggle-button {
    font-size: 1.5rem!important;

}

.header-section-title, .header-section-title span {

    @media screen and (max-width: 991px) {
        font-size: 3rem;
    }

    @media screen and (max-width: 600px) {
        font-size: 2.5rem!important;
    }

    @media screen and (max-width: 400px) {
        font-size: 2rem!important;

    }

    overflow-wrap: break-word;
}

.header-section-p, .header-section-p span {

    //@media screen and (max-width: 991px) {
    //    font-size: 3rem !important;
    //    line-height: 5rem!important;
    //}
    //
    //@media screen and (max-width: 600px) {
    //    font-size: 2rem !important;
    //    line-height: 3rem !important;
    //}
    //
    //@media screen and (max-width: 400px) {
    //    font-size: 1.5rem !important;
    //    line-height: 2.5rem !important;
    //
    //}

    overflow-wrap: break-word;
}


[data-overlay] .background-image-holder:after {
    background-image: unset;
}

.mw-big-dropdown.dropdown-menu > li > a:hover {
    background-color: var(--primaryColor)!important;
}

.nav-link {
    color: var(--primaryColor) !important;
}

.mw-big-dropdown.dropdown-menu > li > a:hover {
    color: var(--links)!important;
}

.new-skin-shop {
    .shop-inner-gallery .shop-inner-gallery-thumbnails {

        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;

        a {

            padding: 70px;
            margin-right: 17px !important;
            max-width: 150px;

            @media screen and (min-width: 1001px) {
                height: 90px;
                padding: 45px;
            }

            @media screen and (max-width: 1000px) {
                height: 80px;
                padding: 40px;
            }

            //@media screen and (max-width: 768px) {
            //    height: 40px;
            //    padding: 20px;
            //}
            //
            @media screen and (max-width: 468px) {
                height: 60px;
                padding: 30px;
            }
        }
    }

    //.shop-inner-gallery .shop-inner-gallery-thumbnails {
    //    flex-direction: row;
    //}
}

.section-content-73 {

    .box-into-image {
        background-color: #ffffff;
        border-radius: 10px;
        padding: 10px 25px;
        top: 90px;
        right: -55px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    }

    .box-into-image i {
        background-color: #F75C4E;
        padding: 10px;
        border-radius: 50%;
        color: #ffffff;
        font-size: 30px;
    }

    .content-73-image {
        width: 100%;
        height: auto;
        border-radius: 40px;
    }

    .content-73-h1 {
        font-size: 55px;
        font-weight: bold;
    }

    .content-73-p {
        font-weight: 300;
        color: #575455;
        font-size: 16px;

    }

    .content-73-btn {
        background-color: #1F7CFF!important;
        color: #ffffff!important;
        border-color: #1f7cff!important;
        border-radius: 10px!important;
        font-size: 18px!important;
        padding: 0.9em 2em!important;
    }
}

.footer-skin-29 {
    h1,h2,h3,h4,h5,h6, p, a {
        color:#ffffff;
    }

    .content-73-btn {
        background-color: #ffffff!important;
        color: #1F7CFF!important;
        border-color: #ffffff!important;
        border-radius: 10px!important;
        font-size: 18px!important;
        padding: 0.9em 2em!important;
    }

    .content-73-btn-2 {
        background-color: #1F7CFF!important;
        color: #ffffff!important;
        border-color: #ffffff!important;
        border-radius: 10px!important;
        font-size: 18px!important;
        padding: 0.9em 2em!important;
    }

    .absolute-container {
        background-color: #1F7CFF!important;
        top: -35%;
        left: 25%;
        border-radius: 10px;
        h1 {
            color: #ffffff;
        }

    }

    .footer-gray-text {
        color: #C6C6C6;
    }

    .content-73-image {
        height: auto;
        width: auto;
    }
}

.container .container {
    width: auto;
}

.cloneable {
    padding: 15px;
}

.mw-layout-parallax {
    .mw-layout-background-block {
        .mw-layout-background-node {
             background-position: center bottom;
             background-attachment: fixed !important;
        }
    }
}

.img-as-background {
    img {
        width: 100%;
        height: 100%;
    }
}

.slider_v2-default.swiper {
    .swiper-pagination-bullet {
        width: 15px;
        height: 15px;
        background: white;

    }

    .swiper-pagination-horizontal {
        bottom: 15px;
    }


    .mw-slider-v2-buttons-slide {
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        position: absolute;
        @media screen and (min-width: 1200px) {

            width: 60px;
        }
        &:after {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;

            @media screen and (max-width: 500px) {
                background-color: unset !important;
                filter: invert(1);
            }

            @media screen and (min-width: 1200px) {
                width: 60px;
                height: 60px;
            }

            background-color: #f5f5f5;
            border-radius: 50%;
            opacity: 70%;
        }

        &:hover {
            &:after {
                opacity: 85%;
            }
        }
    }

    .mw-slider-v2-button-prev {
        @media screen and (min-width: 1200px) {
            left: 50px;
        }

        left: 10px;
        &:after {
            content: url('data:image/svg+xml,<svg fill="" xmlns="http://www.w3.org/2000/svg" height="40" viewBox="0 -960 960 960" width="40"><path d="M560.41-253.847 333.847-480.41 560.41-707.23l35.794 35.794L405.435-480.41l190.769 190.769-35.794 35.794Z"/></svg>');
        }
    }

    .mw-slider-v2-button-next {
        @media screen and (min-width: 1200px) {
            right: 50px;
        }

        right: 10px;
        &:after {
            content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="40" viewBox="0 -960 960 960" width="40"><path d="M530.565-480.41 339.796-671.436l35.794-35.794 226.563 226.82L375.59-253.847l-35.794-35.794L530.565-480.41Z"/></svg>');
            padding-left: 5px;
        }
    }
}

.module-menu {

    ul {
        li {
            @media screen and (max-width: 767px) {

                a {
                    text-align: center;
                }
            }

            a {
                font-family: var(--menuFontFamily) !important;
                font-size: var(--menuFontSize) !important;

            }

            a {
                color: var(--menuColor) !important;
                display: inline-block ;
                position: relative ;

            }


            a:hover, a:hover span {
                color: var(--menuHoverColor);
            }


            > ul {

                ul {

                    left: 100%;
                    top: 0;
                }
            }
            > ul {
                opacity: 0;

            }

            &:hover {
                > ul {
                    position: absolute;
                    display: block;
                    opacity: 1;

                }

            }
        }

        transition: .6s;
    }
}


.header-background {
    background-color: var(--headerBg);
    padding: 10px;

    .nav-link {
        color: var(--navLinkFontColor) !important;
        font-size: var(--navLinkFontSize) !important;
        font-family: var(--navLinkFontFamily) !important;
        &:hover, &:hover span {
            color: var(--navLinkHoverColor) !important;
        }
        &.active, &:active span {
            color: var(--navLinkActiveColor) !important;
        }
    }

}


.footer-background {
    position: relative;
    background-color: var(--footerBg);

    p, small {
        color: var(--footerTextColor);
    }
    a {
        color: var(--footerLinkColor) !important;
        &:hover, &:hover span {
            color: var(--footerHoverLinkColor) !important;
        }
    }

    .module-menu ul li a {
        color: var(--footerLinkColor) !important;
        &:hover, &:hover span {
            color: var(--footerHoverLinkColor) !important;
        }
    }
}

.badge.badge-number, #btn-header-layout-btn {
    padding: 7px 11px !important;
}


a {
    color: var(--links) !important;
    line-height: var(--lineHeight);
    letter-spacing: var(--letterSpacing);

}

.btn:not(.btn-link) {
    border-radius: var(--btnBorderRadius);
    border-color: var(--btnBorderColor);
    border-width: var(--btnBorderSize);
    border-style: var(--btnBorderStyle);
    color: var(--btnTextColor) !important;

    a:not(.btn-outline, .btn-outline-secondary, .btn-outline-primary), &.a:not(.btn-outline, .btn-outline-secondary, .btn-outline-primary) {
        color: var(--btnTextColor) !important;
     }

    background-color: var(--btnBackground);
    &:hover, &:focus, &.active, &:active {
        background-color: var(--btnBackgroundHover);
        color: var(--btnTextHoverColor);
        outline: 0 none !important;
        box-shadow: none !important;
        border-color: color-mix(in srgb, var(--formControlBackground) 50%, transparent) !important;

    }

    &:hover, &.focus, &.active, &:active {
        i {
            color: var(--btnTextHoverColor);
        }
    }
}

.btn:not(.btn-link, .btn-sm) {
    padding-block: var(--btnPaddingBlock);
    padding-inline: var(--btnPaddingInline);
}

.btn-sm {
    padding: 5px 15px;
}



.btn-secondary {
    color: var(--btnSecondaryText) !important;
    background-color: var(--btnSecondaryBackground) !important;

    &:hover, &:focus, &.active, &:active {
        background-color: var(--btnSecondaryBackgroundHover) !important;
        color: var(--btnSecondaryTextHoverColor) !important;
    }
}

.btn.btn-outline, .btn.btn-outline-primary, .btn.btn-outline-secondary {
    color: var(--btnOutlineText) !important;
    background-color: var(--btnOutlineBackground) !important;

    &:hover, &:focus, &.active, &:active {
        background-color: var(--btnOutlineBackgroundHover) !important;
        color: var(--btnOutlineTextHoverColor) !important;
    }

    a, &.a {
        color: var(--btnOutlineText) !important;
    }
}

.form-label {
    color: var(--formLabelColor);
    font-size: var(--formLabelFontSize);
}

input.form-control, textarea.form-control, select.form-control, select.form-select {
    border-radius: var(--formControlBorderRadius);
    border-color: var(--formControlBorderColor);
    border-width: var(--formControlBorderSize);
    border-style: var(--formControlBorderStyle);
    background-color: var(--formControlBackground);
    padding-block: var(--formControlPaddingBlock);
    padding-inline: var(--formControlPaddingInline);
    color: var(--formControlTextColor);
    &:hover, &:focus, &.active, &:active {
        color: var(--formControlTextHoverColor);
        background-color: var(--formControlBackground);
    }

    &::placeholder {
        color: var(--formControlPlaceholderColor);
    }

}
//textarea:focus,
//input[type="text"]:focus,
//input[type="password"]:focus,
//input[type="datetime"]:focus,
//input[type="datetime-local"]:focus,
//input[type="date"]:focus,
//input[type="month"]:focus,
//input[type="time"]:focus,
//input[type="week"]:focus,
//input[type="number"]:focus,
//input[type="email"]:focus,
//input[type="url"]:focus,
//input[type="search"]:focus,
//input[type="tel"]:focus,
//input[type="color"]:focus,
//.uneditable-input:focus {
//    border-color: color-mix(in srgb, var(--formControlBackground) 50%, transparent);
//    box-shadow: none;
//    outline: 0 none;
//}

.testimonials-background-variable {
    background-color: var(--testimonialBackgroundVariable);
}

.testimonialBorderVariable {
    border-color: var(--testimonialBorderVariable) !important;
}
p {
    font-size: var(--paragraphSize);
    color: var(--paragraphColor);
    line-height: var(--lineHeight);
    letter-spacing: var(--letterSpacing);
}

.mw-layout-dark-background{
    h1,h2,h3,h4,h5,h6,p {
        color: var(--textOnDarkBackground);
    }
}

h1 {
    @media screen and (min-width: 615px) {
        font-size: var(--headingOne);
    }
    color: var(--headingColor);
    text-transform: var(--textTransform);
    font-weight: var(--fontWeight);
    letter-spacing: var(--letterSpacing);
    line-height: var(--lineHeight);

}

h2 {
    @media screen and (min-width: 615px) {
        font-size: var(--headingTwo);
    }
    color: var(--headingColor);
    text-transform: var(--textTransform);
    font-weight: var(--fontWeight);
    letter-spacing: var(--letterSpacing);
    line-height: var(--lineHeight);
}

h3 {
    @media screen and (min-width: 615px) {
        font-size: var(--headingThree);
    }
    color: var(--headingColor);
    text-transform: var(--textTransform);
    font-weight: var(--fontWeight);
    letter-spacing: var(--letterSpacing);
    line-height: var(--lineHeight);
}

h4 {
    @media screen and (min-width: 615px) {
        font-size: var(--headingFour);
    }

    color: var(--headingColor);
    text-transform: var(--textTransform);
    font-weight: var(--fontWeight);
    letter-spacing: var(--letterSpacing);
    line-height: var(--lineHeight);

}

h5 {
    @media screen and (min-width: 615px) {
        font-size: var(--headingFive);
    }

    color: var(--headingColor);
    text-transform: var(--textTransform);
    font-weight: var(--fontWeight);
    letter-spacing: var(--letterSpacing);
    line-height: var(--lineHeight);
}

h6 {
    @media screen and (min-width: 615px) {
        font-size: var(--headingSix);
    }

    color: var(--headingColor);
    text-transform: var(--textTransform);
    font-weight: var(--fontWeight);
    letter-spacing: var(--letterSpacing);
    line-height: var(--lineHeight);
}

.mw-scale-hover-effect {
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}

.mw-scale-hover-effect:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}


.mw_form {
    .alert-danger {
        width: 50%;
        margin: 20px auto;

        ul {
            margin-bottom: 0;
        }
    }
}

.layouts-grids-background {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mw-layout-product-outOfStock {
    opacity: .5;
}

.mw-layout-product-stock {
    opacity: 1;
}

.page-item {
    &.active, &:hover, &:focus {
        .page-link {
            background-color: var(--primaryColor) !important;
            border-color: var(--primaryColor) !important;
            color: var(--btnTextColor) !important;
        }
    }

    .page-link {
        font-weight: normal !important;
        border-radius: 50% !important;
        width: 40px !important;
        height: 40px !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;


    }
}

.form-check-input:checked {
    background-color: #000 !important;
    border-color: #000 !important;
}

.mw-breadcrumb-current{
    color: var(--primaryColor);
}


body.js-dusk-browser-test {
    .mh-100vh {
        min-height: 500px !important;
    }
}

.mw-shop-module-wrapper {
    input, .btn:not(.btn-sm), select {
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 15px;
    }
}

.irs--round .irs-handle {
    border-color: #000 !important;
}

.irs--round .irs-to:before, .irs--round .irs-from:before {
    border-top-color: #000 !important;
}

.irs--round .irs-from, .irs--round .irs-to, .irs--round .irs-single, .irs--round .irs-bar {
    background-color: #000 !important;
}

.checkout-modal-products-wrapper {
    .quantity-field {
        display: flex;
        align-items: center;
        width: 120px;
    }

    .quantity-control {
        width: 30px;
        height: 30px;
        background-color: #f5f5f5;
        border: 1px solid;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-weight: bold;
    }

    .quantity-input {
        width: 40px;
        height: 30px;
        text-align: center;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin: 0 5px;
    }

    .increment {
        background-color: #84ffdc;
        color: #fff;
        border-color: #84ffdc;
    }

    .decrement {
        background-color: #FF8585;
        color: #fff;
        border-color: #FF8585;
    }

    .increment:hover,
    .decrement:hover {
        background-color: #000;
        border-color: #000;
        color: #fff;
    }
}

.mw-le--page-preview {
    .mw-notification {
        display: none;
    }
}

.mw-message-form-wrapper {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
    background-color: #ffffff75;
    z-index: 0;

}

.mw-message-form-wrapper .text-success {
   position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    z-index: 1;

    font-size: 27px;
}

.module-categories, .js-filter-category-tree {
    ul {
        padding: 0;
        margin-bottom: 10px;

        li {
            a {
                text-decoration: none;
            }
        }
    }
}
