@keyframes color {
  0% {
    background: #33CCCC; }
  20% {
    background: #33CC36; }
  40% {
    background: #B8CC33; }
  60% {
    background: #FCCA00; }
  80% {
    background: #33CC36; }
  100% {
    background: #33CCCC; } }
.animation-backgrounds-1 section.section.bg-animation {
  background: #33CCCC;
  /* Fallback */
  animation: color 9s infinite linear;
  text-align: center;
  padding: 2em; }
.animation-backgrounds-1 .btn {
  background-color: rgba(255, 255, 255, 0) !important;
  color: #ffffff !important;
  border-color: #ffffff !important;
  border-width: 2px !important;
  border-radius: 33px !important; }
  .animation-backgrounds-1 .btn:hover {
    background-color: #ffffff !important;
    color: #32c028 !important;
    border-color: #ffffff !important; }

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
.animation-backgrounds-2 section.section.bg-animation {
  background-size: 300% 300%;
  background-image: linear-gradient(-45deg, #3bade3 0%, #576fe6 25%, #9844b7 51%, #ff357f 100%);
  animation: AnimateBG 20s ease infinite; }
.animation-backgrounds-2 .btn {
  background-color: rgba(255, 255, 255, 0) !important;
  color: #ffffff !important;
  border-color: #ffffff !important;
  font-size: 16px !important;
  padding: 0.9em 2em !important; }
  .animation-backgrounds-2 .btn:hover {
    background-color: #ffffff !important;
    color: #006aff !important; }

.animation-backgrounds-3 {
  /* Animate Background*/
  /* ============= Animation background ========= */ }
@keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1; }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0; } }
  .animation-backgrounds-3 .container-fluid.animation {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background: #FFF; }
  .animation-backgrounds-3 .background {
    background: linear-gradient(132deg, #FC415A, #591BC5, #212335);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0px; }
  .animation-backgrounds-3 .cube {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #D7D4E4;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 12s ease-in forwards infinite; }
  .animation-backgrounds-3 .cube:nth-child(2n) {
    border-color: #FFF; }
  .animation-backgrounds-3 .cube:nth-child(2) {
    animation-delay: 2s;
    left: 25vw;
    top: 40vh; }
  .animation-backgrounds-3 .cube:nth-child(3) {
    animation-delay: 4s;
    left: 75vw;
    top: 50vh; }
  .animation-backgrounds-3 .cube:nth-child(4) {
    animation-delay: 6s;
    left: 90vw;
    top: 10vh; }
  .animation-backgrounds-3 .cube:nth-child(5) {
    animation-delay: 8s;
    left: 10vw;
    top: 85vh; }
  .animation-backgrounds-3 .cube:nth-child(6) {
    animation-delay: 10s;
    left: 50vw;
    top: 10vh; }
  .animation-backgrounds-3 .btn {
    background-color: #b500da !important;
    color: #ffffff !important;
    font-size: 18px !important;
    padding: 0.9em 2em !important;
    border-color: #b500da !important; }
    .animation-backgrounds-3 .btn:hover {
      background-color: rgba(255, 0, 0, 0) !important;
      color: #ffffff !important;
      border-color: #ffffff !important; }

.animation-backgrounds-4 {
  margin: 0;
  overflow: hidden; }
  .animation-backgrounds-4 .background {
    width: 100vw;
    height: 100vh;
    background: #3E1E68; }
  .animation-backgrounds-4 .background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation-name: move;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }
    .animation-backgrounds-4 .background span:nth-child(1) {
      color: #FFACAC;
      top: 28%;
      left: 23%;
      animation-duration: 14.1s;
      animation-delay: -2.4s;
      transform-origin: -15vw -1vh;
      box-shadow: 40vmin 0 11.9313146178vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(2) {
      color: #FFACAC;
      top: 15%;
      left: 30%;
      animation-duration: 12.9s;
      animation-delay: -1.2s;
      transform-origin: -6vw 5vh;
      box-shadow: 40vmin 0 11.3890506187vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(3) {
      color: #E45A84;
      top: 94%;
      left: 42%;
      animation-duration: 13.4s;
      animation-delay: -5.6s;
      transform-origin: -22vw 0vh;
      box-shadow: 40vmin 0 5.9273620743vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(4) {
      color: #FFACAC;
      top: 89%;
      left: 40%;
      animation-duration: 10.3s;
      animation-delay: -5s;
      transform-origin: -10vw -21vh;
      box-shadow: -40vmin 0 9.4352221295vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(5) {
      color: #FFACAC;
      top: 59%;
      left: 36%;
      animation-duration: 13.3s;
      animation-delay: -10.7s;
      transform-origin: -7vw -14vh;
      box-shadow: -40vmin 0 8.2783192285vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(6) {
      color: #FFACAC;
      top: 45%;
      left: 74%;
      animation-duration: 16s;
      animation-delay: -3.5s;
      transform-origin: 25vw 22vh;
      box-shadow: -40vmin 0 9.0275079914vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(7) {
      color: #583C87;
      top: 61%;
      left: 93%;
      animation-duration: 10.7s;
      animation-delay: -8.5s;
      transform-origin: -12vw 17vh;
      box-shadow: -40vmin 0 6.6047337346vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(8) {
      color: #E45A84;
      top: 45%;
      left: 31%;
      animation-duration: 12.3s;
      animation-delay: -6.7s;
      transform-origin: -17vw -22vh;
      box-shadow: 40vmin 0 12.0383383928vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(9) {
      color: #E45A84;
      top: 85%;
      left: 64%;
      animation-duration: 10.1s;
      animation-delay: -5.7s;
      transform-origin: 3vw -24vh;
      box-shadow: -40vmin 0 10.0557550379vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(10) {
      color: #583C87;
      top: 11%;
      left: 18%;
      animation-duration: 12.7s;
      animation-delay: -10.3s;
      transform-origin: 13vw 16vh;
      box-shadow: 40vmin 0 9.3004645678vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(11) {
      color: #E45A84;
      top: 32%;
      left: 7%;
      animation-duration: 12.9s;
      animation-delay: -8.7s;
      transform-origin: 25vw 3vh;
      box-shadow: 40vmin 0 6.8213089506vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(12) {
      color: #E45A84;
      top: 71%;
      left: 27%;
      animation-duration: 12.6s;
      animation-delay: -12.7s;
      transform-origin: 19vw 8vh;
      box-shadow: -40vmin 0 5.3578885923vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(13) {
      color: #FFACAC;
      top: 13%;
      left: 23%;
      animation-duration: 13.3s;
      animation-delay: -1.2s;
      transform-origin: 6vw -5vh;
      box-shadow: -40vmin 0 12.3972814086vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(14) {
      color: #583C87;
      top: 42%;
      left: 87%;
      animation-duration: 12.1s;
      animation-delay: -6.6s;
      transform-origin: -1vw 23vh;
      box-shadow: 40vmin 0 5.71835642vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(15) {
      color: #583C87;
      top: 71%;
      left: 62%;
      animation-duration: 13.3s;
      animation-delay: -8.9s;
      transform-origin: 17vw 18vh;
      box-shadow: 40vmin 0 6.0126082236vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(16) {
      color: #E45A84;
      top: 41%;
      left: 49%;
      animation-duration: 11.8s;
      animation-delay: -3.8s;
      transform-origin: 19vw -4vh;
      box-shadow: 40vmin 0 13.5533373999vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(17) {
      color: #583C87;
      top: 65%;
      left: 70%;
      animation-duration: 10.3s;
      animation-delay: -3.4s;
      transform-origin: -2vw -9vh;
      box-shadow: 40vmin 0 5.2646960098vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(18) {
      color: #583C87;
      top: 39%;
      left: 65%;
      animation-duration: 10.8s;
      animation-delay: -6.8s;
      transform-origin: 17vw -17vh;
      box-shadow: 40vmin 0 9.9422044059vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(19) {
      color: #FFACAC;
      top: 86%;
      left: 9%;
      animation-duration: 13.1s;
      animation-delay: -6.9s;
      transform-origin: 22vw 7vh;
      box-shadow: -40vmin 0 12.7712396492vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(20) {
      color: #FFACAC;
      top: 37%;
      left: 52%;
      animation-duration: 15.7s;
      animation-delay: -13.8s;
      transform-origin: 3vw -16vh;
      box-shadow: -40vmin 0 14.9251560452vmin currentColor; }
@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg); } }
  .animation-backgrounds-4 .btn {
    color: #ffffff !important;
    border-color: #ffffff !important;
    border-radius: 33px !important;
    font-size: 18px !important;
    padding: 0.9em 2em !important;
    background-color: transparent !important; }
    .animation-backgrounds-4 .btn:hover {
      background-color: #ffffff !important;
      color: #950063 !important; }

.animation-backgrounds-5 .context {
  width: 100%;
  position: absolute;
  top: 50vh; }
.animation-backgrounds-5 .area {
  width: 100%;
  height: 100vh; }
.animation-backgrounds-5 .circles {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }
.animation-backgrounds-5 .circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px; }
.animation-backgrounds-5 .circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s; }
.animation-backgrounds-5 .circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s; }
.animation-backgrounds-5 .circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s; }
.animation-backgrounds-5 .circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s; }
.animation-backgrounds-5 .circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s; }
.animation-backgrounds-5 .circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s; }
.animation-backgrounds-5 .circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s; }
.animation-backgrounds-5 .circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s; }
.animation-backgrounds-5 .circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s; }
.animation-backgrounds-5 .circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s; }
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0; }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%; } }
.animation-backgrounds-5 .btn {
  background-color: rgba(255, 255, 255, 0) !important;
  color: #ffffff !important;
  border-color: #ffffff !important;
  border-width: 4px !important;
  font-size: 16px !important;
  padding: 0.9em 2em !important; }

.animation-backgrounds-6 .bg-animation {
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
  z-index: 3; }
.animation-backgrounds-6 .stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
  z-index: -1; }
.animation-backgrounds-6 .star {
  --star-color: #ffffff;
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite; }
  @media screen and (max-width: 750px) {
    .animation-backgrounds-6 .star {
      animation: fall var(--fall-duration) var(--fall-delay) linear infinite; } }
  .animation-backgrounds-6 .star:nth-child(1) {
    --star-tail-length: 5.88em;
    --top-offset: 75.66vh;
    --fall-duration: 9.143s;
    --fall-delay: 4.071s; }
  .animation-backgrounds-6 .star:nth-child(2) {
    --star-tail-length: 5.38em;
    --top-offset: 47.92vh;
    --fall-duration: 10.741s;
    --fall-delay: 6.657s; }
  .animation-backgrounds-6 .star:nth-child(3) {
    --star-tail-length: 6.68em;
    --top-offset: 2.53vh;
    --fall-duration: 9.558s;
    --fall-delay: 4.486s; }
  .animation-backgrounds-6 .star:nth-child(4) {
    --star-tail-length: 5.76em;
    --top-offset: 52.44vh;
    --fall-duration: 9.265s;
    --fall-delay: 0.179s; }
  .animation-backgrounds-6 .star:nth-child(5) {
    --star-tail-length: 5.77em;
    --top-offset: 35.98vh;
    --fall-duration: 11.755s;
    --fall-delay: 0.258s; }
  .animation-backgrounds-6 .star:nth-child(6) {
    --star-tail-length: 7.38em;
    --top-offset: 2.09vh;
    --fall-duration: 8.444s;
    --fall-delay: 1.792s; }
  .animation-backgrounds-6 .star:nth-child(7) {
    --star-tail-length: 5.15em;
    --top-offset: 6.24vh;
    --fall-duration: 6.624s;
    --fall-delay: 1.535s; }
  .animation-backgrounds-6 .star:nth-child(8) {
    --star-tail-length: 5.22em;
    --top-offset: 7vh;
    --fall-duration: 7.353s;
    --fall-delay: 0.425s; }
  .animation-backgrounds-6 .star:nth-child(9) {
    --star-tail-length: 7.09em;
    --top-offset: 37.54vh;
    --fall-duration: 6.973s;
    --fall-delay: 7.515s; }
  .animation-backgrounds-6 .star:nth-child(10) {
    --star-tail-length: 6.48em;
    --top-offset: 88.67vh;
    --fall-duration: 6.853s;
    --fall-delay: 4.201s; }
  .animation-backgrounds-6 .star:nth-child(11) {
    --star-tail-length: 5.68em;
    --top-offset: 94.05vh;
    --fall-duration: 10.408s;
    --fall-delay: 5.23s; }
  .animation-backgrounds-6 .star:nth-child(12) {
    --star-tail-length: 6.08em;
    --top-offset: 70.55vh;
    --fall-duration: 8.949s;
    --fall-delay: 2.658s; }
  .animation-backgrounds-6 .star:nth-child(13) {
    --star-tail-length: 7.13em;
    --top-offset: 38.06vh;
    --fall-duration: 6.575s;
    --fall-delay: 8.183s; }
  .animation-backgrounds-6 .star:nth-child(14) {
    --star-tail-length: 5em;
    --top-offset: 58.05vh;
    --fall-duration: 11.103s;
    --fall-delay: 2.974s; }
  .animation-backgrounds-6 .star:nth-child(15) {
    --star-tail-length: 5.72em;
    --top-offset: 70.61vh;
    --fall-duration: 9.694s;
    --fall-delay: 5.967s; }
  .animation-backgrounds-6 .star:nth-child(16) {
    --star-tail-length: 5.42em;
    --top-offset: 2.25vh;
    --fall-duration: 6.989s;
    --fall-delay: 0.831s; }
  .animation-backgrounds-6 .star:nth-child(17) {
    --star-tail-length: 7.32em;
    --top-offset: 66.14vh;
    --fall-duration: 10.466s;
    --fall-delay: 7.204s; }
  .animation-backgrounds-6 .star:nth-child(18) {
    --star-tail-length: 6.6em;
    --top-offset: 67.77vh;
    --fall-duration: 7.947s;
    --fall-delay: 6.238s; }
  .animation-backgrounds-6 .star:nth-child(19) {
    --star-tail-length: 6.44em;
    --top-offset: 89.68vh;
    --fall-duration: 11.259s;
    --fall-delay: 4.174s; }
  .animation-backgrounds-6 .star:nth-child(20) {
    --star-tail-length: 5.08em;
    --top-offset: 24.56vh;
    --fall-duration: 10.53s;
    --fall-delay: 6.248s; }
  .animation-backgrounds-6 .star:nth-child(21) {
    --star-tail-length: 6.88em;
    --top-offset: 14.69vh;
    --fall-duration: 9.485s;
    --fall-delay: 3.925s; }
  .animation-backgrounds-6 .star:nth-child(22) {
    --star-tail-length: 5.4em;
    --top-offset: 32.98vh;
    --fall-duration: 6.401s;
    --fall-delay: 9.879s; }
  .animation-backgrounds-6 .star:nth-child(23) {
    --star-tail-length: 7.41em;
    --top-offset: 51.03vh;
    --fall-duration: 7.818s;
    --fall-delay: 9.187s; }
  .animation-backgrounds-6 .star:nth-child(24) {
    --star-tail-length: 7.09em;
    --top-offset: 40.61vh;
    --fall-duration: 6.283s;
    --fall-delay: 2.143s; }
  .animation-backgrounds-6 .star:nth-child(25) {
    --star-tail-length: 6.99em;
    --top-offset: 20.05vh;
    --fall-duration: 10.574s;
    --fall-delay: 7.932s; }
  .animation-backgrounds-6 .star:nth-child(26) {
    --star-tail-length: 7.09em;
    --top-offset: 45.95vh;
    --fall-duration: 10.262s;
    --fall-delay: 6.511s; }
  .animation-backgrounds-6 .star:nth-child(27) {
    --star-tail-length: 6.13em;
    --top-offset: 42.79vh;
    --fall-duration: 10.994s;
    --fall-delay: 6.383s; }
  .animation-backgrounds-6 .star:nth-child(28) {
    --star-tail-length: 6.61em;
    --top-offset: 99.79vh;
    --fall-duration: 9.529s;
    --fall-delay: 7.082s; }
  .animation-backgrounds-6 .star:nth-child(29) {
    --star-tail-length: 5.55em;
    --top-offset: 74.94vh;
    --fall-duration: 8.21s;
    --fall-delay: 1.35s; }
  .animation-backgrounds-6 .star:nth-child(30) {
    --star-tail-length: 5.77em;
    --top-offset: 93.33vh;
    --fall-duration: 11.696s;
    --fall-delay: 2.48s; }
  .animation-backgrounds-6 .star:nth-child(31) {
    --star-tail-length: 6.43em;
    --top-offset: 20.4vh;
    --fall-duration: 6.009s;
    --fall-delay: 2.002s; }
  .animation-backgrounds-6 .star:nth-child(32) {
    --star-tail-length: 7.27em;
    --top-offset: 52.21vh;
    --fall-duration: 7.568s;
    --fall-delay: 5.371s; }
  .animation-backgrounds-6 .star:nth-child(33) {
    --star-tail-length: 6.34em;
    --top-offset: 21.94vh;
    --fall-duration: 7.233s;
    --fall-delay: 5.559s; }
  .animation-backgrounds-6 .star:nth-child(34) {
    --star-tail-length: 7.38em;
    --top-offset: 70.2vh;
    --fall-duration: 8.012s;
    --fall-delay: 3.211s; }
  .animation-backgrounds-6 .star:nth-child(35) {
    --star-tail-length: 5.74em;
    --top-offset: 24.36vh;
    --fall-duration: 6.696s;
    --fall-delay: 0.208s; }
  .animation-backgrounds-6 .star:nth-child(36) {
    --star-tail-length: 5.53em;
    --top-offset: 43.03vh;
    --fall-duration: 8.624s;
    --fall-delay: 1.39s; }
  .animation-backgrounds-6 .star:nth-child(37) {
    --star-tail-length: 5.41em;
    --top-offset: 4.47vh;
    --fall-duration: 9.115s;
    --fall-delay: 3.504s; }
  .animation-backgrounds-6 .star:nth-child(38) {
    --star-tail-length: 5.04em;
    --top-offset: 68.68vh;
    --fall-duration: 9.149s;
    --fall-delay: 2.758s; }
  .animation-backgrounds-6 .star:nth-child(39) {
    --star-tail-length: 6.27em;
    --top-offset: 88.81vh;
    --fall-duration: 10.164s;
    --fall-delay: 6.478s; }
  .animation-backgrounds-6 .star:nth-child(40) {
    --star-tail-length: 5.29em;
    --top-offset: 30.58vh;
    --fall-duration: 9.306s;
    --fall-delay: 3.195s; }
  .animation-backgrounds-6 .star:nth-child(41) {
    --star-tail-length: 5.01em;
    --top-offset: 91.53vh;
    --fall-duration: 7.454s;
    --fall-delay: 3.324s; }
  .animation-backgrounds-6 .star:nth-child(42) {
    --star-tail-length: 6.03em;
    --top-offset: 11.58vh;
    --fall-duration: 7.763s;
    --fall-delay: 5.09s; }
  .animation-backgrounds-6 .star:nth-child(43) {
    --star-tail-length: 5.36em;
    --top-offset: 76.95vh;
    --fall-duration: 9.965s;
    --fall-delay: 8.268s; }
  .animation-backgrounds-6 .star:nth-child(44) {
    --star-tail-length: 5.81em;
    --top-offset: 35.38vh;
    --fall-duration: 11.75s;
    --fall-delay: 9.121s; }
  .animation-backgrounds-6 .star:nth-child(45) {
    --star-tail-length: 5.61em;
    --top-offset: 53.54vh;
    --fall-duration: 11.161s;
    --fall-delay: 6.866s; }
  .animation-backgrounds-6 .star:nth-child(46) {
    --star-tail-length: 6.08em;
    --top-offset: 19.57vh;
    --fall-duration: 6.099s;
    --fall-delay: 0.223s; }
  .animation-backgrounds-6 .star:nth-child(47) {
    --star-tail-length: 7.18em;
    --top-offset: 29.86vh;
    --fall-duration: 7.793s;
    --fall-delay: 0.515s; }
  .animation-backgrounds-6 .star:nth-child(48) {
    --star-tail-length: 7.35em;
    --top-offset: 80.6vh;
    --fall-duration: 6.208s;
    --fall-delay: 9.844s; }
  .animation-backgrounds-6 .star:nth-child(49) {
    --star-tail-length: 7.43em;
    --top-offset: 23.27vh;
    --fall-duration: 11.377s;
    --fall-delay: 3.582s; }
  .animation-backgrounds-6 .star:nth-child(50) {
    --star-tail-length: 7.08em;
    --top-offset: 4.7vh;
    --fall-duration: 6.295s;
    --fall-delay: 9.011s; }
  .animation-backgrounds-6 .star::before, .animation-backgrounds-6 .star::after {
    position: absolute;
    content: '';
    top: 0;
    left: calc(var(--star-width) / -2);
    width: var(--star-width);
    height: 100%;
    background: linear-gradient(45deg, transparent, currentColor, transparent);
    border-radius: inherit;
    animation: blink 2s linear infinite; }
  .animation-backgrounds-6 .star::before {
    transform: rotate(45deg); }
  .animation-backgrounds-6 .star::after {
    transform: rotate(-45deg); }
@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0); } }
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1; }
  70%, 80% {
    width: 0;
    opacity: 0.4; }
  100% {
    width: 0;
    opacity: 0; } }
@keyframes blink {
  50% {
    opacity: 0.6; } }
.animation-backgrounds-6 .btn {
  background-color: transparent !important;
  color: #ffffff !important;
  font-size: 16px !important;
  padding: 0.9em 2em !important;
  border-width: 2px !important;
  border-radius: 33px !important;
  border-color: #ffffff !important; }
  .animation-backgrounds-6 .btn:hover {
    background-color: #27437f !important;
    color: #ffffff !important;
    border-color: #ffffff !important; }

.animation-backgrounds-7 .wrapper {
  animation: scroll 70s linear infinite;
  background: url("../../img/animations/BACKGROUND.jpg"), #111111;
  z-index: 0;
  background-size: cover; }
@keyframes scroll {
  100% {
    background-position: 0px -3000px; } }
@media (prefers-reduced-motion) {
  .animation-backgrounds-7 .wrapper {
    animation: scroll 200s linear infinite; } }
@media (min-width: 670px) {
  .animation-backgrounds-7 .title {
    font-size: 5rem; } }
.animation-backgrounds-7 .btn {
  background-color: #bba32e !important;
  border-color: #11025a !important;
  border-width: 3px !important;
  border-radius: 33px !important;
  font-size: 18px !important;
  padding: 0.9em 2em !important; }
  .animation-backgrounds-7 .btn:hover {
    background-color: #11025a !important;
    color: #ffffff !important;
    border-color: #bba32e !important; }

.animation-backgrounds-8 {
  margin: 0;
  overflow: hidden; }
  .animation-backgrounds-8 .background {
    width: 100vw;
    height: 100vh;
    background: #3E1E68; }
  .animation-backgrounds-8 .background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation-name: move;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }
    .animation-backgrounds-8 .background span:nth-child(1) {
      color: #583C87;
      top: 23%;
      left: 50%;
      animation-duration: 11.7s;
      animation-delay: -10.1s;
      transform-origin: -19vw -9vh;
      box-shadow: 40vmin 0 5.1429505862vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(2) {
      color: #FFACAC;
      top: 92%;
      left: 94%;
      animation-duration: 14s;
      animation-delay: -9.5s;
      transform-origin: -13vw -3vh;
      box-shadow: 40vmin 0 14.4621906354vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(3) {
      color: #583C87;
      top: 9%;
      left: 22%;
      animation-duration: 13.9s;
      animation-delay: -0.2s;
      transform-origin: 16vw 25vh;
      box-shadow: 40vmin 0 11.3667229917vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(4) {
      color: #583C87;
      top: 25%;
      left: 31%;
      animation-duration: 11s;
      animation-delay: -0.6s;
      transform-origin: 24vw 23vh;
      box-shadow: 40vmin 0 13.8483154109vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(5) {
      color: #583C87;
      top: 42%;
      left: 71%;
      animation-duration: 13.1s;
      animation-delay: -3.8s;
      transform-origin: -18vw -8vh;
      box-shadow: -40vmin 0 7.9130785606vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(6) {
      color: #583C87;
      top: 93%;
      left: 77%;
      animation-duration: 13.9s;
      animation-delay: -6.7s;
      transform-origin: -23vw -9vh;
      box-shadow: 40vmin 0 11.2894366584vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(7) {
      color: #FFACAC;
      top: 16%;
      left: 48%;
      animation-duration: 14.2s;
      animation-delay: -4.8s;
      transform-origin: -4vw -14vh;
      box-shadow: -40vmin 0 8.3035671133vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(8) {
      color: #FFACAC;
      top: 71%;
      left: 97%;
      animation-duration: 13s;
      animation-delay: -13.5s;
      transform-origin: -5vw 12vh;
      box-shadow: -40vmin 0 10.5425577667vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(9) {
      color: #FFACAC;
      top: 36%;
      left: 60%;
      animation-duration: 14.6s;
      animation-delay: -9.6s;
      transform-origin: 13vw 19vh;
      box-shadow: 40vmin 0 12.5274730774vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(10) {
      color: #FFACAC;
      top: 45%;
      left: 85%;
      animation-duration: 11.5s;
      animation-delay: -11s;
      transform-origin: 5vw 11vh;
      box-shadow: -40vmin 0 11.3190957909vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(11) {
      color: #FFACAC;
      top: 59%;
      left: 57%;
      animation-duration: 13.2s;
      animation-delay: -8.6s;
      transform-origin: 14vw 16vh;
      box-shadow: 40vmin 0 11.9305321063vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(12) {
      color: #FFACAC;
      top: 17%;
      left: 57%;
      animation-duration: 15.8s;
      animation-delay: -11.5s;
      transform-origin: -19vw 8vh;
      box-shadow: 40vmin 0 7.9480990983vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(13) {
      color: #E45A84;
      top: 94%;
      left: 88%;
      animation-duration: 11.9s;
      animation-delay: -15s;
      transform-origin: 19vw 13vh;
      box-shadow: -40vmin 0 8.888518749vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(14) {
      color: #E45A84;
      top: 71%;
      left: 43%;
      animation-duration: 11.7s;
      animation-delay: -5.9s;
      transform-origin: -22vw -22vh;
      box-shadow: -40vmin 0 14.1029969666vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(15) {
      color: #583C87;
      top: 64%;
      left: 53%;
      animation-duration: 14.8s;
      animation-delay: -14.9s;
      transform-origin: 23vw 18vh;
      box-shadow: -40vmin 0 13.1049695507vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(16) {
      color: #FFACAC;
      top: 24%;
      left: 21%;
      animation-duration: 11.4s;
      animation-delay: -11.9s;
      transform-origin: -8vw -9vh;
      box-shadow: -40vmin 0 6.3489708848vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(17) {
      color: #583C87;
      top: 73%;
      left: 63%;
      animation-duration: 10.3s;
      animation-delay: -5.1s;
      transform-origin: -7vw -2vh;
      box-shadow: -40vmin 0 9.4194997733vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(18) {
      color: #FFACAC;
      top: 3%;
      left: 5%;
      animation-duration: 15.3s;
      animation-delay: -11.3s;
      transform-origin: -10vw -15vh;
      box-shadow: -40vmin 0 9.2081360274vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(19) {
      color: #583C87;
      top: 20%;
      left: 38%;
      animation-duration: 12.3s;
      animation-delay: -4.7s;
      transform-origin: 4vw 8vh;
      box-shadow: 40vmin 0 5.5225503363vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(20) {
      color: #FFACAC;
      top: 58%;
      left: 75%;
      animation-duration: 13.5s;
      animation-delay: -5.9s;
      transform-origin: -16vw -20vh;
      box-shadow: -40vmin 0 11.6126617565vmin currentColor; }
@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg); } }
  .animation-backgrounds-8 .btn {
    background-color: #ff00ae !important;
    color: #ffffff !important;
    border-radius: 33px !important;
    font-size: 18px !important;
    padding: 0.9em 2em !important; }
    .animation-backgrounds-8 .btn:hover {
      background-color: #7100b3 !important;
      color: #ffffff !important; }

.mw-vhmbgr--navigation .navbar-nav {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-direction: row; }

.mw-vhmbgr-active-popup ul {
  margin-bottom: 0;
  padding: 0; }
  .mw-vhmbgr-active-popup ul li {
    text-align: center; }
    .mw-vhmbgr-active-popup ul li a {
      text-decoration: none;
      font-weight: 600;
      margin-bottom: 10px;
      display: block; }
  .mw-vhmbgr-active-popup ul li:last-child {
    margin-bottom: 0; }
  .mw-vhmbgr-active-popup ul ul li a {
    font-weight: 400; }

.nav-item {
  list-style: none; }

@media screen and (max-width: 380px) {
  .menu-header-skin-1 .navT-header-menu {
    top: 26px;
    right: 10px;
    position: absolute;
    width: auto !important; } }
.templates-top-header-menu .module-social-links .mdi:before {
  font-size: 20px; }
.templates-top-header-menu .btn-phone {
  font-size: 12px; }
.templates-top-header-menu .top-header-background {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  min-height: 45px;
  list-style: none;
  padding: 5px 20px;
  margin-bottom: 0; }

.price-lists-7 .card {
  border: none;
  padding: 10px; }
.price-lists-7 .card::after {
  position: absolute;
  z-index: -1;
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); }
.price-lists-7 .card:hover {
  transform: scale(1.02, 1.02);
  -webkit-transform: scale(1.02, 1.02);
  backface-visibility: hidden;
  will-change: transform;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; }
.price-lists-7 .card:hover::after {
  opacity: 1; }
.price-lists-7 .card-title {
  font-size: 36px; }

.discount-label {
  position: absolute;
  top: 0;
  border: 1px solid #ed1c24;
  display: inline-block;
  text-align: center;
  z-index: 1; }

.discount-percentage {
  padding: 0.3rem 0.8rem;
  display: block;
  font-weight: 500;
  font-size: 1.6rem;
  background: #fff;
  color: black; }

.discount-label-text {
  padding: 0.3rem 0.8rem;
  background: #ed1c24;
  display: block;
  color: #fff;
  font-size: .7rem;
  font-weight: 500; }

.guesthouse-header .fx-deactivate, .guesthouse-header .fx-deactivate span {
  font-size: 48px; }
  @media screen and (max-width: 991px) {
    .guesthouse-header .fx-deactivate, .guesthouse-header .fx-deactivate span {
      font-size: 2rem; } }
  @media screen and (max-width: 600px) {
    .guesthouse-header .fx-deactivate, .guesthouse-header .fx-deactivate span {
      font-size: 1.5rem !important; } }
  @media screen and (max-width: 400px) {
    .guesthouse-header .fx-deactivate, .guesthouse-header .fx-deactivate span {
      font-size: 1rem !important; } }
.guesthouse-header .fx-deactivate-p, .guesthouse-header .fx-deactivate-p span {
  font-size: 24px; }
  @media screen and (max-width: 991px) {
    .guesthouse-header .fx-deactivate-p, .guesthouse-header .fx-deactivate-p span {
      font-size: 1.5rem; } }
  @media screen and (max-width: 600px) {
    .guesthouse-header .fx-deactivate-p, .guesthouse-header .fx-deactivate-p span {
      font-size: 1.2rem !important; } }
  @media screen and (max-width: 400px) {
    .guesthouse-header .fx-deactivate-p, .guesthouse-header .fx-deactivate-p span {
      font-size: 1rem !important; } }

@media screen and (max-width: 700px) {
  #to-top {
    display: none !important; } }

@media screen and (min-width: 1360px) {
  .shop-inner-gallery .shop-inner-gallery-thumbnails {
    position: sticky;
    top: 60px;
    align-self: flex-start; } }
.video-background-skin {
  background-color: black !important; }

.navbar-light .navbar-toggler {
  border-radius: 0 !important;
  padding: 11px 15px; }

.header-menu-toggle-button {
  font-size: 1.5rem !important; }

.header-section-title, .header-section-title span {
  overflow-wrap: break-word; }
  @media screen and (max-width: 991px) {
    .header-section-title, .header-section-title span {
      font-size: 3rem; } }
  @media screen and (max-width: 600px) {
    .header-section-title, .header-section-title span {
      font-size: 2.5rem !important; } }
  @media screen and (max-width: 400px) {
    .header-section-title, .header-section-title span {
      font-size: 2rem !important; } }

.header-section-p, .header-section-p span {
  overflow-wrap: break-word; }

[data-overlay] .background-image-holder:after {
  background-image: unset; }

.new-skin-shop .shop-inner-gallery .shop-inner-gallery-thumbnails {
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap; }
  .new-skin-shop .shop-inner-gallery .shop-inner-gallery-thumbnails a {
    padding: 70px;
    margin-right: 17px !important;
    max-width: 150px; }
    @media screen and (min-width: 1001px) {
      .new-skin-shop .shop-inner-gallery .shop-inner-gallery-thumbnails a {
        height: 90px;
        padding: 45px; } }
    @media screen and (max-width: 1000px) {
      .new-skin-shop .shop-inner-gallery .shop-inner-gallery-thumbnails a {
        height: 80px;
        padding: 40px; } }
    @media screen and (max-width: 468px) {
      .new-skin-shop .shop-inner-gallery .shop-inner-gallery-thumbnails a {
        height: 60px;
        padding: 30px; } }

.section-content-73 .box-into-image {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px 25px;
  top: 90px;
  right: -55px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; }
.section-content-73 .box-into-image i {
  background-color: #F75C4E;
  padding: 10px;
  border-radius: 50%;
  color: #ffffff;
  font-size: 30px; }
.section-content-73 .content-73-image {
  width: 100%;
  height: auto;
  border-radius: 40px; }
.section-content-73 .content-73-h1 {
  font-size: 55px;
  font-weight: bold; }
.section-content-73 .content-73-p {
  font-weight: 300;
  color: #575455;
  font-size: 16px; }
.section-content-73 .content-73-btn {
  background-color: #1F7CFF !important;
  color: #ffffff !important;
  border-color: #1f7cff !important;
  border-radius: 10px !important;
  font-size: 18px !important;
  padding: 0.9em 2em !important; }

.footer-skin-29 h1, .footer-skin-29 h2, .footer-skin-29 h3, .footer-skin-29 h4, .footer-skin-29 h5, .footer-skin-29 h6, .footer-skin-29 p, .footer-skin-29 a {
  color: #ffffff; }
.footer-skin-29 .content-73-btn {
  border-color: #ffffff !important;
  border-radius: 10px !important;
  font-size: 18px !important;
  padding: 0.9em 2em !important; }
.footer-skin-29 .content-73-btn-2 {
  border-color: #ffffff !important;
  border-radius: 10px !important;
  font-size: 18px !important;
  padding: 0.9em 2em !important; }
.footer-skin-29 .absolute-container {
  top: -35%;
  left: 25%;
  border-radius: 10px; }
.footer-skin-29 .footer-gray-text {
  color: #C6C6C6; }
.footer-skin-29 .content-73-image {
  height: auto;
  width: auto; }

.container .container {
  width: auto; }

.cloneable {
  padding: 15px; }

.mw-layout-parallax .mw-layout-background-block .mw-layout-background-node {
  background-position: center center;
  background-attachment: fixed !important; }

.img-as-background img {
  width: 100%;
  height: 100%;
  object-fit: contain; }

.slider_v2-default.swiper .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background: white; }
.slider_v2-default.swiper .swiper-pagination-horizontal {
  bottom: 15px; }
.slider_v2-default.swiper .mw-slider-v2-buttons-slide {
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  position: absolute; }
  @media screen and (min-width: 1200px) {
    .slider_v2-default.swiper .mw-slider-v2-buttons-slide {
      width: 60px; } }
  .slider_v2-default.swiper .mw-slider-v2-buttons-slide:after {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #f5f5f5;
    border-radius: 50%;
    opacity: 70%; }
    @media screen and (max-width: 500px) {
      .slider_v2-default.swiper .mw-slider-v2-buttons-slide:after {
        background-color: unset !important;
        filter: invert(1); } }
    @media screen and (min-width: 1200px) {
      .slider_v2-default.swiper .mw-slider-v2-buttons-slide:after {
        width: 60px;
        height: 60px; } }
  .slider_v2-default.swiper .mw-slider-v2-buttons-slide:hover:after {
    opacity: 85%; }
.slider_v2-default.swiper .mw-slider-v2-button-prev {
  left: 10px; }
  @media screen and (min-width: 1200px) {
    .slider_v2-default.swiper .mw-slider-v2-button-prev {
      left: 50px; } }
  .slider_v2-default.swiper .mw-slider-v2-button-prev:after {
    content: url('data:image/svg+xml,<svg fill="" xmlns="http://www.w3.org/2000/svg" height="40" viewBox="0 -960 960 960" width="40"><path d="M560.41-253.847 333.847-480.41 560.41-707.23l35.794 35.794L405.435-480.41l190.769 190.769-35.794 35.794Z"/></svg>'); }
.slider_v2-default.swiper .mw-slider-v2-button-next {
  right: 10px; }
  @media screen and (min-width: 1200px) {
    .slider_v2-default.swiper .mw-slider-v2-button-next {
      right: 50px; } }
  .slider_v2-default.swiper .mw-slider-v2-button-next:after {
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="40" viewBox="0 -960 960 960" width="40"><path d="M530.565-480.41 339.796-671.436l35.794-35.794 226.563 226.82L375.59-253.847l-35.794-35.794L530.565-480.41Z"/></svg>');
    padding-left: 5px; }

.badge.badge-number, #btn-header-layout-btn {
  padding: 7px 11px !important; }

.btn-sm {
  padding: 5px 15px; }

.mw-scale-hover-effect {
  transform: scale(1);
  transition: all 0.3s ease-in-out; }

.mw-scale-hover-effect:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out; }

.mw_form .alert-danger {
  width: 50%;
  margin: 20px auto; }
  .mw_form .alert-danger ul {
    margin-bottom: 0; }

.layouts-grids-background {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.mw-layout-product-outOfStock {
  opacity: .5; }

.mw-layout-product-stock {
  opacity: 1; }

.page-item .page-link {
  font-weight: normal !important;
  border-radius: 50% !important;
  width: 40px !important;
  height: 40px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important; }

.form-check-input:checked {
  background-color: #000 !important;
  border-color: #000 !important; }

body.js-dusk-browser-test .mh-100vh, body.js-dusk-browser-test .guesthouse-header {
  max-height: 500px !important;
  min-height: 500px !important; }
body.js-dusk-browser-test .module-background {
  min-height: unset !important; }

.mw-shop-module-wrapper input, .mw-shop-module-wrapper .btn:not(.btn-sm), .mw-shop-module-wrapper select {
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px; }

.irs--round .irs-handle {
  border-color: #000 !important; }

.irs--round .irs-to:before, .irs--round .irs-from:before {
  border-top-color: #000 !important; }

.irs--round .irs-from, .irs--round .irs-to, .irs--round .irs-single, .irs--round .irs-bar {
  background-color: #000 !important; }

.checkout-modal-products-wrapper .quantity-field {
  display: flex;
  align-items: center;
  width: 120px; }
.checkout-modal-products-wrapper .quantity-control {
  width: 30px;
  height: 30px;
  background-color: #f5f5f5;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold; }
.checkout-modal-products-wrapper .quantity-input {
  width: 40px;
  height: 30px;
  text-align: center;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0 5px; }
.checkout-modal-products-wrapper .increment {
  background-color: #84ffdc;
  color: #fff;
  border-color: #84ffdc; }
.checkout-modal-products-wrapper .decrement {
  background-color: #FF8585;
  color: #fff;
  border-color: #FF8585; }
.checkout-modal-products-wrapper .increment:hover,
.checkout-modal-products-wrapper .decrement:hover {
  background-color: #000;
  border-color: #000;
  color: #fff; }

.mw-le--page-preview .mw-notification {
  display: none; }

.mw-message-form-wrapper {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  position: absolute;
  background-color: #ffffff75;
  z-index: 0; }

.mw-message-form-wrapper .text-success {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  z-index: 1;
  font-size: 27px; }

.module-categories ul, .mw-shop-module-wrapper ul {
  padding: 0;
  margin: 0; }
  .module-categories ul li, .mw-shop-module-wrapper ul li {
    margin-bottom: 5px !important; }
    .module-categories ul li a, .mw-shop-module-wrapper ul li a {
      text-decoration: none; }

.mw-admin-action-links {
  position: relative;
  text-decoration: none !important;
  color: #000; }
  .mw-admin-action-links:disabled {
    opacity: .3;
    pointer-events: none; }
  .mw-admin-action-links.mw-adm-liveedit-tabs {
    font-weight: 600; }
    .mw-admin-action-links.mw-adm-liveedit-tabs:active, .mw-admin-action-links.mw-adm-liveedit-tabs:focus, .mw-admin-action-links.mw-adm-liveedit-tabs.active {
      font-weight: 700; }
    .mw-admin-action-links.mw-adm-liveedit-tabs.text-danger {
      color: red !important; }
      .mw-admin-action-links.mw-adm-liveedit-tabs.text-danger:after {
        background-color: red; }
      .mw-admin-action-links.mw-adm-liveedit-tabs.text-danger:hover {
        color: red !important; }
  .mw-admin-action-links.mw-liveedit-button-animation-component {
    background: transparent;
    border: none; }
  .mw-admin-action-links:after {
    position: absolute;
    content: '';
    bottom: 5px;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #000;
    opacity: 0;
    transition: .5s; }
  .mw-admin-action-links:hover, .mw-admin-action-links:active, .mw-admin-action-links:focus, .mw-admin-action-links.active, .mw-admin-action-links.mw-action-links-with-accordion:not(.collapsed) {
    color: #000 !important;
    font-weight: 500; }
    .mw-admin-action-links:hover:after, .mw-admin-action-links:active:after, .mw-admin-action-links:focus:after, .mw-admin-action-links.active:after, .mw-admin-action-links.mw-action-links-with-accordion:not(.collapsed):after {
      width: 100%;
      opacity: 1; }
  .mw-admin-action-links:not(.mw-admin-action-links.btn) {
    padding-bottom: 12px !important; }

.list-group-item.active {
  background-color: #000;
  border-left-color: #000; }

.input-group-text {
  background-color: #000 !important;
  border-color: #000 !important;
  color: #fff !important; }

.font-weight-bold {
  font-weight: bold !important; }

/*# sourceMappingURL=styles-for-template.css.map */
