html {
  font-size: var(--mw-body-font-size); }

body {
  background-color: var(--mw-background-color); }

section.section {
  background-color: var(--mw-section-background-color); }

.header-top, .footer-background {
  background-color: var(--mw-background-color); }
  .header-top i.mdi, .header-top a, .footer-background i.mdi, .footer-background a {
    color: var(--mw-link-color); }
    .header-top i.mdi:hover, .header-top a:hover, .footer-background i.mdi:hover, .footer-background a:hover {
      color: var(--mw-link-hover-color); }

a i:before {
  color: var(--mw-primary-color); }

a, .btn-link {
  color: var(--mw-link-color);
  line-height: var(--mw-line-height);
  letter-spacing: var(--mw-letter-spacing); }

.btn.btn-primary, .btn {
  background-color: var(--mw-primary-btn-background-color);
  color: var(--mw-primary-btn-text-color);
  border-color: var(--mw-primary-btn-border-color); }
  .btn.btn-primary:hover, .btn.btn-primary:active, .btn:hover, .btn:active {
    background-color: var(--mw-primary-btn-background-color-hover);
    color: var(--mw-primary-btn-text-color-hover); }

.btn.btn-secondary {
  background-color: var(--mw-secondary-btn-background-color);
  color: var(--mw-secondary-btn-text-color);
  border-color: var(--mw-secondary-btn-border-color); }
  .btn.btn-secondary:hover, .btn.btn-secondary:active {
    background-color: var(--mw-secondary-btn-background-color-hover);
    color: var(--mw-secondary-btn-text-color-hover); }

.btn.btn-outline, .btn.btn-outline-primary, .btn.btn-outline-secondary {
  background-color: var(--mw-outline-btn-background-color);
  color: var(--mw-outline-btn-text-color);
  border-color: var(--mw-outline-btn-border-color); }
  .btn.btn-outline:hover, .btn.btn-outline:active, .btn.btn-outline-primary:hover, .btn.btn-outline-primary:active, .btn.btn-outline-secondary:hover, .btn.btn-outline-secondary:active {
    background-color: var(--mw-outline-btn-background-color-hover);
    color: var(--mw-outline-btn-text-color-hover); }

.btn:not(.btn-link, .btn-sm) {
  padding-block: var(--mw-btn-padding-block);
  padding-inline: var(--mw-btn-padding-inline); }

.btn:not(.btn-link) {
  border-radius: var(--btn-mw-border-radius);
  border-color: var(--btn-mw-border-color);
  border-width: var(--btn-mw-border-size);
  border-style: var(--btn-mw-border-style);
  color: var(--tblr-body-color); }
  .btn:not(.btn-link):hover, .btn:not(.btn-link):focus, .btn:not(.btn-link).active, .btn:not(.btn-link):active {
    outline: 0 none !important;
    box-shadow: none !important;
    border-color: color-mix(in srgb, var(--form-control-background) 50%, transparent); }

.form-label {
  color: var(--mw-form-label-color);
  font-size: var(--mw-form-label-font-size); }

.form-control, textarea.form-control, select.form-control, select.form-select {
  border-radius: var(--mw-form-control-border-radius);
  border-color: var(--mw-form-control-border-color);
  border-width: var(--mw-form-control-border-size);
  border-style: var(--mw-form-control-border-style);
  background-color: var(--mw-form-control-background);
  padding-block: var(--mw-form-control-padding-block);
  padding-inline: var(--mw-form-control-padding-inline);
  color: var(--mw-form-control-text-color); }
  .form-control:hover, .form-control:focus, .form-control.active, .form-control:active, textarea.form-control:hover, textarea.form-control:focus, textarea.form-control.active, textarea.form-control:active, select.form-control:hover, select.form-control:focus, select.form-control.active, select.form-control:active, select.form-select:hover, select.form-select:focus, select.form-select.active, select.form-select:active {
    color: var(--mw-form-control-text-hover-color);
    background-color: var(--mw-form-control-background); }
  .form-control::placeholder, textarea.form-control::placeholder, select.form-control::placeholder, select.form-select::placeholder {
    color: var(--mw-form-control-placeholder-color); }

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: color-mix(in srgb, var(--mw-form-control-background) 50%, transparent);
  box-shadow: none;
  outline: 0 none; }

body {
  background-color: var(--mw-background-color);
  color: var(--mw-body-color);
  font-family: var(--mw-font-family);
  font-size: var(--mw-body-font-size);
  line-height: var(--mw-line-height);
  letter-spacing: var(--mw-letter-spacing);
  font-weight: var(--mw-font-weight);
  text-transform: var(--mw-text-transform); }

p {
  font-size: var(--mw-paragraph-size);
  color: var(--mw-paragraph-color);
  line-height: var(--mw-line-height);
  letter-spacing: var(--mw-letter-spacing); }

.mw-layout-dark-background h1, .mw-layout-dark-background h2, .mw-layout-dark-background h3, .mw-layout-dark-background h4, .mw-layout-dark-background h5, .mw-layout-dark-background h6, .mw-layout-dark-background p {
  color: var(--mw-text-on-dark-background-color); }

h1 {
  color: var(--mw-heading-color);
  text-transform: var(--mw-text-transform);
  font-weight: var(--mw-font-weight);
  letter-spacing: var(--mw-letter-spacing);
  line-height: var(--mw-line-height); }
  @media screen and (min-width: 615px) {
    h1 {
      font-size: var(--mw-heading-one); } }

h2 {
  color: var(--mw-heading-color);
  text-transform: var(--mw-text-transform);
  font-weight: var(--mw-font-weight);
  letter-spacing: var(--mw-letter-spacing);
  line-height: var(--mw-line-height); }
  @media screen and (min-width: 615px) {
    h2 {
      font-size: var(--mw-heading-two); } }

h3 {
  color: var(--mw-heading-color);
  text-transform: var(--mw-text-transform);
  font-weight: var(--mw-font-weight);
  letter-spacing: var(--mw-letter-spacing);
  line-height: var(--mw-line-height); }
  @media screen and (min-width: 615px) {
    h3 {
      font-size: var(--mw-heading-three); } }

h4 {
  color: var(--mw-heading-color);
  text-transform: var(--mw-text-transform);
  font-weight: var(--mw-font-weight);
  letter-spacing: var(--mw-letter-spacing);
  line-height: var(--mw-line-height); }
  @media screen and (min-width: 615px) {
    h4 {
      font-size: var(--mw-heading-four); } }

h5 {
  color: var(--mw-heading-color);
  text-transform: var(--mw-text-transform);
  font-weight: var(--mw-font-weight);
  letter-spacing: var(--mw-letter-spacing);
  line-height: var(--mw-line-height); }
  @media screen and (min-width: 615px) {
    h5 {
      font-size: var(--mw-heading-fix); } }

h6 {
  color: var(--mw-heading-color);
  text-transform: var(--mw-text-transform);
  font-weight: var(--mw-font-weight);
  letter-spacing: var(--mw-letter-spacing);
  line-height: var(--mw-line-height); }
  @media screen and (min-width: 615px) {
    h6 {
      font-size: var(--mw-heading-six); } }

/*# sourceMappingURL=design-styles.css.map */
