:root {
  --mw-font-size: 16px;
  --mw-background-color: #ffffff;
  --mw-section-background-color: #ffffff;
  --mw-primary-color: #f4a261;
  --mw-secondary: #6c757d;
  --mw-textDark: #212529;
  --mw-textLight: #212529;
  --mw-links: #000000;
  --mw-paragraph-color: #000000;
  --mw-line-height: 1.5;
  --mw-letter-spacing: 0;
  --mw-font-weight: 400;
  --mw-text-transform: none;
  --mw-paragraph-size: 16px;
  --mw-heading-one: 64px;
  --mw-heading-two: 52px;
  --mw-heading-three: 44px;
  --mw-heading-four: 32px;
  --mw-heading-five: 24px;
  --mw-heading-six: 20px;
  --mw-font-family-sans-serif: Jost, sans-serif; }

html {
  font-size: var(--mw-body-font-size); }

body {
  background-color: var(--mw-background-color); }

section.section {
  background-color: var(--mw-section-background-color); }

.header-top, .footer-background, .header-background {
  background-color: var(--mw-background-color); }
  .header-top i.mdi, .header-top a, .footer-background i.mdi, .footer-background a, .header-background i.mdi, .header-background a {
    color: var(--mw-link-color); }
    .header-top i.mdi:hover, .header-top a:hover, .footer-background i.mdi:hover, .footer-background a:hover, .header-background i.mdi:hover, .header-background a:hover {
      color: var(--mw-link-hover-color); }

body {
  background-color: var(--mw-background-color);
  color: var(--mw-body-color);
  font-family: var(--mw-font-family);
  font-size: var(--mw-body-font-size);
  line-height: var(--mw-line-height);
  letter-spacing: var(--mw-letter-spacing);
  font-weight: var(--mw-font-weight);
  text-transform: var(--mw-text-transform); }

p {
  font-size: var(--mw-paragraph-size);
  color: var(--mw-paragraph-color);
  line-height: var(--mw-line-height);
  letter-spacing: var(--mw-letter-spacing); }

h1, h2, h3, h4, h5, h6 {
  font-family: var(--mw-font-family);
  font-weight: var(--mw-font-weight);
  text-transform: var(--mw-text-transform);
  line-height: var(--mw-line-height);
  letter-spacing: var(--mw-letter-spacing);
  color: var(--mw-heading-color); }

@media screen and (min-width: 615px) {
  h1 {
    font-size: var(--mw-heading-one); } }

@media screen and (min-width: 615px) {
  h2 {
    font-size: var(--mw-heading-two); } }

@media screen and (min-width: 615px) {
  h3 {
    font-size: var(--mw-heading-three); } }

@media screen and (min-width: 615px) {
  h4 {
    font-size: var(--mw-heading-four); } }

@media screen and (min-width: 615px) {
  h5 {
    font-size: var(--mw-heading-fix); } }

@media screen and (min-width: 615px) {
  h6 {
    font-size: var(--mw-heading-six); } }

.mw-layout-dark-background h1, .mw-layout-dark-background h2, .mw-layout-dark-background h3, .mw-layout-dark-background h4, .mw-layout-dark-background h5, .mw-layout-dark-background h6, .mw-layout-dark-background p {
  color: var(--mw-text-on-dark-background-color); }

a i:before {
  color: var(--mw-primary-color); }

a, .btn-link {
  color: var(--mw-link-color);
  line-height: var(--mw-line-height);
  letter-spacing: var(--mw-letter-spacing); }

.btn:not(.btn-link, .btn-sm) {
  padding-block: var(--mw-btn-padding-block);
  padding-inline: var(--mw-btn-padding-inline); }

.form-label {
  color: var(--mw-form-label-color);
  font-size: var(--mw-form-label-font-size); }

.btn, .form-control, textarea.form-control, select.form-control, select.form-select {
  border-radius: var(--mw-border-radius);
  border: var(--mw-border-size) var(--mw-border-style) var(--mw-border-color);
  font-weight: var(--mw-font-weight);
  padding: var(--mw-padding-block) var(--mw-padding-inline);
  background-color: var(--mw-background-color);
  font-size: var(--mw-font-size);
  text-transform: var(--mw-text-transform);
  color: var(--mw-text-color); }
  .btn:hover, .btn:active, .form-control:hover, .form-control:active, textarea.form-control:hover, textarea.form-control:active, select.form-control:hover, select.form-control:active, select.form-select:hover, select.form-select:active {
    background-color: var(--mw-btn-background-hover-color);
    color: var(--mw-btn-text-hover-color); }
  .btn::placeholder, .form-control::placeholder, textarea.form-control::placeholder, select.form-control::placeholder, select.form-select::placeholder {
    color: var(--mw-form-control-placeholder-color); }

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: color-mix(in srgb, var(--mw-form-control-background) 50%, transparent);
  box-shadow: none;
  outline: 0 none; }

/*# sourceMappingURL=design-styles.css.map */
