$mw-font-size: 16px;
$mw-light-color:    #212529;
$mw-white-color:    #ffffff;
$mw-dark-color:     #212529;
$mw-blue-color:     #0044de;
$mw-gray-color:     #6c757d;
$mw-black-color:    #000000;
$mw-orange-color:   #f4a261;

$mw-background-color:               $mw-white-color !default;
$mw-section-background-color:       $mw-white-color !default;
$mw-primary-color:                  $mw-orange-color !default;
$mw-secondary:                      $mw-gray-color !default;
$mw-textDark:                       $mw-dark-color !default;
$mw-textLight:                      $mw-light-color !default;
$mw-header-background:              $mw-white-color !default;
$mw-top-header-background:          $mw-black-color !default;
$mw-top-header-elements:            $mw-white-color !default;
$mw-menu-color:                     $mw-black-color !default;
$mw-menu-hover-color:               $mw-black-color !default;
$mw-links:                          $mw-black-color !default;
$mw-paragraph-color:                $mw-black-color !default;

$mw-line-height:            1.5 !default;
$mw-letter-spacing:         0 !default;
$mw-font-weight:            400 !default;
$mw-text-transform:         none !default;
$mw-paragraph-size:         1rem !default;
$mw-heading-one:            64px !default;
$mw-heading-two:            52px !default;
$mw-heading-three:          44px !default;
$mw-heading-four:           32px !default;
$mw-heading-five:           24px !default;
$mw-heading-six:            20px !default;

$mw-btn-border-radius: 33px !default;
$mw-btn-border-size: 2px !default;
$mw-btn-border-style: solid !default;
$mw-btn-padding-block: 15px !default;
$mw-btn-padding-inline: 24px !default;


$mw-form-control-border-radius: 2px !default;
$mw-form-control-border-size: 2px !default;
$mw-form-control-border-style: solid !default;
$mw-form-control-padding-block: 15px !default;
$mw-form-control-padding-inline: 15px !default;
$mw-form-label-font-size: 16px !default;


$mw-font-family-sans-serif:      'Jost', sans-serif !default;
$mw-font-family-base:            $mw-font-family-sans-serif !default;

$mw-font-family-base: $mw-font-family-sans-serif;
$mw-body-font-size:     $mw-font-size   !default;
$mw-menu-font-size:     $mw-font-size !default;
$mw-body-text-align:  null !default;
$mw-font-family:       $mw-font-family-base !default;
$mw-menu-font-family:   $mw-font-family-base !default;

$mw-nav-Font-size: 16px !default;
$mw-nav-Font-family: $mw-font-family-sans-serif !default;
$mw-nav-Link-font-size: 16px !default;
$mw-nav-Link-font-family: $mw-font-family-sans-serif !default;

$text-on-dark-background: $mw-white-color !default;


html {
    font-size: var(--mw-body-font-size);
}

body {
    background-color: var(--mw-background-color);
}

section.section {
    background-color: var(--mw-section-background-color);
}

.header-top, .footer-background {

    background-color: var(--mw-background-color);

    i.mdi, a {
        color: var(--mw-link-color);

        &:hover {
            color: var(--mw-link-hover-color);
        }

    }
}


a i:before {
    color: var(--mw-primary-color);
}



a, .btn-link {
    color: var(--mw-link-color);
    line-height: var(--mw-line-height);
    letter-spacing: var(--mw-letter-spacing);
}

.btn.btn-primary, .btn {
    background-color: var(--mw-primary-btn-background-color);
    color: var(--mw-primary-btn-text-color);
    border-color: var(--mw-primary-btn-border-color);

    &:hover, &:active {
        background-color: var(--mw-primary-btn-background-color-hover);
        color: var(--mw-primary-btn-text-color-hover);
    }
}

.btn.btn-secondary {
    background-color: var(--mw-secondary-btn-background-color);
    color: var(--mw-secondary-btn-text-color);
    border-color: var(--mw-secondary-btn-border-color);

    &:hover, &:active {
        background-color: var(--mw-secondary-btn-background-color-hover);
        color: var(--mw-secondary-btn-text-color-hover);
    }
}


.btn.btn-outline, .btn.btn-outline-primary, .btn.btn-outline-secondary {
    background-color: var(--mw-outline-btn-background-color);
    color: var(--mw-outline-btn-text-color);
    border-color: var(--mw-outline-btn-border-color);

    &:hover, &:active {
        background-color: var(--mw-outline-btn-background-color-hover);
        color: var(--mw-outline-btn-text-color-hover);
    }
}

.btn:not(.btn-link, .btn-sm) {
    padding-block: var(--mw-btn-padding-block);
    padding-inline: var(--mw-btn-padding-inline);
}


.btn:not(.btn-link) {
    border-radius: var(--btn-mw-border-radius);
    border-color: var(--btn-mw-border-color);
    border-width: var(--btn-mw-border-size);
    border-style: var(--btn-mw-border-style);
    color: var(--tblr-body-color);

    &:hover, &:focus, &.active, &:active {
        outline: 0 none !important;
        box-shadow: none !important;
        border-color: color-mix(in srgb, var(--form-control-background) 50%, transparent);

    }

    &:hover, &.focus, &.active, &:active {
        i {

        }
    }
}


.form-label {
    color: var(--mw-form-label-color);
    font-size: var(--mw-form-label-font-size);
}

.form-control, textarea.form-control, select.form-control, select.form-select {
    border-radius: var(--mw-form-control-border-radius);
    border-color: var(--mw-form-control-border-color);
    border-width: var(--mw-form-control-border-size);
    border-style: var(--mw-form-control-border-style);
    background-color: var(--mw-form-control-background);
    padding-block: var(--mw-form-control-padding-block);
    padding-inline: var(--mw-form-control-padding-inline);
    color: var(--mw-form-control-text-color);
    &:hover, &:focus, &.active, &:active {
        color: var(--mw-form-control-text-hover-color);
        background-color: var(--mw-form-control-background);
    }

    &::placeholder {
        color: var(--mw-form-control-placeholder-color);
    }

}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: color-mix(in srgb, var(--mw-form-control-background) 50%, transparent);
    box-shadow: none;
    outline: 0 none;
}

//.testimonials-background-variable {
//    background-color: var(--testimonialBackgroundVariable);
//}
//
//.testimonialBorderVariable {
//    border-color: var(--testimonialBorderVariable) !important;
//}

body {
    background-color: var(--mw-background-color);
    color: var(--mw-body-color);
    font-family: var(--mw-font-family);
    font-size: var(--mw-body-font-size);
    line-height: var(--mw-line-height);
    letter-spacing: var(--mw-letter-spacing);
    font-weight: var(--mw-font-weight);
    text-transform: var(--mw-text-transform);
}

p {
    font-size: var(--mw-paragraph-size);
    color: var(--mw-paragraph-color);
    line-height: var(--mw-line-height);
    letter-spacing: var(--mw-letter-spacing);
}

.mw-layout-dark-background{
    h1,h2,h3,h4,h5,h6,p {
        color: var(--mw-text-on-dark-background-color);
    }
}

h1 {
    @media screen and (min-width: 615px) {
        font-size: var(--mw-heading-one);
    }

    color: var(--mw-heading-color);
    text-transform: var(--mw-text-transform);
    font-weight: var(--mw-font-weight);
    letter-spacing: var(--mw-letter-spacing);
    line-height: var(--mw-line-height);
}

h2 {
    @media screen and (min-width: 615px) {
        font-size: var(--mw-heading-two);
    }

    color: var(--mw-heading-color);
    text-transform: var(--mw-text-transform);
    font-weight: var(--mw-font-weight);
    letter-spacing: var(--mw-letter-spacing);
    line-height: var(--mw-line-height);
}

h3 {
    @media screen and (min-width: 615px) {
        font-size: var(--mw-heading-three);
    }

    color: var(--mw-heading-color);
    text-transform: var(--mw-text-transform);
    font-weight: var(--mw-font-weight);
    letter-spacing: var(--mw-letter-spacing);
    line-height: var(--mw-line-height);
}

h4 {
    @media screen and (min-width: 615px) {
        font-size: var(--mw-heading-four);
    }

    color: var(--mw-heading-color);
    text-transform: var(--mw-text-transform);
    font-weight: var(--mw-font-weight);
    letter-spacing: var(--mw-letter-spacing);
    line-height: var(--mw-line-height);

}

h5 {
    @media screen and (min-width: 615px) {
        font-size: var(--mw-heading-fix);
    }

    color: var(--mw-heading-color);
    text-transform: var(--mw-text-transform);
    font-weight: var(--mw-font-weight);
    letter-spacing: var(--mw-letter-spacing);
    line-height: var(--mw-line-height);
}

h6 {
    @media screen and (min-width: 615px) {
        font-size: var(--mw-heading-six);
    }

    color: var(--mw-heading-color);
    text-transform: var(--mw-text-transform);
    font-weight: var(--mw-font-weight);
    letter-spacing: var(--mw-letter-spacing);
    line-height: var(--mw-line-height);
}
