$mw-font-size: 16px;
$mw-light-color:    #212529;
$mw-white-color:    #ffffff;
$mw-dark-color:     #212529;
$mw-blue-color:     #0044de;
$mw-gray-color:     #6c757d;
$mw-black-color:    #000000;
$mw-orange-color:   #f4a261;

$mw-background-color:               $mw-white-color !default;
$mw-section-background-color:       $mw-white-color !default;
$mw-primary-color:                  $mw-orange-color !default;
$mw-secondary:                      $mw-gray-color !default;
$mw-textDark:                       $mw-dark-color !default;
$mw-textLight:                      $mw-light-color !default;
$mw-links:                          $mw-black-color !default;
$mw-paragraph-color:                $mw-black-color !default;

$mw-line-height:            1.5 !default;
$mw-letter-spacing:         0 !default;
$mw-font-weight:            400 !default;
$mw-text-transform:         none !default;
$mw-paragraph-size:         1rem !default;

$mw-heading-one:            64px !default;
$mw-heading-two:            52px !default;
$mw-heading-three:          44px !default;
$mw-heading-four:           32px !default;
$mw-heading-five:           24px !default;
$mw-heading-six:            20px !default;

$mw-font-family-sans-serif:      'Jost', sans-serif !default;

:root {
    --mw-font-size: #{$mw-font-size};
    --mw-background-color: #{$mw-background-color};
    --mw-section-background-color: #{$mw-section-background-color};
    --mw-primary-color: #{$mw-primary-color};
    --mw-secondary: #{$mw-secondary};
    --mw-textDark: #{$mw-textDark};
    --mw-textLight: #{$mw-textLight};
    --mw-links: #{$mw-links};
    --mw-paragraph-color: #{$mw-paragraph-color};
    --mw-line-height: #{$mw-line-height};
    --mw-letter-spacing: #{$mw-letter-spacing};
    --mw-font-weight: #{$mw-font-weight};
    --mw-text-transform: #{$mw-text-transform};
    --mw-paragraph-size: #{$mw-paragraph-size};
    --mw-heading-one: #{$mw-heading-one};
    --mw-heading-two: #{$mw-heading-two};
    --mw-heading-three: #{$mw-heading-three};
    --mw-heading-four: #{$mw-heading-four};
    --mw-heading-five: #{$mw-heading-five};
    --mw-heading-six: #{$mw-heading-six};
    --mw-font-family-sans-serif: #{$mw-font-family-sans-serif};
}

html {
    font-size: var(--mw-body-font-size);
}

body {
    background-color: var(--mw-background-color);
}

section.section {
    background-color: var(--mw-section-background-color);
}

.header-top, .footer-background, .header-background {

    background-color: var(--mw-background-color);

    i.mdi, a {
        color: var(--mw-link-color);

        &:hover {
            color: var(--mw-link-hover-color);
        }

    }
}

body {
    background-color: var(--mw-background-color);
    color: var(--mw-body-color);
    font-family: var(--mw-font-family);
    font-size: var(--mw-body-font-size);
    line-height: var(--mw-line-height);
    letter-spacing: var(--mw-letter-spacing);
    font-weight: var(--mw-font-weight);
    text-transform: var(--mw-text-transform);
}

p {
    font-size: var(--mw-paragraph-size);
    color: var(--mw-paragraph-color);
    line-height: var(--mw-line-height);
    letter-spacing: var(--mw-letter-spacing);
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--mw-font-family);
    font-weight: var(--mw-font-weight);
    text-transform: var(--mw-text-transform);
    line-height: var(--mw-line-height);
    letter-spacing: var(--mw-letter-spacing);
    color: var(--mw-heading-color);
}

h1 {
    @media screen and (min-width: 615px) {
        font-size: var(--mw-heading-one);
    }
}

h2 {
    @media screen and (min-width: 615px) {
        font-size: var(--mw-heading-two);
    }
}

h3 {
    @media screen and (min-width: 615px) {
        font-size: var(--mw-heading-three);
    }
}

h4 {
    @media screen and (min-width: 615px) {
        font-size: var(--mw-heading-four);
    }
}

h5 {
    @media screen and (min-width: 615px) {
        font-size: var(--mw-heading-fix);
    }
}

h6 {
    @media screen and (min-width: 615px) {
        font-size: var(--mw-heading-six);
    }
}

.mw-layout-dark-background{
    h1,h2,h3,h4,h5,h6,p {
        color: var(--mw-text-on-dark-background-color);
    }
}



a i:before {
    color: var(--mw-primary-color);
}



a, .btn-link {
    color: var(--mw-link-color);
    line-height: var(--mw-line-height);
    letter-spacing: var(--mw-letter-spacing);
}

.btn:not(.btn-link, .btn-sm) {
    padding-block: var(--mw-btn-padding-block);
    padding-inline: var(--mw-btn-padding-inline);
}


.form-label {
    color: var(--mw-form-label-color);
    font-size: var(--mw-form-label-font-size);
}

.btn, .form-control, textarea.form-control, select.form-control, select.form-select {
    border-radius: var(--mw-border-radius);
    border: var(--mw-border-size) var(--mw-border-style) var(--mw-border-color);
    font-weight: var(--mw-font-weight);
    padding: var(--mw-padding-block) var(--mw-padding-inline);
    background-color: var(--mw-background-color);
    font-size: var(--mw-font-size);
    text-transform: var(--mw-text-transform);
    color: var(--mw-text-color);

    &:hover, &:active {
        background-color: var(--mw-btn-background-hover-color);
        color: var(--mw-btn-text-hover-color);
    }

    &::placeholder {
        color: var(--mw-form-control-placeholder-color);
    }
}


textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: color-mix(in srgb, var(--mw-form-control-background) 50%, transparent);
    box-shadow: none;
    outline: 0 none;
}


